.container {
	@include mq(md, max) {
		width: 100%;
	}
}

.container-checkout-header {
	border-bottom: 1px solid #ebebeb;
	margin: 0;
	width: 100%;
	max-width: initial;
	margin-bottom: 92px;
	@include mq(md, max) {
		margin-bottom: 50px;
	}
	@include mq(md, max) {
		margin-bottom: 30px;
	}

	.row-checkout-header {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1fr 1fr;
		@include mq(md, max) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		@include mq(cstm, max) {
			justify-content: center;
		}

		.header__title {
			display: flex;
			align-items: center;
			justify-content: center;
			@include mq(sm, max) {
				margin: 0;
			}
			img {
				max-width: 200px;

				@include mq(sm, max) {
					max-width: 130px;
				}
			}
		}
		.checkout-lock {
			display: flex;
			align-items: flex-end;
			justify-content: center;

			.header__security {
				font: normal normal 600 14px/16px $font-family;
				letter-spacing: 0px;
				color: #000000;
			}
		}
	}
}

.coupon-fields {
	margin-bottom: 9px !important;

	.info {
		text-align: right;
		display: flex;
		width: 150px;
		align-items: center;
		justify-content: space-around;
		margin: 0 auto;
	}
}

.cart-template {
	font-family: $font-family;
	@include mq(md, max) {
		padding: 0 0;
	}

	.cart-template-holder {
		@include mq(md, max) {
			padding: 0 16px;
		}
	}

	.item-unit-label {
		display: none;
	}

	.cart {
		padding: 0 !important;

		@media (max-width: 409px) {
			.table tbody tr + tr {
				border-top: 1px solid white;
			}

			tbody tr {
				margin-top: 0 !important;
			}
		}
	}

	.summary-totalizers {
		.monetary {
			text-align: end;
		}
		.accordion-body {
			margin-top: 20px;
			.table {
				tfoot tr {
					font: normal normal bold 16px/25px $font-family;
					letter-spacing: 0px;
					color: $checkout-black2;
				}
			}
		}
		.coupon-label label {
			font: normal normal 600 18px/20px $font-family;
			letter-spacing: 0px;
			color: $checkout-black2;
		}
		.summary-coupon-wrap {
			border: 1px solid $checkout-black2;
			.coupon-data {
				margin: 0;
				padding: 12px 50px;
			}
			.link-coupon-add {
				span {
					text-align: center;
					font: normal normal bold 13px/20px $font-family;
					letter-spacing: 1.04px;
					color: $checkout-black2;
				}
			}
		}
		// td.info {
		// 	width: 100%;
		// }
	}

	.cart {
		border: none;
		box-sizing: border-box;
		padding: 16px;

		@include mq(md, max) {
			margin: 0px 0 25px 0;
			border-left: none;
			border-right: none;
			border-radius: 0;
		}
	}

	.cart-fixed {
		font-family: $font-family;

		h2 {
			background: $color-white;
			border: none;
			color: #303030;
			font-size: 14px;
			font-weight: 500;
		}

		.item-unavailable {
			padding: 0;

			&-message {
				padding: 8px;
			}
		}

		.cart {
			ul li {
				border-top: none;
				margin: 0;
				// padding: 8px 0;
				border-bottom: 1px solid #000;
				padding-bottom: 3px;
			}
		}

		.summary-template-holder {
			border-top: none;
			background: $color-white;
			position: relative;
		}

		#go-to-cart-button a {
			color: #303030;
			text-decoration: underline;
		}

		#payment-data-submit {
			background: $color-black;
			border: none;
			border-radius: 0;
			color: $color-white;
			outline: none;
			transition: all 0.2s linear;
			&:hover {
				background: lighten($color-black, 5);
			}

			&:active {
				background: darken($color-black, 5);
			}
		}
	}

	.lookatme {
		background-color: $color-white;
	}

	.cart-items {
		tr {
			border: 1px solid $checkout-black;
		}

		th {
			font: normal normal 600 14px/16px $font-family;
			letter-spacing: 0px;
			color: $checkout-black;

			@include mq(md, max) {
				&.quantity-price,
				&.shipping-date {
					display: none;
				}
			}
		}

		.product-item {
			@media (max-width: 490px) {
				margin-top: 0;
			}
		}

		.product-image {
			height: auto;
			width: 72px;
			padding: 14px;
			@include mq(md, max) {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			@media (max-width: 490px) {
				padding: 0;
			}

			// @include mq(sm, max) {
			// 	width: 72px;
			// }

			img {
				height: 100%;
				max-width: 100%;
				width: 100%;

				@include mq(sm, max) {
					height: 72px;
					width: auto;
				}
			}
		}

		.description {
			span,
			strong {
				font: normal normal normal 12px/18px $font-family;
				letter-spacing: 0px;
				color: $checkout-black2;
			}
			strong {
				font: normal normal bold 12px/18px $font-family;
			}
		}

		.product-name {
			padding-right: 0;
			font: normal normal 600 12px/20px $font-family;
			letter-spacing: 0px;
			color: $checkout-black2;

			@include mq(lg, max) {
				width: 250px;
			}
			@media (max-width: 490px) {
				margin-left: 80px !important;
			}

			a {
				transition: ease-in 0.22s all;
				font: normal normal 600 16px/20px $font-family;
				letter-spacing: 0px;
				color: $checkout-black2;

				&:hover {
					color: darken($color-blue, 10);
					text-decoration: none;
				}

				// @media (max-width: 490px) {
				// 	margin-left: 23px;
				// }
			}

			.brand {
				font: normal normal bold 12px/22px $font-family;
				letter-spacing: 0px;
				color: $checkout-black2;
				margin: -4px 0;
			}
			.seller {
				font: normal normal normal 10px/15px $font-family;
				letter-spacing: 0px;
				color: $checkout-black2;
			}
		}

		td.shipping-date {
			font: normal normal normal 13px/20px $font-family;
			letter-spacing: 0px;
			color: $checkout-black2;
			text-transform: capitalize;

			@include mq(md, max) {
				display: none;
			}
		}

		.product-price {
			min-width: 100px;
			@include mq(md, max) {
				min-width: 78px;
			}
			@media (max-width: 490px) {
				position: absolute;
				bottom: 3px;
				right: 0;
			}

			span.list-price {
				text-decoration: line-through;
				font: normal normal normal 12px/20px $font-family;
				letter-spacing: 0px;
				color: $checkout-gray;
				@include mq(sm, max) {
					font-size: 12px;
					line-height: 14px;
				}

				.old-product-price-label {
					display: none;
				}
			}
		}

		td.quantity {
			align-items: center;
			border: 1px solid $checkout-black2;
			border-radius: 0;
			box-sizing: border-box;
			display: flex;
			justify-content: center;
			margin: 43px auto 0;
			max-height: 31px;
			padding: 0;
			width: max-content !important;

			@media (max-width: 490px) {
				margin-left: 84px !important;
				margin: 0 auto 0;
			}

			input {
				background-color: $color-white;
				border: 1px solid $color-white;
				border-radius: 0;
				border-width: 0 1px;
				display: block;
				max-height: 38px;
				margin: 0 !important;
				color: $color-gray2;
				box-shadow: none;

				@include mq(lg, max) {
					width: 24px !important;
				}
			}

			.icon-plus-sign,
			.icon-minus-sign {
				&::before {
					color: $color-black;
					display: block;
					font-weight: 500;
					// padding: 1px 12px;
				}
			}

			.icon-minus-sign {
				&:before {
					content: "-";
					font-size: 20px;
					padding: 7px;
				}
			}

			.icon-plus-sign {
				&:before {
					content: "+";
					font-size: 20px;
					padding: 7px;
				}
			}

			.item-quantity-change {
				@media (max-width: 979px) and (min-width: 768px) {
					position: inherit;
					bottom: inherit;
					left: inherit;
					height: inherit;
					width: inherit;
					top: inherit;
				}

				@media (max-width: 490px) {
					padding: 0;
				}
			}
		}

		.quantity-price,
		.best-price {
			.icon-question-sign,
			.new-product-price-label {
				display: none;
			}
			span {
				font: normal normal bold 16px/25px $font-family;
				letter-spacing: 0px;
				color: $checkout-black2;
			}
		}

		.quantity-price {
			@include mq(md, max) {
				display: none;
			}
		}

		.item-remove {
			@media (max-width: 490px) {
				top: 0;
			}
			.icon::before {
				color: $color-gray4;
				font-size: 15px;

				@include mq(md, max) {
					font-size: 18px;
				}
			}
		}

		.item-unavailable-message {
			background-color: #d8c8ac;
			color: $color-white;

			.icon-warning-sign {
				color: #bb4f4f;
			}

			.top-arrow {
				border-bottom-color: #d8c8ac;
			}
		}
	}

	.summary {
		.cart-more-options {
			margin: 0;
			width: max-content;

			.srp-container {
				@include mq(md, max) {
					padding: 0 16px;
				}

				.srp-main-title {
					font: normal normal 600 18px/20px $font-family;
					letter-spacing: 0px;
					color: $checkout-black2;

					@include mq(md, max) {
						margin-top: 0;
					}
				}

				.srp-description {
					display: none;
				}

				button.shp-open-options {
					border-radius: 0;
					border: none;
					background-color: $checkout-black2;
					font: normal normal bold 13px/20px $font-family;
					letter-spacing: 0px;
					color: $color-white;
					text-transform: uppercase;
					outline: none;
					padding: 12px 40px;
					transition: all 0.2s linear;

					&:hover {
						opacity: 0.5;
					}

					&:active {
						opacity: 0.8;
					}
				}
			}

			.srp-data {
				margin-top: 0;
				width: 280px;

				@include mq(cstm, max) {
					width: calc(100vw - 32px);
				}

				@include mq(md, max) {
					margin-bottom: 40px;
				}

				.srp-pickup-my-location__button {
					background-color: $color-black;
					border: none;
					border-radius: 5px;
					color: $color-white;
					outline: none;
					width: 100%;

					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 16px;
					letter-spacing: 0.05em;

					&:hover {
						background-color: lighten($color-black, 5);
					}

					&:active {
						background-color: darken($color-black, 5);
					}
				}
			}

			.srp-toggle {
				margin: 0 0 34px;

				&__wrapper {
					background-color: $color-white;
					border-radius: 100px;
					width: 100%;
					font-family: $font-family;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 16px;
					text-transform: uppercase;
				}

				&__current {
					border: 1px solid $color-blue;
					border-radius: 100px;
				}

				.blue {
					color: $color-blue;
				}

				label {
					width: 50%;

					&:active {
						background-color: #f0f0f0;
					}
				}
			}

			.srp-postal-code {
				.ship-postalCode {
					label,
					small {
						display: none;
					}

					input {
						border: 1px solid $checkout-black;
						border-radius: 0;
						box-shadow: none;
						color: $checkout-black;
						font-size: 12px;
						height: 44px;
						padding: 12px 8px;
						width: 172px;
					}

					& ~ button {
						background-color: $color-black;
						border: none;
						border-radius: 0;
						color: $color-white;
						font-size: 12px;
						height: 44px;
						letter-spacing: 1px;
						outline: none;
						position: absolute;
						right: -138px;
						transition: all 0.2s linear;
						width: 96px;
						text-transform: uppercase;

						&:hover {
							background-color: lighten($color-black, 5);
						}

						&:active {
							background-color: darken($color-black, 5);
						}
					}

					small a {
						font-family: $font-family;
						font-style: normal;
						font-weight: normal;
						font-size: 10px;
						line-height: 12px;
						color: $color-blue;
						margin-top: 7px;
					}

					span.help.error {
						color: red;
						font-size: 12px;
						position: absolute;
						left: 0;
						width: 100%;
						// top: 17px;
					}
				}
			}

			.srp-result {
				strong,
				.srp-items {
					color: #303030;
					font-weight: 400;
					font-size: 14px;
				}

				#deliver-at-text a {
					color: #303030;
					font-size: 16px;
					font-weight: 500;

					&:hover {
						text-decoration: underline;
					}
				}

				.srp-shipping-current-single {
					border: 1px solid $color-gray4;
					border-radius: 0;
					color: #303030;
					margin: 16px 0 0;
					padding: 4px 12px;

					svg path {
						fill: #d8c8ac;
					}
				}

				.srp-delivery-select {
					border: 1px solid $color-gray4;
				}

				.srp-delivery-select-container {
					border: 1px solid $color-gray4;
					border-radius: 0;

					.srp-shipping-current-many {
						&__name {
							color: #303030;
						}

						&__sla {
							color: #7d7d7d;
						}

						&__price {
							color: #7d7d7d;
							font-weight: 500;
						}

						&__arrow svg {
							fill: $color-gray4;
						}
					}
				}
			}
		}

		&-totalizers {
			padding: 0;
			width: 346px;
			margin-bottom: 0;

			.coupon-data {
				#cart-link-coupon-add {
					text-decoration: none;
					&:hover {
						text-decoration: underline;
						cursor: pointer;
					}
				}
				span {
					font-family: $font-family;
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 14px;
					color: $color-blue;
					text-decoration: none;
				}
			}

			@include mq(md, max) {
				padding: 0 16px;
				width: 100%;
			}

			.coupon-column {
				.coupon {
					margin: 0;
				}

				.link-coupon-add {
					color: #303030;
					font-size: 12px;
					text-decoration: underline;
				}

				.coupon-label label {
					margin-top: 12px;
					font: normal normal 600 18px/20px $font-family;
					letter-spacing: 0px;
					color: $checkout-black2;
					cursor: none;
				}

				.coupon-fields {
					margin-bottom: 32px;

					@include mq(sm, max) {
						span {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							i {
								position: absolute;
								right: 91px;
								opacity: 1;
							}
						}
					}

					input {
						border: 1px solid $checkout-black2;
						border-radius: 0;
						box-shadow: none;
						color: $color-gray4;
						font-size: 12px;
						height: 34px;
						padding: 0 12px;
						max-width: 160px;

						@include mq(sm, max) {
							max-width: 100%;
							width: 100%;
						}
					}

					button {
						background: $color-black;
						border: none;
						border-radius: 0;
						color: $color-white;
						font-size: 12px;
						height: 36px;
						letter-spacing: 1px;
						outline: none;
						transition: all 0.2s linear;
						width: 94px;
						text-transform: uppercase;

						@include mq(md, max) {
							width: 138px;
						}

						&:hover {
							background-color: lighten($color-black, 5);
						}

						&:active {
							background-color: darken($color-black, 5);
						}
					}
				}
			}

			.accordion-group {
				.Items .monetary {
					font: normal normal normal 14px/21px $font-family;
					letter-spacing: 0px;
					color: $checkout-black2;
				}
				.totalizers-list {
					border: 1px solid #333;

					tr {
						font: normal normal normal 14px/20px $font-family;
						letter-spacing: 0px;
						color: $checkout-black2;
						.info {
							padding-left: 20px;
						}
						.monetary {
							padding-right: 20px;
						}
					}
				}
				tr {
					border-bottom: none;
					justify-content: space-between;

					&.Items {
						.monetary {
							text-align: right;
						}
					}

					td {
						&.empty {
							display: none;
						}

						&.info {
							text-align: left;
							font: normal normal normal 14px/21px $font-family;
							letter-spacing: 0px;
							color: $checkout-black2;
						}
					}
				}

				tfoot {
					border: 1px solid #333;
					.info {
						padding-left: 20px;
					}
					.monetary {
						padding-right: 20px;
					}
					td.info,
					td.monetary {
						font: normal normal bold 16px/25px $font-family;
						letter-spacing: 0px;
						color: $checkout-black2;
					}
				}
			}
		}
	}

	.cart-links-bottom {
		display: flex;
		flex-direction: column;
		width: 343px;
		position: relative;

		@include mq(md, max) {
			padding: 0 19px;
			width: calc(100% - 35px);
			float: none;
			margin-bottom: 50px;
			margin-top: 0;
		}

		@include mq(md, min) {
			margin: 0;
			padding-bottom: 50px;
		}

		.link-choose-more-products-wrapper {
			display: block;
			text-align: center;
			margin-bottom: 16px;
			width: 100%;
			position: absolute;
			right: 90%;
			top: 10px;

			@include mq(md, max) {
				margin-bottom: 0px;
			}

			a {
				text-align: center;
				text-decoration: underline;
				font: normal normal normal 12px/18px $font-family;
				letter-spacing: 0.6px;
				color: $checkout-black2;
				text-transform: uppercase;
				padding: 14px 27px;
				border: 1px solid $checkout-black2;
			}
		}

		.btn-place-order-wrapper {
			a {
				background: $checkout-black2;
				border-radius: 0;
				display: block;
				font-size: 0;
				transition: ease-in 0.22s all;
				padding: 12px 19px;
				margin: -3px 0 0 -3px;

				&:hover {
					background-color: lighten($checkout-black2, 5);
				}

				&:hover {
					background-color: darken($checkout-black2, 5);
				}

				&:after {
					content: "finalizar compra";
					font-family: $font-family;
					font-weight: 500;
					font-size: 13px;
					letter-spacing: 0.05em;
					color: $color-white;
					text-transform: uppercase;
					vertical-align: middle;
					line-height: 19px;
					text-shadow: none;
				}
			}
		}
	}
}
