.empty-cart {
	font-family: $font-family;
	&-content {
		color: $color-black;
		text-align: center;

		@include mq(md, max) {
			padding: 0 16px;
		}
	}

	&-title {
		font-size: 20px;
	}

	&-links {
		.link-choose-products {
			background: $color-black;
			border: none;
			border-radius: 0;
			transition: ease-in 0.22s all;
			outline: none;
			font-family: $font-family;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			text-align: center;
			letter-spacing: 0.05em;
			color: $color-white;
			text-transform: uppercase;

			&:hover {
				background: lighten($color-black, 5);
			}
		}
	}
}
