@import "./checkout-vazio";
@import "./checkout-carrinho";
@import "./checkout-pagamento";
@import "./checkout-autenticacao";

html {
	height: 100%;
	min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

footer {
	margin-top: auto;
}

body {
	padding-top: 0;

	@include mq(md, max) {
		padding-left: 0;
	}

	&.body-cart {
		font-family: $font-family;
	}

	&.body-cart,
	&.body-order-form {
		@include mq(xl, min) {
			padding-top: 0;
		}

		@include mq(lg, max) {
			padding-bottom: 0 !important;
		}

		@include mq(md, max) {
			padding-right: 0;
			padding-left: 0;
		}
	}

	.container-cart {
		#cart-title {
			display: none !important;
		}
		@include mq(xl, min) {
			width: 1024px;
		}
	}
}

.headerCheckout {
	&__wrapper {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 12px 0;

		@include mq(md, max) {
			padding: 18px 8px;
		}
	}

	&__logo {
		img {
			height: 52px;
			width: auto;
		}
	}

	&__safeBuy {
		span {
			align-items: center;
			display: flex;
			text-transform: uppercase;
			font-family: $font-family;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			color: $color-gray;
		}

		i {
			margin-right: 8px;
		}
	}
}

.btn-success {
	background: $color-black;
	text-shadow: none;

	&:hover {
		background: lighten($color-black, 15%);
	}
}

.emailInfo h3 {
	color: $color-black !important;
}

#orderform-title {
	font: normal normal 600 32px/20px $font-family;
	letter-spacing: 0px;
	color: $checkout-black;
	margin: -50px 0 30px;
	@include mq(md, max) {
		margin: 0 0 27px 0;
		padding-left: 16px;
	}
}
#cart-title {
	color: $color-gray2;
	font-family: $font-family;
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	margin: 40px 0 30px;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	@include mq(md, max) {
		margin-left: 30px;
	}
}

.dropdown {
	&__content {
		&--closed {
			display: none;
		}
	}

	&__title {
		cursor: pointer;
		user-select: none;

		&::before,
		&::after {
			content: "";
			background: $color-gray2;
			display: block;
			float: right;
			height: 2px;
			width: 8px;
			margin-top: 8px;
		}

		&::before {
			transform: rotate(0deg);
			transition: 0.3s;
		}

		&::after {
			transform: rotate(90deg);
			transition: 0.3s;
			margin-right: -8px;
		}

		&.closed::before {
			transform: rotate(180deg);
		}

		&.closed::after {
			transform: rotate(0);
		}
	}
}

.footer__checkou {
	border-top: none;
	color: $color-gray2;
	width: 100%;

	&__wrapper {
		display: flex;
		flex-direction: column;
	}

	&__top {
		align-items: flex-start;
		background-color: $color-gray3;
		display: flex;
		justify-content: space-evenly;
		padding: 24px 0;

		@include mq(md, max) {
			flex-direction: column;
			padding: 32px 24px;
		}
	}

	&__doubts,
	&__informations {
		@include mq(md, max) {
			width: 100%;
		}
	}

	&__content {
		@include mq(md, max) {
			margin-bottom: 32px;
		}
	}

	&__title,
	&__subtitle,
	&__item,
	&__link {
		font-size: 12px;
		margin-bottom: 12px;
	}

	&__title {
		color: $color-gray2;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;

		@include mq(md, max) {
			margin-bottom: 24px;
		}
	}

	&__subtitle {
		font-weight: 500;
	}

	&__link a {
		color: $color-gray2;

		&:hover {
			color: darken($color-gray2, 10);
		}
	}

	&__socialMedia {
		display: flex;

		.footerCheckout__link {
			transition: all 0.2s linear;

			&:not(:last-child) {
				margin-right: 8px;
			}

			&:hover {
				opacity: 0.75;
			}
		}
	}

	&__bottom {
		align-items: center;
		display: flex;
		background-color: $color-white;
		justify-content: space-between;
		padding: 16px 32px;

		@include mq(md, max) {
			align-items: flex-start;
			flex-direction: column;
			padding: 16px;
		}
		@media (max-width: 375px) {
			align-items: flex-start;
			flex-direction: column;
			padding: 16px;
		}

		&__wrapper {
			display: flex;
			justify-content: space-between;
			max-width: 62%;
			width: 100%;

			@include mq(md, max) {
				max-width: 100%;
				flex-direction: column-reverse;
			}
		}
	}

	&__address {
		color: $color-gray2;
		font-family: $font-family;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		line-height: 12px;
		text-transform: capitalize;
		max-width: 40%;

		@include mq(md, max) {
			margin-bottom: 24px;
			max-width: 100%;
		}
	}

	&__stamps {
		align-items: center;
		display: flex;
		justify-self: center;

		@include mq(md, max) {
			align-self: center;
			margin-bottom: 12px;
		}

		&__divider {
			background-color: $color-gray4;
			display: inline-block;
			height: 24px;
			margin: 0 8px;
			width: 1px;
		}
	}

	&__developedBy ul {
		align-items: center;
		display: flex;
		list-style-type: none;
		margin: 0;

		li:last-child {
			margin-left: 16px;
		}

		a {
			align-items: center;
			color: $color-gray2;
			display: flex;
			font-family: $font-family;
			font-style: normal;
			font-weight: normal;
			font-size: 10px;
			line-height: 12px;
			text-decoration: none;

			span {
				margin-right: 8px;
			}
		}
	}
}

.container-footer__contact {
	background: #000000;
	width: initial;

	.footer__contact {
		.row {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			text-align: center;
			font: normal normal 300 10px/16px $font-family;
			letter-spacing: 1px;
			color: #ffffff;
			a {
				color: #ffffff;
			}

			.footer {
				&__logo {
					img {
						width: 250px;
						height: 43px;
						margin: 50px 0;
					}
				}
				&__address {
					margin-top: 50px;
				}
				&__sac {
					img {
						max-width: 58px;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}

.cart-fixed.cart-fixed-transition {
	.totalizers-list,
	.accordion-group tfoot {
		border: none !important;

		tr.Items,
		tr.Discounts {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	.Items,
	.Discounts {
		td.monetary {
			padding-right: 0 !important;
		}
		td.info {
			padding-left: 0 !important;
		}
	}

	.table > tfoot tr {
		display: flex;

		td.monetary {
			padding-right: 0;
		}
		td.info {
			padding-left: 0;
		}
	}

	p#go-to-cart-button {
		z-index: 1;
		position: relative;

		#orderform-minicart-to-cart {
			text-decoration: underline;
			font: normal normal 600 12px/27px $font-family;
			letter-spacing: 0.32px;
		}
	}
}
