#payment-data {
	.gift-card-section {
		border-radius: 0;
		border: 1px solid #000;
		background: transparent;
		margin-left: 168px;

		.payment-discounts-options {
			label {
				font: normal normal normal 12px/18px $font-family;
				letter-spacing: 0px;
				color: $checkout-black2;
			}
		}
	}
	.link-gift-card {
		position: initial;

		#show-gift-card-group {
			text-decoration: underline;
		}
	}
	.payment-group {
		margin-top: 0px;
	}

	#show-gift-card-group,
	.payment-group-item-text {
		font: normal normal normal 12px/19px $font-family;
		letter-spacing: 0.32px;
		color: $checkout-black2;
	}

	.payment-group-item {
		border: none;
		margin: 0;
		opacity: 1;
	}

	.payment-group-item.active {
		background: #f6f9fc;
		border-radius: 0;
		border: 2px solid #f6f9fc;
	}

	.steps-view {
		background: #f6f9fc;
		.box-payment-pix {
			background: #f6f9fc;
		}
	}
}
