//footer

.imageElement--social-image{
    max-width: 15px;
    display: inline-block;
    margin:10px 0 0;

    @media (max-width:1026px) {
        margin-right: 28px;
    }
}

.newsletter--qf-newsletter{
    @media (max-width:1026px) {
        margin-bottom: 20px;
    }
}
