/* qf FOOTER  */
/* ---------------------------------------------------------------------------------------------------------------- */
.flexRow--footer-links {
  background-color: $color-white;
  padding: 30px 0;

  @media (max-width: 1026px) {
   padding: 0;
  }
}

.flexRowContent--footer-links {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flexRow--social-icons{
  @media (max-width: 1026px) {
    max-width: 150px;
    margin-right: auto;
    padding: 0 0 26px 0
    ;
  }
}

.flexRowContent--social-icons {
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 40px;
  margin: 0 auto;

  @media (max-width: 1026px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    max-width: 100%;
  }
}

.flexRow--footer-complement {
  padding: 23px 0 30px;
  background: #f6f9fc;

  @media (max-width:1026px) {
    padding: 30px 0 6px;
  }

  :global(.vtex-store-components-3-x-container) {
    @media (max-width:1026px) {
      padding: 0 20px;
    }
  }
}

.flexRowContent--footer-complement {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-between;
}

.flexRowContent--footer-bottom {
  justify-content: center;
  padding: 30px 0;

  @media (max-width:1026px) {
    max-width: 310px;
    margin: 0 auto;
    padding: 10px 0 18px;
  }
}

.flexRowContent--newsletter-row {
  @media (max-width: 1026px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
