//Footer

.styledLinkContainer--footer-menu-item{
  margin: 0;
  padding: 0;
  font: normal normal normal 14px/35px $font-family;
  letter-spacing: 1.4px;
  color: $color-gray2;
}

.menuContainerNav--footer-menu-links-mobile{
  width: 100%;
}

.menuItem--footer-accordion-title {
  padding: 13px 20px;
  border-bottom: 1px solid $border-color;
}
.styledLinkContainer--footer-accordion-title{
  padding: 0;
  margin: 0;
}

.styledLinkContent--footer-accordion-title{
  font: normal normal normal 14px/21px $font-family;
  text-transform: uppercase;
  color: $color-gray2;
}

.accordionIcon--footer-accordion-title{
  font: normal normal normal 30px/21px $font-family;
  color: $color-gray2;
}

.menuContainerNav--menu-mobile{
  padding: 0 !important;
}

.styledLinkContent--footer-menu-item{
  font: normal normal normal 14px/41px $font-family;
  color: $color-gray2;
}