/* FOOTER  */

.paragraph--footer-links-title{
  margin: 0 0 10px 0;
  font: normal normal 800 16px/25px $font-family;
  letter-spacing: 1.6px;
  color: $color-gray2;
  text-transform: uppercase;
}

.paragraph--footer-links{
  margin: 0;
  display: flex;
  align-items: center;
}

.link--footer-links{
  font: normal normal normal 14px/35px $font-family;
letter-spacing: 1.4px;
color: $color-gray2;
text-decoration: none;
margin-left: 9px;
}

.paragraph--footer-menu-item{
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
  font: normal normal 300 10px/16px $font-family;
  letter-spacing: 1px;
  color: #333333;

  @media (max-width:1026px) {
    margin: 0 0 24px 0;
  }

  &:last-child{
    display: block !important;
    margin-left: 28px;

    @media (max-width:1026px) {
      margin-left: 0;
    }
  }
}

.link--footer-menu-item{
  font: normal normal normal 14px/21px $font-family;
  letter-spacing: 0px;
  color: $color-gray2;
  text-transform: uppercase;
  text-decoration: none;
}

.image--footer-menu-item{
  margin-right: 9px;
}

.paragraph--footer-bottom-store-info{
  margin: 0;
  font: normal normal 300 10px/16px $font-family;
  letter-spacing: 1px;
  color: #333333;

  @media (max-width:1026px) {
    text-align: center;
  }
}