a {
  text-decoration: none;
  color: #000000;
}

.containerbkg {
  background-color: #f4f4f4;
  max-width: 100%;
}

.container {
  padding: 16px 0 16px;
  background-color: #f4f4f4;
  max-width: 1240px;
  margin: 0 auto;
  font-family: roboto;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-evenly;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-width: 150px;
  background: white;
  padding: 40px 20px 60px 20px;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  box-shadow: 0 12px 28px rgb(0 0 0 / 5%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-evenly;
  margin: 0 5px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 225px;
  height: 478px;
}


.cardBox:hover {
  box-shadow: 1px 1px 20px rgba(0, 24, 48, 0.22);
  -webkit-box-shadow: 1px 1px 20px rgba(0, 24, 48, 0.22);
}

.cardBox img {
  width: 100% !important;
  max-height: 278px;
  border-radius: 6px;
  padding-bottom: 15px;
}

.cardBox .descriptionProduct .offer .superOffer {
  background: rgba(237, 29, 36, 0.2);
  color: #ed1d24;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
}

.cardBox .descriptionProduct .offer .title {
  color: #000000;
  font-size: 15px;
  line-height: 16px;
  text-transform: initial;
  padding-bottom: 10px;
  display: inline-block;
  text-align: center;
  letter-spacing: 1.4px;
  color: #333333;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.title {
  height: 48px;
}

.cardBox .descriptionProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          -webkit-flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-flex-align: center;
          align-items: center;
}

.cardBox .descriptionProduct .price .value {
  color: #000;
  font-size: 20px;
  text-align: center;
  font-weight: 900;
  display: inline-block;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.cardBox .descriptionProduct .price .valueParcel {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #333333;
  text-transform: initial;
  font-family: "Poppins",sans-serif;
  font-weight: 300;
}

.cardBox .descriptionProduct .price .discount {
  color: red;
  text-align: center;
  font-weight: 500;
}

.cardBox .descriptionProduct .add {
  width: 135px;
  height: 33px;
  background: #000;
  border-radius: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: flex;
  -webkit-display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.cardBox .descriptionProduct .add .addButon {
  color: #FFF;
  border: none;
  font-size: 14px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.cardBox .descriptionProduct .add:hover {
  background: #303030
}

.add {
  margin-top: 10px;
}

.img {
  height: 100%;
  width: auto;
}

.cntAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          -webkit-flex-direction: column;
}

.cntAll .banner img {
  width: 100%;
}

.cntAll .presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.cntAll .presentation .profileImage {
  width: 20%;
}

.cntAll .presentation .profileImage img {
  width: 100%;
  border: 5px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  margin-top: -25%;
}

.cntAll .presentation .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          -webkit-flex-direction: column;
  max-width: 700px;
  padding-left: 40px;
}

.cntAll .presentation .description .title {
  font-size: 26px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.cntAll .presentation .description .content {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 900px) {
  .cntAll .presentation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            -webkit-flex-direction: column;
  }
}
  
@media (max-width:465px) {
  .cardBox{
    -webkit-box-flex: 0.4;
    -webkit-flex: 0.4;
        -ms-flex: 0.4;
            flex: 0.4;
    height: 360px !important;
  }

  .cardBox img {
    width: 100% !important;
    max-height: 188px;
    border-radius: 6px;
    padding-bottom: 15px;
  }

  .title {
    text-align: center;
    
  }

  .cntAll .presentation .description {
    padding-left: 5px !important;
    text-align: center;
  }

  .offer{
    margin-bottom: 25px !important;
  }

  .cardBox .descriptionProduct .add {
    display: none;
  }

  .cardBox .descriptionProduct .add .addButon{
    display: none;
  }
}


@media (max-width:319px) {

  .offer{
    margin-bottom: 10px !important;
  }

  .cardBox .descriptionProduct .add {
    display: flex;
  }

  .cardBox .descriptionProduct .add .addButon{
    display: flex;
  }
}