:global(.vtex-store-header-2-x-headerStickyRow--main-header-mobile) {
  :global(.vtex-category-menu-2-x-animation) {
    max-width: 450px;
  }
  
  :global(.vtex-category-menu-2-x-sidebarScrim) {
    opacity: 0;
  }

  :global(.vtex-category-menu-2-x-sidebar) {
    min-width: 280px;
    opacity: 1;
    background: rgba(255,255,255,0.9)!important;
    // top: 60px;
  }

  :global(.vtex-category-menu-2-x-sidebarContent) {
    padding: 0 16px 10px;
  }

  :global(.vtex-category-menu-2-x-sidebarItemContainer) {
    color: $color-black2;
    font-family: "Roboto", sans-serif;
    line-height: 14px;
    font-size: 16px;
    transition: ease-in .22s all;
    padding: 10px 23px;

  }

  :global(.vtex-category-menu-2-x-sidebarHeader) {
    justify-content: flex-end;
    margin-right: 17px;
  }

  :global(.vtex-category-menu-2-x-sidebarItem) {
    margin-bottom: 5px;
  }
  :global(.vtex-category-menu-2-x-sidebarItem) :first-child {
    color: $color-black2;
  }
}

:global(.vtex-category-menu-2-x-sidebarContainer) {
  :global(.vtex-category-menu-2-x-menuIcon) {
    // background: url(assets/svgs/ham.svg) no-repeat center center !important;
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 21px;
  }

  :global(.vtex-category-menu-2-x-closeIcon) {
    color: $color-black2;
    transform: scale(1.2);
  }

  :global(.vtex-category-menu-2-x-menuIcon) :first-child {
    opacity: 0;
  }
}

