.menuContainerNav--menu-links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 43px;
  padding: 0 20px;
  max-width: 878px;

  @media (max-width:1280px){
    margin: 0;
  }
}

.styledLinkIcon--custom-dropdown-submenu {
  display: none;
}

.menuContainer--menu-links {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
}

.menuItem--menu-links{
  height: 100%;
  align-items: center;
  display: flex;
}

.styledLinkContainer--menu-links {
  padding: 14px 0;
  margin: 0;
}

.styledLinkContent--menu-links {
  font: normal normal normal 14px/21px $font-family;
  letter-spacing: 0px;
  color: #333333;
  text-transform: uppercase;
  transition: ease-in 0.22s all;
  padding: 0;
}

.styledLinkContent--menu-links--bold {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: $color-white;
}

.styledLinkContent--menu-item--highlight {
  color: #79bc43;
}

.menuItem--menu-item:hover .styledLinkContent--menu-item {
  display: block;
  // border-bottom: 2px solid #7D7D7D;
}
.menuItem--menu-item:hover .styledLinkContent--menu-item--highlight {
  display: block;
  // border-bottom: 2px solid #79bc43;
}

.submenuWrapper {
  width: 100%;
  left: 0;
  top: 100%;
  padding: 0;
}

.submenuContainer {
  position: static;
}

.submenuWrapper--custom-dropwdown {
  padding: 36px 0;
}

.submenu--custom-dropwdown {
  max-width: 1024px;
  margin: 0 auto;
  align-items: center;
}

.menuContainerNav--custom-dropdown-submenu {
  margin-right: 45px;
  align-self: start;
  width: 100%;

  @media (max-width:1026px) {
    margin-right: 0;
  }
}

.menuContainer--custom-dropdown-submenu {
  flex-wrap: wrap;
  justify-content: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width:1026px) {
    background: #FFFFFF;
    padding: 14px 50px 30px;
    max-height: 430px;
    overflow-y: auto;
    overflow-x: unset;
  }
}

.styledLinkContainer--custom-dropdown-submenu-links-heading {
  padding: 0px 0 4px 0;
  margin: 0 0 20px 0;
  min-width: 217px;
  border-bottom: 1px solid $color-gray4;
}


.styledLinkContent--custom-dropdown-submenu {
@media (max-width:1026px){
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: $color-gray2;
  }
}

.styledLinkContainer--custom-dropdown-submenu-item {
  padding: 0;
  margin: 0;
}
.styledLinkContent--custom-dropdown-submenu-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #7d7d7d;
}


.styledLinkContainer--custom-dropdown-submenu {
  margin: 0;
}

.styledLinkContainer--custom-dropdown-submenu-links-all {
  padding: 2px;
  margin: 16px 0 0;
}

.styledLinkContent--custom-dropdown-submenu-links-all {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #7d7d7d;
  display: inline-block;
  position: relative;
}

.styledLinkContent--custom-dropdown-submenu-links-all::after {
  position: absolute;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid #7d7d7d;
  border-right: 2px solid #7d7d7d;
  right: -10px;
  top: 2px;
  transform: rotate(-45deg);
}

/* MOBILE  */

.styledLinkContainer--header-menu-accordion-title {
  margin: 0;
  padding: 14px 0;
}
.styledLinkContent--header-menu-accordion-title {
  font-size: 13px;
}

.styledLinkContent--header-menu-accordion-title:active {
  color: #292929;
}

.menuContainerNav--qf-custom-drawer {
  width: 100%;
}
.submenuAccordion .menuContainerNav {
  padding-bottom: 25px;
}
.menuContainerNav--qf-custom-drawer .styledLinkContent--menu-item,
.styledLinkContent--header-menu-accordion-title {
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

.styledLinkContent--menu-item--highlight {
  color: #79bc43 !important;
}
.styledLinkContent--menu-item--underline {
  text-decoration: underline;
}

.submenu--submenu-standard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 50px 50px;
}

.submenuContainer--submenu-standard {
  width: 100%;
  top: 100%;
}

.submenuContainer--submenu-standard .styledLinkContent {
  font: normal normal normal 12px/12px $font-family;
letter-spacing: 0px;
color: $color-gray2;
text-transform: uppercase;
}

.submenuWrapper--custom-dropwdown {
  padding: 36px 0;
  z-index: 15;
}

.menuItem--custom-dropdown-submenu {
  width: 80px;
  margin-right: 52px;

  @media (max-width:1450px){
    margin-right: 20px;
  }

  @media (max-width:1100px){
    margin-right: 15px;
  }

  @media (max-width:1026px){
    width: 49%;
    margin-right: 0;
  }
  
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}


//menu mobile
.menuContainerNav--drawer-menu-mobile{
  width: 100%;
}

.menuContainer--drawer-menu-mobile{
  height: 100%;
}
//fim menu mobile