.paragraph--top-bar-link {
  display: flex;
  align-items: center;
  margin: 7px 0 7px;
}

.image--top-bar-link {
  margin-right: 7px;
}

.link--top-bar-link {
  font: normal normal 300 10px/16px $font-family;
  letter-spacing: 1px;
  color: #ffffff;
  white-space: nowrap;
  text-decoration: none;
}

//menu mobile
.paragraph--orders-mobile-link {
  display: flex;
  align-items: center;
  font-family: $font-family;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;

  .link--orders-mobile-link {
    text-decoration: none;
    color: $color-gray2;
    margin-left: 7px;
    letter-spacing: .5px;
  }
}

.paragraph--favorites-mobile-link {
    display: flex;
    align-items: center;
    font-family: $font-family;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
  
    .link--favorites-mobile-link {
      text-decoration: none;
      color: $color-gray2;
      margin-left: 7px;
      letter-spacing: .5px;
    }
  }
//fim menu mobile
