.headerRowBackground--main-header {
  min-height: 64px;
  display: flex;
  background: $color-white !important;
  background-size: cover !important;
  // border: 1px solid #E5E5E5;
}

.headerRowContainer--main-header {
  justify-content: center;
  background: #fff;
  max-width: 1600px;
  margin: 0 auto;
}

.headerRowContentContainer {
  position: relative;
}

.headerRowBackground--main-header-menu .headerRowContentContainer {
  max-width: 100%;
  padding: 0 43px;
}

.headerRowBackground--main-header-menu .menuContainerNav {
  margin: 0 auto;
}

.submenuWrapper {
  display: none;
}

.headerRowContainer--main-header-mobile {
  height: 71px;
  justify-content: space-between;
}

.headerRowContainer--mobile-search {
  justify-content: space-around;
}

.headerRowContainer--teste
  :global(.vtex-store-components-3-x-searchBarContainer) {
  padding-top: 0px;
}

@media only screen and (max-width: 1025px) {
  .headerRowContentContainer {
    max-width: 100vw;
    background: $color-white;
  }
  .headerRowContainer--main-header-mobile {
    position: relative;
    padding: 0;
  }
}

@media only screen and (max-width: 520px) {
  .headerRowContainer--main-header-mobile {
    padding: 0;
  }
  :global(.vtex-flex-layout-0-x-flexRow--login-wrapper) {
    right: 60px;
  }
}
