.drawerContent {
  position: relative;
}


.closeIconContainer {
  justify-content: flex-end;
  background: $color-white;

  // @media only screen and (max-width: 1026px) {
  //   display: none;
  // }
}

.closeIconButton {
  background: $color-white;
}
.closeIconButton .closeIcon {
  opacity: 1;
}

.overlay--visible {
  display: none;

  // @media (max-width:1026px) {
  //   display: flex;
  // }
}

//menu mobile
.drawer--menu-mobile {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100% !important;
  max-width: 388px !important;
  background: transparent !important;
  top: 0 !important;
}
.closed--menu-mobile {
  transform: scaleY(0) !important;
  transform-origin: top;
  transition: 0.2s ease-in-out;
}
.opened--menu-mobile {
  transform: scaleY(1) !important;
  transform-origin: top;
  transition: 0.2s ease-in-out;
  // z-index: 9999;
}

.drawer--secondary-tab {
  top: 161px !important;
}

.closeIconContainer--secondary-tab{
  background: transparent;
}

.closeIconContainer--secondary-tab {
  position: absolute!important;
  top: 0;
  left: unset!important;
  right: 10px;
  padding: 0;


  .closeIconButton--secondary-tab {
    padding: 14px 20px;
    background-color: transparent;
    display: flex;
    align-items: center;


    &::before {
      content: "";
      background: url("assets/svgs/arrow-left-white.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 8px;
      height: 15px;
      display: flex;
      transform:rotate(180deg);
      transform-origin: center;
    }

    .closeIcon--secondary-tab {
      display: none;
    }
  }
}

.closed--secondary-tab {
  transform: scaleX(0) !important;
  transform-origin: left;
  transition: 0.2s ease-in-out;
}
.opened--secondary-tab {
  transform: scaleX(1) !important;
  transform-origin: left;
  transition: 0.2s ease-in-out;
}

.childrenContainer--menu-mobile {
  background: $color-white;
  padding: 0;
  width: 100%;
}

.closeIconButton--menu-close-button {
  background: none;
  padding: 0;
}

.drawerTriggerContainer--menu-mobile-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.childrenContainer--secondary-tab{
  max-height: 477px;
}
//fim menu mobile

//search mobile

.opened--search-mobile {
  -ms-transform: translate3d(0%, 0px, 0px);
-webkit-transform: translate3d(0%, 0px, 0px);
-moz-transform: translate3d(0%, 0px, 0px);
-o-transform: translate3d(0%, 0px, 0px);
}

.opened--search-mobile {
  -ms-transform: translate3d(-100%, 0px, 0px);
-webkit-transform: translate3d(-100%, 0px, 0px);
-moz-transform: translate3d(-100%, 0px, 0px);
-o-transform: translate3d(-100%, 0px, 0px);
}

.drawer--search-mobile {
  height: 40px;
  max-width: 100% !important;
  width: 100% !important;
  background: transparent !important;
  top: 71px;
}

.childrenContainer--search-mobile {
  padding: 0 !important;

  :global(.vtex-store-components-3-x-searchBarContainer) {
    padding: 0;
  }
}

.openIconContainer--search-mobile {
  display: flex;
  align-items: center;
  cursor: pointer;

  .drawerTriggerContainer {
    display: flex;
  }
}

.closeIconContainer--search-mobile {
  padding: 0;
  position: fixed;
  top: -52px;
  right: 92px;
  opacity: 1;
  padding: 0 10px;
  background:$color-white;

  @media (max-width:1026px) {
    padding: 0;
  }

  // @media (max-width:645px) {
  //   right: 92px;
  // }

  .closeIconButton--search-mobile {
    background: none;
    padding: 0;
  }
}

// fim search mobile
