.container :global(.vtex-button__label) {
  outline: none;
  border: none;
  padding: 0 !important;
  width: max-content;
  margin: 0;
}
.container :global(.vtex-button__label) :first-child {
  margin: 0;
}

.container :global(.vtex-button) {
  width: max-content;
  padding-right: 0;
  transition: ease-in 0.22s all;
  margin: 0;
  border: none;

  &:focus {
    background: none !important;
  }
}

.container :global(.vtex-button):hover {
  background: none !important;
}

.container :global(.vtex-button):focus,
.container :global(.vtex-button):hover {
  outline: none;
  background-color: #d5d5d5;
}

.profile {
  max-width: 59px !important;
  color: white;
}

:global(.vtex-flex-layout-0-x-flexColChild--login-wrapper) .profile {
  font-size: 0;
}

.label {
  font: normal normal 300 10px/16px $font-family;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: capitalize;
  padding-left: 7px !important;
}

.content {
  padding: 22px;
}

.optionsList {
  margin: 0;
}

.contentForm :global(.vtex-styleguide-9-x-input),
.contentForm :global(.vtex-styleguide-9-x-input)::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $color-black2;
}

.formFooter {
  border: none;
}

.sendButton :global(.t-small) {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: 500;
  color: $color-white;
  text-transform: uppercase;
}
.sendButton :global(.t-small):focus,
.sendButton :global(.vtex-button__label):focus {
  outline: none;
}
.arrowBackIcon {
  color: #292929;
}
.backButton :global(.t-small) {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #292929;
}

.forgotPasswordLink {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #292929;
}
.dontHaveAccount {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #666666;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  padding-top: 8px;
}
@media only screen and (max-width: 1026px) {
  .container {
    float: none;
  }

  .buttonLink :global(.vtex-button) {
    width: auto;
  }

  .buttonLink :global(.vtex-button):focus {
    outline: none;
    border: none;
    background: none;
    width: 100%;
  }

  .label,
  .profile {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    display: block;
    max-width: 100% !important;
    padding-left: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #292929;
  }

  .buttonLink :global(.vtex-button__label) {
    padding-left: 0;
  }

  .container :global(.vtex-button) {
    position: relative;
    width: 100%;
  }
  .container :global(.vtex-button__label):focus {
    outline: none;
    border: none;
  }
  .container :global(.vtex-button__label) {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    padding: 0;
    width: 100%;

    @media (max-width: 1024px) {
      position: relative;
    }
  }

  .box {
    right: unset !important;
    left: 0;
  }

  .arrowUp{
    left: 10px;
  }
}

:global(.vtex-flex-layout-0-x-flexCol--login-wrapper)
  :global(.vtex-button__label) {
  // background: no-repeat url(assets/svgs/login-icon.svg);
  width: 15px;
  height: 20px;
}

:global(.vtex-flex-layout-0-x-flexRow--login-wrapper)
  :global(.vtex-button__label) {
  // background: no-repeat url(assets/svgs/login-icon.svg);
  width: 15px;
  height: 20px;
}
