.sliderLayoutContainer--qf-main-slider {
    @media only screen and (max-width: 1024px) {
        padding: 0;
    }
}

.slide--qf-main-slider{
  margin: 0 !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--inspiracao-row) {
  padding: 0;
}
