.drawer {
  top: 102px;
  max-height: 532px;
  max-width: 373px !important;

  @media (max-width:1026px) {
    right: 0 !important;
    left: 0;
    margin: 0 auto;
    max-height: 100%;
    top: 0;
  }
}

.minicartSideBarContentWrapper {
  height: 100% !important;
}

.minicartEmptyStateContainer {
  height: 50%;
}

.closed {
  transform: scaleY(0) !important;
  transform-origin: top;
  transition: 0.2s ease-in-out;
}

.opened {
  transform: scaleY(1) !important;
  transform-origin: top;
  transition: 0.2s ease-in-out;
  z-index: 9999999;
}

.closeIconContainer {
  position: absolute;
  right: 0;
}

.minicartTitle {
  padding: 20px 0;
  margin: 0 20px;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: center;
  font: normal normal normal 16px/25px $font-family;
  font-weight: 500px;
  letter-spacing: 1.6px;
  color: #333333;
  text-transform: uppercase;
  font-size: 0;
  margin: 0;

  &::after {
    content: "Minha sacola";
    font-size: 16px;
  }
}


.minicartIconContainer {
  background-size: contain;
  height: 25px;
  width: 22px;
  position: relative;
  background-image: url(assets/svgs/cart-custom.svg);
  background-repeat: no-repeat;

  :global(.vtex-store-icons-0-x-cartIcon) {
    opacity: 0;
  }

  &::after {
    content: "";
    width: 5px;
    height: 5px;
    background: red;
    display: block;
    border-radius: 50%;
    position: absolute;
    right: -2px;
    top: 0px;
  }
}

.cartIcon {
  width: 25px;
  height: 25px;
}

.minicartQuantityBadge {
  position: absolute;
  top: 5px;
  left: 1.5px;
  font-weight: 500;
  background: none;
  color: $color-black2;
}

.drawerContent {
  height: 100%;
  
  :global(.vtex-product-list-0-x-productName) {
    font: normal normal 800 12px/18px $font-family;
    letter-spacing: 1.2px;
    color: $color-gray2;
    text-transform: uppercase;
  }

  :global(.vtex-product-list-0-x-price) {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: $color-black2;
  }
}


.minicartProductListContainer {
  padding: 0 20px 136px;
  :global(.vtex-flex-layout-0-x-flexRowContent--product) {
    border-bottom: 1px solid $border-color;
    padding: 20px 0;
  }
}



.minicartCheckoutButton {
  padding: 0;
  margin: 0;

  :global(.vtex-button) {
    border: none;
    letter-spacing: 0.05em;
    transition: ease-in 0.22s all;
    border-radius: 0;
    padding: 16px 0;
    margin:0;
    background: $color-gray2;
    font-size: 0;

    &::after {
      content: 'Finalizar Compra';
      font: normal normal bold 18px/27px $font-family;
letter-spacing: 1.8px;
color: #FFFFFF;
text-transform: uppercase;
    }
  }

  :global(.vtex-button):hover,
 :global(.vtex-button):active {
  background-color: #303030;
}

}
.minicartCheckoutButton 
.unitListPrice {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: line-through;
  color: #7d7d7d;
}




.openIconContainer {
  padding: 0;

  :global(.vtex-button__label) {
    @media (max-width: 1026px) {
      padding: 0;
    }
  }
}

.openIconContainer :global(.vtex-button) {
  outline: none;
}

.minicartContainer :global(.vtex-button):hover,
.minicartContainer :global(.vtex-button):focus {
  background: none;
}


.minicartSummary {
  padding: 18px 0 9px ;
  display: flex;
  justify-content: center;
}

.overlay--visible{
  opacity: 0 !important;

  @media (max-width:1026px) {
    opacity: 0.5 !important;
  }
}
