.flexRow--top-bar {
  background: $color-black2;
  display: flex;
  justify-content: flex-end;
}

.flexRow--top-bar {
  :global(.vtex-store-components-3-x-container) {
    max-width: 50%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }
}

.flexRowContent--top-bar {
  width: max-content;
  align-items: center;

  :global(.vtex-button__label) {
    height: 20px !important;
  }
}

.flexRow--cart-menu {
  :global(.vtex-store-components-3-x-container) {
    padding: 0 !important;
  }
}

.flexRowContent--cart-menu {
  display: flex;
}

//Drawer mobile
.flexRowContent--drawer-top-content {
  flex-direction: column;
  padding: 10px 32px 30px;
  background: #f6f9fc;
}

.flexRow--drawer-top-content {
  margin: 0 !important;
}

.flexRowContent--drawer-content-container {
  :global(.vtex-store-drawer-0-x-openIconContainer--menu-mobile) {
    padding: 0;
    border-bottom: 1px solid $border-color;

    :global(.vtex-store-drawer-0-x-drawerTriggerContainer--menu-mobile-trigger) {
      padding: 9px 50px;
    }
  }
}

.flexCol--cart-logo-close {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flexCol--account-orders-wishlist {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.flexColChild--account-orders-wishlist {
  max-width: 80px;

  :global(.vtex-login-2-x-container) {
    :global(.vtex-button) {
      display: flex;
      align-items: center;

      &::before {
        content: "";
        background: url("assets/svgs/user-black.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 30px;
        height: 20px;
        display: flex;
      }

      :global(.vtex-login-2-x-label) {
        font-family: $font-family;
        font-size: 12px;
        font-weight: normal;
        line-height: 16px;
        text-transform: lowercase;
        letter-spacing: 0.5px;
        width: 35px;
        text-align: left;

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}

.flexRow--drawer-bottom-content {
  margin-top: auto;
}

.flexRowContent--drawer-bottom-content {
  flex-direction: column;
  border-top: 1px solid $border-color;
  padding: 9px 30px 5px;

  :global(.vtex-rich-text-0-x-paragraph) {
    margin: 0 0 13px;
  }
}

.flexRow--roupas-top-container {
  padding: 9px 30px;
  background: $color-black2;

  :global(.vtex-rich-text-0-x-paragraph--mobile-menu-item) {
    color: $color-white;
  }
}
//fim Drawer mobile

//mini cart
.flexRowContent--product {
  position: relative;
}

.flexCol--minicart-image {
  max-width: 75px;
  margin-right: 42px;
  justify-content: center;

  @media (max-width:1026px) {
    margin-left: 30px;
  }

  .flexColChild--minicart-image {
    height: max-content !important;
  }

  @media only screen and (min-width:1026px) {
    :global(.vtex-product-list-0-x-productImageContainer) {
      width: 100% !important;
    }
  }
 
}

.flexCol--minicart-remove-item {
  position: absolute;
  width: max-content !important;
  height: max-content;
  top: 40%;
  right: 10px;
  z-index: 99999999999;
  margin: 0;

  @media (max-width:1026px) {
    right: unset;
    left: -10px;
    top: 10px;
  }

  :global(.vtex-product-list-0-x-deleteIcon) {
    width: 24px;
    height: 24px;
  }
}

.flexRow--minicart-footer{
  position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: $color-white;
}
//fim minicart
