.searchBarInnerContainer {
  border: none;
  border-radius: 0;
  border: 1px solid $border-color;
  height: 40px;

  @media (max-width:1026px) {
    border-left: none;
    border-right: none;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }
}

.searchBarContainer{
  min-width: 357px;
  padding: 21px 0;
  max-width: 100% !important;

  @media (max-width:1280px) {
    min-width: 180px;
  }
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
  height: 38px;
  border-radius: 0;
}

.autoCompleteOuterContainer :global(.vtex-input__suffix) {
  padding: 0;
  border-radius: 0;
}

.searchBarIcon--mobile{
  padding-right: 10px;
  border-radius: 0;
}



.imageElementLink--banner-submenu {
display: flex;
min-width: 200px;
height: max-content;
}

.sizeMobile {
  display: block;
  max-width: unset;
}

.autoCompleteOuterContainer--desktop-search :global(.vtex-styleguide-9-x-input) {
  background: $color-white;
}
.suffixWrapper--desktop-search {
  background: $color-white;
  padding-right: 13px;
}

.logoLink {
  background: #fff;
}

.logoContainer{
  padding: 0;
  display: block;
}

@include mq(io, max) {
  .sizeMobile {
    padding: 0;
    margin-right: 0;
    margin-bottom: 5px;
  }
}

// SEARCH MOBILE
.searchBarIcon--mobile-search{
  background: $color-black2;
  padding: 9px 32px !important;

  &::after {
    content: 'Buscar';
    font-family: $font-family;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    color: $color-white;
  }

  .searchIcon--mobile-search{
    display: none;
  }

 
}

.autoCompleteOuterContainer--mobile-search{
  :global(.vtex-styleguide-9-x-input){
    background: #F6F9FC;
    font-family: $font-family;
    font-size: 12px;
    font-weight: normal;
  }
}
//FIM SEARCH MOBILE