:global(.vtex-product-summary-2-x-element--qf-shelf-product) {
  position: relative;
}

.flexRow--qf-shelf-badges {
  position: absolute;
  top: 13px;
  left: 5px;
  z-index: 12;
}

@media (max-width: 768px) {
  .flexRow--qf-shelf-badges {
    left: 5%;
    top: 5%;
  }
}

@media (max-width: 576px) {
  .flexRow--qf-shelf-badges {
    left: 8px;
    top: 25px;
  }
}
