.container--qf-shelf-product {
  max-width: unset !important;
}

.image--qf-shelf-product-image {
  z-index: 2;
  // max-width: 380px;
  // max-height: 380px;
  width: 100%;
  max-height: unset;
  
  @media (max-width:768px) {
    width: 100%;
  }
}

.nameContainer--qf-shelf {
  justify-content: center;

}

.brandName--qf-shelf {
  color: #000000;
  font-size: 15px;
  line-height: 16px;
  text-transform: initial;
  padding-bottom: 10px;
  display: inline-block;
  text-align: center;
  letter-spacing: 1.4px;
  color: #333333;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 429px) {
  .brandName--qf-shelf {
    font-size: 14px;
  }
}

:global(.vtex-product-price-1-x-currencyLiteral--qf-shelf) {
  display: none;
}

:global(.vtex-slider-layout-0-x-sliderLayoutContainer--qf-shelf-products-slide) {
  padding: 0 !important;
  max-width: 100%;
  margin: 0 auto;
}

:global(.vtex-flex-layout-0-x-flexRowContent--shock-shelf) {
  margin: 0 !important;
  padding-left: 20px !important;

  .imageContainer {
    max-height: 339px;
    overflow: hidden;
    
    .image--hover {
      height: auto !important;
    }
  }
}

.element--shelf-novidades {
  .nameContainer--qf-shelf, 
  :global(.vtex-flex-layout-0-x-flexRow--qf-shelf-price-selling-savings) {
    display: none;
    position: relative;

    @media only screen and (max-width: 640px) {
      display: flex;
    }
  }
}
