.flexRowContent--qf-shelf {
  max-width: unset;
  margin: 50px auto 50px;
  flex-direction: column;
}
.flexRowContent--shelf-anonima {
  margin-top: 80px;
}

@media only screen and (max-width: 870px) {
  .flexRowContent--qf-shelf {
    margin: 35px auto 25px;
  }
}

// :global(.vtex-flex-layout-0-x-flexRow--qf-product-page-shelf) :global(.vtex-shelf-1-x-dot) {
//   background: #292929;
//   width: 80px !important;
//   height: 1px !important;
//   padding: 0;
//   border: none;
//   border-radius: 0;
//   margin-right: 22px;
// }

// :global(.vtex-flex-layout-0-x-flexRow--qf-product-page-shelf) :global(.vtex-shelf-1-x-dot--isActive) {
//   height: 6px !important;
// }
