.swiperCaretPrev {
  display: block;
  // background: url(assets/svgs/slide-left-arrow.svg) no-repeat center center !important;
  background-size: contain;
}

.swiperCaretNext {
  display: block;
  // background: url(assets/svgs/slide-right-arrow.svg) no-repeat center center !important;
  background-size: contain;
}
.swiperCaretNext,
.swiperCaretPrev {
  padding: 0;
  border: 1px solid $checkout-black2;
  color: $checkout-black2;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caretIcon {
  height: 13px;
}

.swiper-pagination {
  align-items: center;
}
.swiperBullet {
  background: $color-white;
  height: 8px !important;
  width: 8px !important;
  opacity: 1;
}

.swiperBullet--active {
  background: transparent;
  border: 1px solid $color-white;
  height: 13px !important;
  width: 13px !important;
}

.imageElement--qf-main-slider {
  margin-bottom: -4px;
}
