.arrowLeft {
  display: block;
  // background: url(assets/svgs/arrow-shelf.svg) no-repeat center center !important;
  background-size: contain !important; 
  width: 55px;
  height: 49px;
  transform: rotateY(180deg);
  left: -70px;
  outline: none;
}

.arrowRight {
  display: block;
  // background: url(assets/svgs/arrow-shelf.svg) no-repeat center center !important;
  background-size: contain !important;
  width: 55px;
  height: 49px;
  right: -70px;
  outline: none;
}

@media only screen and (max-width: 1024px) {
  .arrowLeft,
  .arrowRight {
    display: none;
  }
}

.caretIcon {
  opacity: 0;
}

.paginationDotsContainer {
  align-items: center;
}
// .dot {
//   background: $color-gray4;
//   height: 8px !important;
//   width: 8px !important;
// }

// .dot--isActive {
//   background: transparent;
//   border: 1px solid $color-white;
//   height: 13px !important;
//   width: 13px !important;
// }

.title--qf-shelf-product{
  justify-content: left;
  font-family: 'Poppins', sans-serif;
  line-height: 22px;
  color: $color-black3;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  color: #0C0C0C;
  letter-spacing: 3px;
  color: $checkout-black2;
  text-transform: uppercase;
  justify-content: left;

  @media (max-width: 1020px) {
    font-weight: 900;
    max-width: 350px;
    line-height: 34px;
  }
}

.sliderContainer--qf-shelf-product{
  padding: 0;
}

:global(.vtex-flex-layout-0-x-flexRow--qf-shelf) {
  :global(.vtex-product-summary-2-x-hoverEffect) {
    width: 100% !important;
  }

  :global(.vtex-store-components-3-x-discountContainer) {
    width: 100% !important;
  }
}

:global(.vtex-flex-layout-0-x-flexRow--qf-product-page-shelf) :global(.vtex-slider-0-x-dotsContainer) {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
