/* qf SHELF TITLE  */
/* ------------------------------------------------------------------------ */
.container--qf-shelf-title {
  justify-content: left;
  padding-left: 0;
  margin-top: 60px;
  width: 100%;
  margin: 0 auto;
}

.paragraph--qf-shelf-title {
  margin: 0 0 15px 13px;
  font-size: 30px;
  text-transform: uppercase;
  color: #0c0c0c;
  letter-spacing: 3px;
  text-align: left;
  font-weight: 300;
}

.heading--qf-shelf-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $color-gray4;
  margin: 0;
}
.container--qf-shelf-title-mobile {
  display: none;
}

@media only screen and (max-width: 640px) {
  .container--qf-shelf-title-mobile {
    display: block !important;
  }
  .container--qf-shelf-title {
    display: none;
  }
}
