/* qf MAIN SLIDER */
/* ---------------------------------------------------------------------------------------- */

.paginationDotsContainer--qf-main-slider {
  margin-bottom: 12px;
  height: 15px;
  padding: 10px 12px;
  background: #fff;
  max-width: max-content;
  margin: 0 auto 20px;
  border-radius: 10px;
}

.paginationDot--qf-main-slider{
  margin: 0 !important;

  &:not(:last-child) {
    margin-right: 10px !important;
  }
}
/* qf SHELF SLIDER  */
/* ---------------------------------------------------------------------------------------------------------------- */

.paginationDot {
  background: transparent;
  width: 10px !important;
  height: 10px !important;
  padding: 0;
  border: none;
  border-radius: 50%;
  border: 1px solid $border-color;
  margin-right: 10px;
  background: #FFFFFF;

  &:hover {
    background: $border-color;
  }
}
:global(.vtex-shelf-1-x-dot) {
  background: transparent;
  width: 10px !important;
  height: 10px !important;
  padding: 0;
  border: none;
  border-radius: 50%;
  border: 1px solid $border-color;
  margin-right: 10px;
  background: #FFFFFF;
}
:global(.vtex-shelf-1-x-dot--isActive) {
  background: $border-color;
}

.paginationDot--isActive {
  background: $border-color;

  &:hover {
    background: $border-color;
  }
}

.paginationDotsContainer--qf-shelf-products-slide {
  margin-bottom: none;
}

:global(.vtex-store-components-3-x-imageElementLink--mobile-desktop),
:global(.vtex-store-components-23-x-imageElementLink--mobile-desktop) {
  margin: 10px 10px 20px;
}

.imageElementLink--qf-main-slider {
  width: 100%;
  padding: 0;
}

.sliderLayoutContainer--novidades-list {
  .imageElement--qf-shelf-products-slide {
    max-height: unset !important;
  }
}