.buttonDataContainer {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  color: $color-white;

  :global(.vtex-add-to-cart-button-0-x-buttonText) {
    font: normal normal 800 14px/25px "Poppins", sans-serif;
    @media (max-width: 1400px) {
      font: normal normal 800 11px/17px "Poppins", sans-serif;
    }
  }
}

.buttonText--qf-shelf {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
  color: $color-white;
  letter-spacing: 1.4px;
}

@media only screen and (max-width: 600px) {
  .buttonText--qf-shelf {
    font-size: 9px;
  }
}
