.container {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 230px repeat(4, auto) 306px;
  -ms-grid-columns: 230px (1fr) [4] 306px;
  grid-template-rows: auto auto auto 60px auto;
  grid-template-areas:
    'breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb breadcrumb'
    'richTitle richTitle richTitle richTitle richTitle richTitle'
    'title title title title title title'
    'filters quantity . . . orderby'
    'filters gallery gallery gallery gallery gallery'
    '. pagination pagination pagination pagination pagination';
}

.container a {
  outline: 0;
}

.buttonShowMore {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: pagination;
  grid-row: pagination;
  justify-self: end;
  align-self: center;
}

.switch {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-column: switch;
  grid-row: switch;
}

.breadcrumb {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: breadcrumb;
  grid-row: breadcrumb;
  align-self: center;
  justify-self: stretch;
}

.richTitle {
  grid-column: richTitle;
  grid-row: richTitle;
}

.filters {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-column: filters;
  grid-row: filters;
}

.filter__container {
}

.resultGallery {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column-start: filters;
  grid-column-end: gallery;
  grid-row: gallery;
}

.filters ~ .resultGallery {
  grid-column-start: gallery;
}

.gallery {
}

.galleryTitle {
  grid-column: title;
  grid-row: title;
}

.filterPopupButton {
  background: none;
  height: 3.3rem;
  border-top: none;
  border-left: none;
  border-right: none;
}

.accordionFilter {
  color: #828282;
}

.filterAccordionItemBox {
  min-height: 3.75rem;
}

.filterAccordionBreadcrumbs {
  height: 4.25rem;
}

.filterButtonsBox {
  height: 4rem;
}

.filterPopupFooter {
  margin-top: auto;
}

.accordionFilterItemOptions {
}

.dropdownMobile {
  margin-top: -2px;
}

.accordionFilterItemActive svg path {
  fill: #4f4f4f;
}

.totalProducts {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-row: quantity;
  justify-self: start;
  align-self: center;
}

.filters ~ .totalProducts {
  grid-column: quantity;
  grid-row: quantity;
}

.orderBy {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-column: orderby;
  grid-row: orderby;
  align-self: center;
  justify-self: stretch;
  display: flex;
}

.filterPopupTitle {
}

.filterPopupArrowIcon {
  padding-left: 5px;
  padding-right: 5px;
}

.filterPopup {
}

.filterPopupOpen {
}

.filterPopupContent {
}

.filterPopupContentContainer {
}

.filterPopupContentContainerOpen {
}

.filterItem-Color {
  width: 14px;
  line-height: 0;
  margin: 7px;
  height: fit-content;
  cursor: pointer;
}

.filterItem-Color--selected {
  border: 2px solid tomato;
}
.orderByOptionsContainer {
  min-width: 180px;
}

.orderByOptionItem {
  min-width: 180px;
}

@media only screen and (max-width: 64.1em) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'filters orderby switch'
      'breadcrumb breadcrumb breadcrumb'
      'richTitle richTitle richTitle'
      'title title title'
      'quantity quantity quantity'
      'gallery gallery gallery';
  }

  .totalProducts {
    border-top-style: solid;
    border-top-width: 2px;
    justify-self: stretch;
    grid-column: quantity;
  }
}

@media only screen and (min-width: 40em) {
  .sidebar {
    width: 16rem;
  }
}

@media only screen and (max-width: 40em) {
  .container {
    -ms-grid-columns: 2fr 1.5fr 0.2fr;
    grid-template-columns: 2fr 1.5fr 0.2fr;
    grid-template-areas:
      'orderby filters switch'
      'breadcrumb breadcrumb breadcrumb'
      'richTitle richTitle richTitle'
      'quantity quantity quantity'
      'gallery gallery gallery';
    grid-template-rows: auto;
  }

  .resultGallery {
    grid-column-start: gallery;
    grid-column-end: gallery;
  }

  .filterTitle {
    font-weight: 300;
  }
}

.filterPopupOpen {
  overflow: hidden;
}

.filters--layout {
}

.buttonShowMore--layout {
}

.galleryTitle--layout {
}

.totalProducts--layout {
}

.orderBy--layout {
}

.container--layout {
}

.notFound--layout {
}

/* Dropdown */

.filtersWrapperDropdown {
  display: none;
}

.filtersWrapperDropdown--open {
  display: block;
}

/* Clear button*/
.clearFilterBtn {
  background: #3b3b3b;
  width: 172px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  padding: 0;
  border: none;
  transition: 0.2s all;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.clearFilterBtn:hover {
  background: #4a4a4a;
}

/* Last row*/
.filtersWrapperLastRow {
}

.filterQuantity {
  white-space: nowrap;
  font-size: 10px;
  margin-left: 5px;
}

.arrowTitle {
  
}

.queryTitle {
  color: #333333;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 15px;
}

.queryQuantity {
  font-size: 13px;
  font-weight: normal;
  margin-left: 5px;
  vertical-align: middle;
  letter-spacing: 1.4px;
}


@media only screen and (max-width: 1020px) {
  .queryTitle {
    display: flex;
    padding: 15px 0;
    background: #F6F9FC;
    margin: 0;
    font-size: 23px;
    align-items: center;
    justify-content: space-around;
    letter-spacing: 1.4px;
  }

  .closeModal {
    cursor: pointer;
  }
}

.queryOverlay {
  
}