
.sprite {
  background-image: url('/arquivos/qf-sprite-de0dfd4947d2c11a26970a1fdab34c11.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .sprite {
    background-image: url('/arquivos/qf-sprite-de0dfd4947d2c11a26970a1fdab34c11@2x.png');
    background-size: 54px 679px;
  }
}

.sprite-lock {
  background-position: -0px -0px;
  width: 15px;
  height: 17px;
}
.sprite-arrow-left {
  background-position: -0px -17px;
  width: 18px;
  height: 17px;
}
.sprite-vtex-white {
  background-position: -0px -34px;
  width: 51px;
  height: 21px;
}
.sprite-vtex-gray {
  background-position: -0px -55px;
  width: 51px;
  height: 21px;
}
.sprite-m3 {
  background-position: -0px -76px;
  width: 34px;
  height: 21px;
}
.sprite-m3-white {
  background-position: -0px -97px;
  width: 34px;
  height: 21px;
}
.sprite-m3-gray {
  background-position: -0px -118px;
  width: 34px;
  height: 21px;
}
.sprite-master-card {
  background-position: -0px -139px;
  width: 37px;
  height: 23px;
}
.sprite-amex {
  background-position: -0px -162px;
  width: 36px;
  height: 23px;
}
.sprite-elo {
  background-position: -0px -185px;
  width: 38px;
  height: 23px;
}
.sprite-hipercard {
  background-position: -0px -208px;
  width: 36px;
  height: 23px;
}
.sprite-boleto {
  background-position: -0px -231px;
  width: 37px;
  height: 23px;
}
.sprite-visa {
  background-position: -0px -254px;
  width: 36px;
  height: 23px;
}
.sprite-paypal {
  background-position: -0px -277px;
  width: 37px;
  height: 23px;
}
.sprite-vtex {
  background-position: -0px -300px;
  width: 54px;
  height: 23px;
}
.sprite-shieldCheckout {
  background-position: -0px -323px;
  width: 38px;
  height: 35px;
}
.sprite-vtex-pci {
  background-position: -0px -358px;
  width: 52px;
  height: 35px;
}
.sprite-cace {
  background-position: -0px -392px;
  width: 48px;
  height: 39px;
}
.sprite-linkedin {
  background-position: -0px -431px;
  width: 41px;
  height: 41px;
}
.sprite-ck-youtube {
  background-position: -0px -472px;
  width: 41px;
  height: 41px;
}
.sprite-ck-twitter {
  background-position: -0px -513px;
  width: 41px;
  height: 41px;
}
.sprite-ck-instagram {
  background-position: -0px -554px;
  width: 41px;
  height: 41px;
}
.sprite-ck-facebook {
  background-position: -0px -595px;
  width: 41px;
  height: 41px;
}
.sprite-dataweb {
  background-position: -0px -636px;
  width: 33px;
  height: 43px;
}
