/**
 * Avanti ComunicaÃ§Ã£o <dev@penseavanti.com.br>
 * labellamafia
 * @date 12/03/2018 15:00:33
 */
/**@import url("//chkoutme.vteximg.com.br/arquivos/chkoutme.min.css");*/

.minicart-frete-gratis {
	display: none !important;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: transparent;
}
body {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #000;
	background-color: #fff;
}
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
a {
	color: #337ab7;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #23527c;
	text-decoration: underline;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
figure {
	margin: 0;
}
img {
	vertical-align: middle;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
.img-rounded {
	border-radius: 6px;
}
.img-thumbnail {
	padding: 4px;
	line-height: 1.42857;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: inline-block;
	max-width: 100%;
	height: auto;
}
.img-circle {
	border-radius: 50%;
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}
[role="button"] {
	cursor: pointer;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 5px;
	padding-right: 5px;
}
.container:before,
.container:after {
	content: " ";
	display: table;
}
.container:after {
	clear: both;
}
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}
.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 5px;
	padding-right: 5px;
}
.container-fluid:before,
.container-fluid:after {
	content: " ";
	display: table;
}
.container-fluid:after {
	clear: both;
}
.row {
	margin-left: -5px;
	margin-right: -5px;
}
.row:before,
.row:after {
	content: " ";
	display: table;
}
.row:after {
	clear: both;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xs-13,
.col-sm-13,
.col-md-13,
.col-lg-13,
.col-xs-14,
.col-sm-14,
.col-md-14,
.col-lg-14,
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15,
.col-xs-16,
.col-sm-16,
.col-md-16,
.col-lg-16,
.col-xs-17,
.col-sm-17,
.col-md-17,
.col-lg-17,
.col-xs-18,
.col-sm-18,
.col-md-18,
.col-lg-18,
.col-xs-19,
.col-sm-19,
.col-md-19,
.col-lg-19,
.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20,
.col-xs-21,
.col-sm-21,
.col-md-21,
.col-lg-21,
.col-xs-22,
.col-sm-22,
.col-md-22,
.col-lg-22,
.col-xs-23,
.col-sm-23,
.col-md-23,
.col-lg-23,
.col-xs-24,
.col-sm-24,
.col-md-24,
.col-lg-24 {
	position: relative;
	min-height: 1px;
	padding-left: 5px;
	padding-right: 5px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-13,
.col-xs-14,
.col-xs-15,
.col-xs-16,
.col-xs-17,
.col-xs-18,
.col-xs-19,
.col-xs-20,
.col-xs-21,
.col-xs-22,
.col-xs-23,
.col-xs-24 {
	float: left;
}
.col-xs-1 {
	width: 4.16667%;
}
.col-xs-2 {
	width: 8.33333%;
}
.col-xs-3 {
	width: 12.5%;
}
.col-xs-4 {
	width: 16.66667%;
}
.col-xs-5 {
	width: 20.83333%;
}
.col-xs-6 {
	width: 25%;
}
.col-xs-7 {
	width: 29.16667%;
}
.col-xs-8 {
	width: 33.33333%;
}
.col-xs-9 {
	width: 37.5%;
}
.col-xs-10 {
	width: 41.66667%;
}
.col-xs-11 {
	width: 45.83333%;
}
.col-xs-12 {
	width: 50%;
}
.col-xs-13 {
	width: 54.16667%;
}
.col-xs-14 {
	width: 58.33333%;
}
.col-xs-15 {
	width: 62.5%;
}
.col-xs-16 {
	width: 66.66667%;
}
.col-xs-17 {
	width: 70.83333%;
}
.col-xs-18 {
	width: 75%;
}
.col-xs-19 {
	width: 79.16667%;
}
.col-xs-20 {
	width: 83.33333%;
}
.col-xs-21 {
	width: 87.5%;
}
.col-xs-22 {
	width: 91.66667%;
}
.col-xs-23 {
	width: 95.83333%;
}
.col-xs-24 {
	width: 100%;
}
.col-xs-pull-0 {
	right: auto;
}
.col-xs-pull-1 {
	right: 4.16667%;
}
.col-xs-pull-2 {
	right: 8.33333%;
}
.col-xs-pull-3 {
	right: 12.5%;
}
.col-xs-pull-4 {
	right: 16.66667%;
}
.col-xs-pull-5 {
	right: 20.83333%;
}
.col-xs-pull-6 {
	right: 25%;
}
.col-xs-pull-7 {
	right: 29.16667%;
}
.col-xs-pull-8 {
	right: 33.33333%;
}
.col-xs-pull-9 {
	right: 37.5%;
}
.col-xs-pull-10 {
	right: 41.66667%;
}
.col-xs-pull-11 {
	right: 45.83333%;
}
.col-xs-pull-12 {
	right: 50%;
}
.col-xs-pull-13 {
	right: 54.16667%;
}
.col-xs-pull-14 {
	right: 58.33333%;
}
.col-xs-pull-15 {
	right: 62.5%;
}
.col-xs-pull-16 {
	right: 66.66667%;
}
.col-xs-pull-17 {
	right: 70.83333%;
}
.col-xs-pull-18 {
	right: 75%;
}
.col-xs-pull-19 {
	right: 79.16667%;
}
.col-xs-pull-20 {
	right: 83.33333%;
}
.col-xs-pull-21 {
	right: 87.5%;
}
.col-xs-pull-22 {
	right: 91.66667%;
}
.col-xs-pull-23 {
	right: 95.83333%;
}
.col-xs-pull-24 {
	right: 100%;
}
.col-xs-push-0 {
	left: auto;
}
.col-xs-push-1 {
	left: 4.16667%;
}
.col-xs-push-2 {
	left: 8.33333%;
}
.col-xs-push-3 {
	left: 12.5%;
}
.col-xs-push-4 {
	left: 16.66667%;
}
.col-xs-push-5 {
	left: 20.83333%;
}
.col-xs-push-6 {
	left: 25%;
}
.col-xs-push-7 {
	left: 29.16667%;
}
.col-xs-push-8 {
	left: 33.33333%;
}
.col-xs-push-9 {
	left: 37.5%;
}
.col-xs-push-10 {
	left: 41.66667%;
}
.col-xs-push-11 {
	left: 45.83333%;
}
.col-xs-push-12 {
	left: 50%;
}
.col-xs-push-13 {
	left: 54.16667%;
}
.col-xs-push-14 {
	left: 58.33333%;
}
.col-xs-push-15 {
	left: 62.5%;
}
.col-xs-push-16 {
	left: 66.66667%;
}
.col-xs-push-17 {
	left: 70.83333%;
}
.col-xs-push-18 {
	left: 75%;
}
.col-xs-push-19 {
	left: 79.16667%;
}
.col-xs-push-20 {
	left: 83.33333%;
}
.col-xs-push-21 {
	left: 87.5%;
}
.col-xs-push-22 {
	left: 91.66667%;
}
.col-xs-push-23 {
	left: 95.83333%;
}
.col-xs-push-24 {
	left: 100%;
}
.col-xs-offset-0 {
	margin-left: 0%;
}
.col-xs-offset-1 {
	margin-left: 4.16667%;
}
.col-xs-offset-2 {
	margin-left: 8.33333%;
}
.col-xs-offset-3 {
	margin-left: 12.5%;
}
.col-xs-offset-4 {
	margin-left: 16.66667%;
}
.col-xs-offset-5 {
	margin-left: 20.83333%;
}
.col-xs-offset-6 {
	margin-left: 25%;
}
.col-xs-offset-7 {
	margin-left: 29.16667%;
}
.col-xs-offset-8 {
	margin-left: 33.33333%;
}
.col-xs-offset-9 {
	margin-left: 37.5%;
}
.col-xs-offset-10 {
	margin-left: 41.66667%;
}
.col-xs-offset-11 {
	margin-left: 45.83333%;
}
.col-xs-offset-12 {
	margin-left: 50%;
}
.col-xs-offset-13 {
	margin-left: 54.16667%;
}
.col-xs-offset-14 {
	margin-left: 58.33333%;
}
.col-xs-offset-15 {
	margin-left: 62.5%;
}
.col-xs-offset-16 {
	margin-left: 66.66667%;
}
.col-xs-offset-17 {
	margin-left: 70.83333%;
}
.col-xs-offset-18 {
	margin-left: 75%;
}
.col-xs-offset-19 {
	margin-left: 79.16667%;
}
.col-xs-offset-20 {
	margin-left: 83.33333%;
}
.col-xs-offset-21 {
	margin-left: 87.5%;
}
.col-xs-offset-22 {
	margin-left: 91.66667%;
}
.col-xs-offset-23 {
	margin-left: 95.83333%;
}
.col-xs-offset-24 {
	margin-left: 100%;
}
@media (min-width: 992px) {
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-13,
	.col-sm-14,
	.col-sm-15,
	.col-sm-16,
	.col-sm-17,
	.col-sm-18,
	.col-sm-19,
	.col-sm-20,
	.col-sm-21,
	.col-sm-22,
	.col-sm-23,
	.col-sm-24 {
		float: left;
	}
	.col-sm-1 {
		width: 4.16667%;
	}
	.col-sm-2 {
		width: 8.33333%;
	}
	.col-sm-3 {
		width: 12.5%;
	}
	.col-sm-4 {
		width: 16.66667%;
	}
	.col-sm-5 {
		width: 20.83333%;
	}
	.col-sm-6 {
		width: 25%;
	}
	.col-sm-7 {
		width: 29.16667%;
	}
	.col-sm-8 {
		width: 33.33333%;
	}
	.col-sm-9 {
		width: 37.5%;
	}
	.col-sm-10 {
		width: 41.66667%;
	}
	.col-sm-11 {
		width: 45.83333%;
	}
	.col-sm-12 {
		width: 50%;
	}
	.col-sm-13 {
		width: 54.16667%;
	}
	.col-sm-14 {
		width: 58.33333%;
	}
	.col-sm-15 {
		width: 62.5%;
	}
	.col-sm-16 {
		width: 66.66667%;
	}
	.col-sm-17 {
		width: 70.83333%;
	}
	.col-sm-18 {
		width: 75%;
	}
	.col-sm-19 {
		width: 79.16667%;
	}
	.col-sm-20 {
		width: 83.33333%;
	}
	.col-sm-21 {
		width: 87.5%;
	}
	.col-sm-22 {
		width: 91.66667%;
	}
	.col-sm-23 {
		width: 95.83333%;
	}
	.col-sm-24 {
		width: 100%;
	}
	.col-sm-pull-0 {
		right: auto;
	}
	.col-sm-pull-1 {
		right: 4.16667%;
	}
	.col-sm-pull-2 {
		right: 8.33333%;
	}
	.col-sm-pull-3 {
		right: 12.5%;
	}
	.col-sm-pull-4 {
		right: 16.66667%;
	}
	.col-sm-pull-5 {
		right: 20.83333%;
	}
	.col-sm-pull-6 {
		right: 25%;
	}
	.col-sm-pull-7 {
		right: 29.16667%;
	}
	.col-sm-pull-8 {
		right: 33.33333%;
	}
	.col-sm-pull-9 {
		right: 37.5%;
	}
	.col-sm-pull-10 {
		right: 41.66667%;
	}
	.col-sm-pull-11 {
		right: 45.83333%;
	}
	.col-sm-pull-12 {
		right: 50%;
	}
	.col-sm-pull-13 {
		right: 54.16667%;
	}
	.col-sm-pull-14 {
		right: 58.33333%;
	}
	.col-sm-pull-15 {
		right: 62.5%;
	}
	.col-sm-pull-16 {
		right: 66.66667%;
	}
	.col-sm-pull-17 {
		right: 70.83333%;
	}
	.col-sm-pull-18 {
		right: 75%;
	}
	.col-sm-pull-19 {
		right: 79.16667%;
	}
	.col-sm-pull-20 {
		right: 83.33333%;
	}
	.col-sm-pull-21 {
		right: 87.5%;
	}
	.col-sm-pull-22 {
		right: 91.66667%;
	}
	.col-sm-pull-23 {
		right: 95.83333%;
	}
	.col-sm-pull-24 {
		right: 100%;
	}
	.col-sm-push-0 {
		left: auto;
	}
	.col-sm-push-1 {
		left: 4.16667%;
	}
	.col-sm-push-2 {
		left: 8.33333%;
	}
	.col-sm-push-3 {
		left: 12.5%;
	}
	.col-sm-push-4 {
		left: 16.66667%;
	}
	.col-sm-push-5 {
		left: 20.83333%;
	}
	.col-sm-push-6 {
		left: 25%;
	}
	.col-sm-push-7 {
		left: 29.16667%;
	}
	.col-sm-push-8 {
		left: 33.33333%;
	}
	.col-sm-push-9 {
		left: 37.5%;
	}
	.col-sm-push-10 {
		left: 41.66667%;
	}
	.col-sm-push-11 {
		left: 45.83333%;
	}
	.col-sm-push-12 {
		left: 50%;
	}
	.col-sm-push-13 {
		left: 54.16667%;
	}
	.col-sm-push-14 {
		left: 58.33333%;
	}
	.col-sm-push-15 {
		left: 62.5%;
	}
	.col-sm-push-16 {
		left: 66.66667%;
	}
	.col-sm-push-17 {
		left: 70.83333%;
	}
	.col-sm-push-18 {
		left: 75%;
	}
	.col-sm-push-19 {
		left: 79.16667%;
	}
	.col-sm-push-20 {
		left: 83.33333%;
	}
	.col-sm-push-21 {
		left: 87.5%;
	}
	.col-sm-push-22 {
		left: 91.66667%;
	}
	.col-sm-push-23 {
		left: 95.83333%;
	}
	.col-sm-push-24 {
		left: 100%;
	}
	.col-sm-offset-0 {
		margin-left: 0%;
	}
	.col-sm-offset-1 {
		margin-left: 4.16667%;
	}
	.col-sm-offset-2 {
		margin-left: 8.33333%;
	}
	.col-sm-offset-3 {
		margin-left: 12.5%;
	}
	.col-sm-offset-4 {
		margin-left: 16.66667%;
	}
	.col-sm-offset-5 {
		margin-left: 20.83333%;
	}
	.col-sm-offset-6 {
		margin-left: 25%;
	}
	.col-sm-offset-7 {
		margin-left: 29.16667%;
	}
	.col-sm-offset-8 {
		margin-left: 33.33333%;
	}
	.col-sm-offset-9 {
		margin-left: 37.5%;
	}
	.col-sm-offset-10 {
		margin-left: 41.66667%;
	}
	.col-sm-offset-11 {
		margin-left: 45.83333%;
	}
	.col-sm-offset-12 {
		margin-left: 50%;
	}
	.col-sm-offset-13 {
		margin-left: 54.16667%;
	}
	.col-sm-offset-14 {
		margin-left: 58.33333%;
	}
	.col-sm-offset-15 {
		margin-left: 62.5%;
	}
	.col-sm-offset-16 {
		margin-left: 66.66667%;
	}
	.col-sm-offset-17 {
		margin-left: 70.83333%;
	}
	.col-sm-offset-18 {
		margin-left: 75%;
	}
	.col-sm-offset-19 {
		margin-left: 79.16667%;
	}
	.col-sm-offset-20 {
		margin-left: 83.33333%;
	}
	.col-sm-offset-21 {
		margin-left: 87.5%;
	}
	.col-sm-offset-22 {
		margin-left: 91.66667%;
	}
	.col-sm-offset-23 {
		margin-left: 95.83333%;
	}
	.col-sm-offset-24 {
		margin-left: 100%;
	}
}
@media (min-width: 992px) {
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-13,
	.col-md-14,
	.col-md-15,
	.col-md-16,
	.col-md-17,
	.col-md-18,
	.col-md-19,
	.col-md-20,
	.col-md-21,
	.col-md-22,
	.col-md-23,
	.col-md-24 {
		float: left;
	}
	.col-md-1 {
		width: 4.16667%;
	}
	.col-md-2 {
		width: 8.33333%;
	}
	.col-md-3 {
		width: 12.5%;
	}
	.col-md-4 {
		width: 16.66667%;
	}
	.col-md-5 {
		width: 20.83333%;
	}
	.col-md-6 {
		width: 25%;
	}
	.col-md-7 {
		width: 29.16667%;
	}
	.col-md-8 {
		width: 33.33333%;
	}
	.col-md-9 {
		width: 37.5%;
	}
	.col-md-10 {
		width: 41.66667%;
	}
	.col-md-11 {
		width: 45.83333%;
	}
	.col-md-12 {
		width: 50%;
	}
	.col-md-13 {
		width: 54.16667%;
	}
	.col-md-14 {
		width: 58.33333%;
	}
	.col-md-15 {
		width: 62.5%;
	}
	.col-md-16 {
		width: 66.66667%;
	}
	.col-md-17 {
		width: 70.83333%;
	}
	.col-md-18 {
		width: 75%;
	}
	.col-md-19 {
		width: 79.16667%;
	}
	.col-md-20 {
		width: 83.33333%;
	}
	.col-md-21 {
		width: 87.5%;
	}
	.col-md-22 {
		width: 91.66667%;
	}
	.col-md-23 {
		width: 95.83333%;
	}
	.col-md-24 {
		width: 100%;
	}
	.col-md-pull-0 {
		right: auto;
	}
	.col-md-pull-1 {
		right: 4.16667%;
	}
	.col-md-pull-2 {
		right: 8.33333%;
	}
	.col-md-pull-3 {
		right: 12.5%;
	}
	.col-md-pull-4 {
		right: 16.66667%;
	}
	.col-md-pull-5 {
		right: 20.83333%;
	}
	.col-md-pull-6 {
		right: 25%;
	}
	.col-md-pull-7 {
		right: 29.16667%;
	}
	.col-md-pull-8 {
		right: 33.33333%;
	}
	.col-md-pull-9 {
		right: 37.5%;
	}
	.col-md-pull-10 {
		right: 41.66667%;
	}
	.col-md-pull-11 {
		right: 45.83333%;
	}
	.col-md-pull-12 {
		right: 50%;
	}
	.col-md-pull-13 {
		right: 54.16667%;
	}
	.col-md-pull-14 {
		right: 58.33333%;
	}
	.col-md-pull-15 {
		right: 62.5%;
	}
	.col-md-pull-16 {
		right: 66.66667%;
	}
	.col-md-pull-17 {
		right: 70.83333%;
	}
	.col-md-pull-18 {
		right: 75%;
	}
	.col-md-pull-19 {
		right: 79.16667%;
	}
	.col-md-pull-20 {
		right: 83.33333%;
	}
	.col-md-pull-21 {
		right: 87.5%;
	}
	.col-md-pull-22 {
		right: 91.66667%;
	}
	.col-md-pull-23 {
		right: 95.83333%;
	}
	.col-md-pull-24 {
		right: 100%;
	}
	.col-md-push-0 {
		left: auto;
	}
	.col-md-push-1 {
		left: 4.16667%;
	}
	.col-md-push-2 {
		left: 8.33333%;
	}
	.col-md-push-3 {
		left: 12.5%;
	}
	.col-md-push-4 {
		left: 16.66667%;
	}
	.col-md-push-5 {
		left: 20.83333%;
	}
	.col-md-push-6 {
		left: 25%;
	}
	.col-md-push-7 {
		left: 29.16667%;
	}
	.col-md-push-8 {
		left: 33.33333%;
	}
	.col-md-push-9 {
		left: 37.5%;
	}
	.col-md-push-10 {
		left: 41.66667%;
	}
	.col-md-push-11 {
		left: 45.83333%;
	}
	.col-md-push-12 {
		left: 50%;
	}
	.col-md-push-13 {
		left: 54.16667%;
	}
	.col-md-push-14 {
		left: 58.33333%;
	}
	.col-md-push-15 {
		left: 62.5%;
	}
	.col-md-push-16 {
		left: 66.66667%;
	}
	.col-md-push-17 {
		left: 70.83333%;
	}
	.col-md-push-18 {
		left: 75%;
	}
	.col-md-push-19 {
		left: 79.16667%;
	}
	.col-md-push-20 {
		left: 83.33333%;
	}
	.col-md-push-21 {
		left: 87.5%;
	}
	.col-md-push-22 {
		left: 91.66667%;
	}
	.col-md-push-23 {
		left: 95.83333%;
	}
	.col-md-push-24 {
		left: 100%;
	}
	.col-md-offset-0 {
		margin-left: 0%;
	}
	.col-md-offset-1 {
		margin-left: 4.16667%;
	}
	.col-md-offset-2 {
		margin-left: 8.33333%;
	}
	.col-md-offset-3 {
		margin-left: 12.5%;
	}
	.col-md-offset-4 {
		margin-left: 16.66667%;
	}
	.col-md-offset-5 {
		margin-left: 20.83333%;
	}
	.col-md-offset-6 {
		margin-left: 25%;
	}
	.col-md-offset-7 {
		margin-left: 29.16667%;
	}
	.col-md-offset-8 {
		margin-left: 33.33333%;
	}
	.col-md-offset-9 {
		margin-left: 37.5%;
	}
	.col-md-offset-10 {
		margin-left: 41.66667%;
	}
	.col-md-offset-11 {
		margin-left: 45.83333%;
	}
	.col-md-offset-12 {
		margin-left: 50%;
	}
	.col-md-offset-13 {
		margin-left: 54.16667%;
	}
	.col-md-offset-14 {
		margin-left: 58.33333%;
	}
	.col-md-offset-15 {
		margin-left: 62.5%;
	}
	.col-md-offset-16 {
		margin-left: 66.66667%;
	}
	.col-md-offset-17 {
		margin-left: 70.83333%;
	}
	.col-md-offset-18 {
		margin-left: 75%;
	}
	.col-md-offset-19 {
		margin-left: 79.16667%;
	}
	.col-md-offset-20 {
		margin-left: 83.33333%;
	}
	.col-md-offset-21 {
		margin-left: 87.5%;
	}
	.col-md-offset-22 {
		margin-left: 91.66667%;
	}
	.col-md-offset-23 {
		margin-left: 95.83333%;
	}
	.col-md-offset-24 {
		margin-left: 100%;
	}
}
@media (min-width: 1200px) {
	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-lg-13,
	.col-lg-14,
	.col-lg-15,
	.col-lg-16,
	.col-lg-17,
	.col-lg-18,
	.col-lg-19,
	.col-lg-20,
	.col-lg-21,
	.col-lg-22,
	.col-lg-23,
	.col-lg-24 {
		float: left;
	}
	.col-lg-1 {
		width: 4.16667%;
	}
	.col-lg-2 {
		width: 8.33333%;
	}
	.col-lg-3 {
		width: 12.5%;
	}
	.col-lg-4 {
		width: 16.66667%;
	}
	.col-lg-5 {
		width: 20.83333%;
	}
	.col-lg-6 {
		width: 25%;
	}
	.col-lg-7 {
		width: 29.16667%;
	}
	.col-lg-8 {
		width: 33.33333%;
	}
	.col-lg-9 {
		width: 37.5%;
	}
	.col-lg-10 {
		width: 41.66667%;
	}
	.col-lg-11 {
		width: 45.83333%;
	}
	.col-lg-12 {
		width: 50%;
	}
	.col-lg-13 {
		width: 54.16667%;
	}
	.col-lg-14 {
		width: 58.33333%;
	}
	.col-lg-15 {
		width: 62.5%;
	}
	.col-lg-16 {
		width: 66.66667%;
	}
	.col-lg-17 {
		width: 70.83333%;
	}
	.col-lg-18 {
		width: 75%;
	}
	.col-lg-19 {
		width: 79.16667%;
	}
	.col-lg-20 {
		width: 83.33333%;
	}
	.col-lg-21 {
		width: 87.5%;
	}
	.col-lg-22 {
		width: 91.66667%;
	}
	.col-lg-23 {
		width: 95.83333%;
	}
	.col-lg-24 {
		width: 100%;
	}
	.col-lg-pull-0 {
		right: auto;
	}
	.col-lg-pull-1 {
		right: 4.16667%;
	}
	.col-lg-pull-2 {
		right: 8.33333%;
	}
	.col-lg-pull-3 {
		right: 12.5%;
	}
	.col-lg-pull-4 {
		right: 16.66667%;
	}
	.col-lg-pull-5 {
		right: 20.83333%;
	}
	.col-lg-pull-6 {
		right: 25%;
	}
	.col-lg-pull-7 {
		right: 29.16667%;
	}
	.col-lg-pull-8 {
		right: 33.33333%;
	}
	.col-lg-pull-9 {
		right: 37.5%;
	}
	.col-lg-pull-10 {
		right: 41.66667%;
	}
	.col-lg-pull-11 {
		right: 45.83333%;
	}
	.col-lg-pull-12 {
		right: 50%;
	}
	.col-lg-pull-13 {
		right: 54.16667%;
	}
	.col-lg-pull-14 {
		right: 58.33333%;
	}
	.col-lg-pull-15 {
		right: 62.5%;
	}
	.col-lg-pull-16 {
		right: 66.66667%;
	}
	.col-lg-pull-17 {
		right: 70.83333%;
	}
	.col-lg-pull-18 {
		right: 75%;
	}
	.col-lg-pull-19 {
		right: 79.16667%;
	}
	.col-lg-pull-20 {
		right: 83.33333%;
	}
	.col-lg-pull-21 {
		right: 87.5%;
	}
	.col-lg-pull-22 {
		right: 91.66667%;
	}
	.col-lg-pull-23 {
		right: 95.83333%;
	}
	.col-lg-pull-24 {
		right: 100%;
	}
	.col-lg-push-0 {
		left: auto;
	}
	.col-lg-push-1 {
		left: 4.16667%;
	}
	.col-lg-push-2 {
		left: 8.33333%;
	}
	.col-lg-push-3 {
		left: 12.5%;
	}
	.col-lg-push-4 {
		left: 16.66667%;
	}
	.col-lg-push-5 {
		left: 20.83333%;
	}
	.col-lg-push-6 {
		left: 25%;
	}
	.col-lg-push-7 {
		left: 29.16667%;
	}
	.col-lg-push-8 {
		left: 33.33333%;
	}
	.col-lg-push-9 {
		left: 37.5%;
	}
	.col-lg-push-10 {
		left: 41.66667%;
	}
	.col-lg-push-11 {
		left: 45.83333%;
	}
	.col-lg-push-12 {
		left: 50%;
	}
	.col-lg-push-13 {
		left: 54.16667%;
	}
	.col-lg-push-14 {
		left: 58.33333%;
	}
	.col-lg-push-15 {
		left: 62.5%;
	}
	.col-lg-push-16 {
		left: 66.66667%;
	}
	.col-lg-push-17 {
		left: 70.83333%;
	}
	.col-lg-push-18 {
		left: 75%;
	}
	.col-lg-push-19 {
		left: 79.16667%;
	}
	.col-lg-push-20 {
		left: 83.33333%;
	}
	.col-lg-push-21 {
		left: 87.5%;
	}
	.col-lg-push-22 {
		left: 91.66667%;
	}
	.col-lg-push-23 {
		left: 95.83333%;
	}
	.col-lg-push-24 {
		left: 100%;
	}
	.col-lg-offset-0 {
		margin-left: 0%;
	}
	.col-lg-offset-1 {
		margin-left: 4.16667%;
	}
	.col-lg-offset-2 {
		margin-left: 8.33333%;
	}
	.col-lg-offset-3 {
		margin-left: 12.5%;
	}
	.col-lg-offset-4 {
		margin-left: 16.66667%;
	}
	.col-lg-offset-5 {
		margin-left: 20.83333%;
	}
	.col-lg-offset-6 {
		margin-left: 25%;
	}
	.col-lg-offset-7 {
		margin-left: 29.16667%;
	}
	.col-lg-offset-8 {
		margin-left: 33.33333%;
	}
	.col-lg-offset-9 {
		margin-left: 37.5%;
	}
	.col-lg-offset-10 {
		margin-left: 41.66667%;
	}
	.col-lg-offset-11 {
		margin-left: 45.83333%;
	}
	.col-lg-offset-12 {
		margin-left: 50%;
	}
	.col-lg-offset-13 {
		margin-left: 54.16667%;
	}
	.col-lg-offset-14 {
		margin-left: 58.33333%;
	}
	.col-lg-offset-15 {
		margin-left: 62.5%;
	}
	.col-lg-offset-16 {
		margin-left: 66.66667%;
	}
	.col-lg-offset-17 {
		margin-left: 70.83333%;
	}
	.col-lg-offset-18 {
		margin-left: 75%;
	}
	.col-lg-offset-19 {
		margin-left: 79.16667%;
	}
	.col-lg-offset-20 {
		margin-left: 83.33333%;
	}
	.col-lg-offset-21 {
		margin-left: 87.5%;
	}
	.col-lg-offset-22 {
		margin-left: 91.66667%;
	}
	.col-lg-offset-23 {
		margin-left: 95.83333%;
	}
	.col-lg-offset-24 {
		margin-left: 100%;
	}
}
.sprite-checkout-sprite,
.sprite-checkout-footer__address,
footer .footer__contact .footer__address:before,
.sprite-checkout-footer__credits__item--avanti,
footer
	.footer__copyright
	.footer__credits
	.footer__credits__item.footer__credits__item--avanti,
.sprite-checkout-footer__credits__item--vtex,
footer
	.footer__copyright
	.footer__credits
	.footer__credits__item.footer__credits__item--vtex,
.sprite-checkout-footer__email,
footer .footer__contact .footer__email:before,
.sprite-checkout-footer__logo,
footer .footer__contact .footer__logo,
.sprite-checkout-footer__phone,
footer .footer__contact .footer__phone:before,
.sprite-checkout-header__icon-lock,
.header__security:before {
	background-image: url("/arquivos/sprite-checkout-sd5bbe46a3e.png");
	background-repeat: no-repeat;
}
.sprite-checkout-footer__address,
footer .footer__contact .footer__address:before {
	background-position: 0 0;
	height: 17px;
	width: 13px;
}
.sprite-checkout-footer__credits__item--avanti,
footer
	.footer__copyright
	.footer__credits
	.footer__credits__item.footer__credits__item--avanti {
	background-position: 0 -17px;
	height: 27px;
	width: 80px;
}
.sprite-checkout-footer__credits__item--vtex,
footer
	.footer__copyright
	.footer__credits
	.footer__credits__item.footer__credits__item--vtex {
	background-position: 0 -44px;
	height: 24px;
	width: 84px;
}
.sprite-checkout-footer__email,
footer .footer__contact .footer__email:before {
	background-position: 0 -68px;
	height: 9px;
	width: 13px;
}
.sprite-checkout-footer__logo,
footer .footer__contact .footer__logo {
	background-position: 0 -77px;
	height: 28px;
	width: 125px;
}
.sprite-checkout-footer__phone,
footer .footer__contact .footer__phone:before {
	background-position: 0 -105px;
	height: 13px;
	width: 12px;
}
.sprite-checkout-header__icon-lock,
.header__security:before {
	background-position: 0 -118px;
	height: 19px;
	width: 15px;
}
body + object {
	display: none;
}
html {
	background-color: #000000;
}
body {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-bottom: 0 !important;
}
.loading-bg {
	margin-top: 0;
}
header {
	background-color: #000;
	padding: 15px 0;
	color: #fff;
}
.header__logo {
	margin: 0;
	text-align: center;
}
.header__logo a {
	line-height: 10px;
}
.header__logo img {
	line-height: 10px;
	vertical-align: baseline;
}
.header__security {
	float: right;
	font-family: "Source Sans Pro", sans-serif;
	position: relative;
	margin: 0;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 8px;
}
.header__security:before {
	content: "";
	display: inline-block;
	position: absolute;
	left: -30px;
	top: 0;
}
footer {
	background: #000;
	color: #fff;
}
footer .footer__contact {
	padding: 48px 0 30px;
	font-size: 13px;
	text-transform: uppercase;
}
footer .footer__contact .footer__phone,
footer .footer__contact .footer__email,
footer .footer__contact .footer__address {
	position: relative;
	padding-left: 22px;
	float: right;
}
footer .footer__contact .footer__phone:before,
footer .footer__contact .footer__email:before,
footer .footer__contact .footer__address:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
footer .footer__contact .footer__phone {
	margin-right: 13px;
}
footer .footer__contact .footer__phone:before {
	top: 3px;
}
footer .footer__contact .footer__email:before {
	top: 5px;
}
footer .footer__copyright {
	border-top: 1px solid #3d3d3d;
	padding: 20px 0 30px;
}
footer .footer__copyright .footer__credits {
	padding: 0;
	margin: 0;
	text-align: center;
}
footer .footer__copyright .footer__credits .footer__credits__item {
	display: inline-block;
	position: relative;
	margin: 0 14px;
}
footer
	.footer__copyright
	.footer__credits
	.footer__credits__item.footer__credits__item--vtex:before {
	content: "";
	display: block;
	width: 1px;
	height: 34px;
	position: absolute;
	top: -7px;
	left: -14px;
	background: #3d3d3d;
}
@media (min-width: 1200px) {
	.container {
		width: 945px;
	}
	header .container,
	footer .container {
		width: 1170px;
	}
}
@media (max-width: 1200px) {
	.container {
		width: auto;
	}
}
@media (max-width: 1199px) {
	footer .footer__contact .footer__phone {
		margin-right: 22px;
	}
}
@media (max-width: 991px) {
	.header__security {
		float: none;
		text-align: center;
	}
	footer .footer__contact {
		text-align: center;
	}
	footer .footer__contact .footer__logo {
		margin: 0 auto 20px;
	}
	footer .footer__contact .footer__phone,
	footer .footer__contact .footer__email,
	footer .footer__contact .footer__address {
		float: none;
		display: inline-block;
		margin: 5px 0;
	}
	#armored_website {
		width: auto !important;
	}
}
@media (max-width: 490px) {
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	footer .footer__contact {
		font-size: 10px;
	}
	footer .footer__contact .footer__phone:before {
		top: 0px;
	}
	footer .footer__contact .footer__email:before {
		top: 2px;
	}
	footer .footer__contact .footer__address:before {
		top: -2px;
	}
}
#is-corporate-client {
	display: none !important;
}
@media (max-width: 390px) {
	.body-order-placed .ajuda-gente {
		left: 187px !important;
		top: 421px !important;
	}
}
@media screen and (min-width: 400px) and (max-width: 480px) {
	.body-order-placed .ajuda-gente {
		left: 194px !important;
		top: 371px !important;
	}
}
@media screen and (min-width: 500px) and (max-width: 600px) {
	.body-order-placed .ajuda-gente {
		left: 197px !important;
		top: 352px !important;
	}
}
@media screen and (min-width: 700px) and (max-width: 800px) {
	.body-order-placed .ajuda-gente {
		left: 32px !important;
		top: 341px !important;
	}
}
.masked-info-hello,
.masked-info-message {
	width: 350px;
}
.mini-cart .payment-confirmation-wrap {
	position: relative;
}

#payment-group-custom201PaymentGroupPaymentGroup,
#payment-group-creditDirectSalePaymentGroup,
#payment-group-debitDirectSalePaymentGroup {
	display: none;
}

#payment-group-PayPalPlusPaymentGroup span.payment-group-item-text {
	font-size: 0;
}

#payment-group-PayPalPlusPaymentGroup span.payment-group-item-text:after {
	content: "PayPal: Em até 12x sem juros";
	font-size: 12px;
	display: inline-block;
	padding: 8px 0;
}

.add-item-attachment {
	font-size: 0;
	display: initial;
	border: none;
}

.add-item-attachment:before {
	content: "Criar Assinatura ";
	background-color: black !important;
	color: white;
	border: none;
	background-image: none;
	text-shadow: none;
	margin: 10px 0;
	padding: 5px 10px;
	font-size: 12px;
	display: inline-block;
}

.add-item-attachment:hover:before {
	color: white;
	text-decoration: underline;
}

.clone-item {
	display: none;
}

.item-attachments-header {
	font-size: 0;
}

.item-attachments-header:before {
	content: "Assinatura ";
	font-size: 16px;
	background-color: #eee;
	display: inline-block;
	padding: 5px 20px;
	line-height: 100%;
	position: relative;
	z-index: 2;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 #ddd;
}

.item-attachment-name-periodo label {
	font-size: 0;
}

.item-attachment-name-periodo label:before {
	content: "Receba a cada:";
	font-size: 14px;
}

.row-fluid .full-cart.active,
.row-fluid .orderform-template.active {
	padding: 30px;
}
#cart-title {
	padding-left: 30px !important;
}

footer
	.footer__copyright
	.footer__credits
	.footer__credits__item.footer__credits__item--vtex:before {
	display: none;
}

.footer__menus__title {
	padding-bottom: 30px;
}

.srp-delivery-header strong {
	font-weight: normal;
}

.srp-delivery-header span {
	font-size: 18px !important;
}

a.srp-address-title {
	font-size: 18px !important;
}

.srp-main-title {
	font-weight: 600 !important;
	font-size: 20px !important;
	text-transform: uppercase;
}

.srp-delivery-current-many {
	font-size: 17px !important;
	color: #555 !important;
}

.srp-delivery-current-many__sla {
	font-size: 15px !important;
}

.srp-delivery-select optgroup option {
	font-size: 15px !important;
	padding: 3px 2px;
}

.srp-delivery-select optgroup {
	padding: 0 4px 4px;
	color: #6f6f6f !important;
	font-size: 16px !important;
}
