.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: none;
}

.btn-default:focus,
.btn-default.focus {
  color: #333333;
  background-color: #e6e6e6;
  border-color: none;
}

.btn-default:hover {
  color: #333333;
  background-color: #e6e6e6;
  border-color: none;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: none;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333333;
  background-color: #d4d4d4;
  border-color: none;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: none;
}

.btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}

.btn-primary {
  color: #ffffff;
  background-color: #FF227B;
  border-color: none;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #FF227B;
  border-color: none;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #FF227B;
  border-color: none;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #FF227B;
  border-color: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #FF227B;
  border-color: none;
}

.btn-primary .badge {
  color: #FF227B;
  background-color: #ffffff;
}

.btn-success {
  color: #ffffff;
  background-color: #5DBD2D;
  border-color: none;
}

.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #5DBD2D;
  border-color: none;
}

.btn-success:hover {
  color: #ffffff;
  background-color: #5DBD2D;
  border-color: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5DBD2D;
  border-color: none;
}

.btn-success .badge {
  color: #5DBD2D;
  background-color: #ffffff;
}

.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: none;
}

.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: none;
}

.btn-info:hover {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: none;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: none;
}

.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #ffffff;
  background-color: #269abc;
  border-color: none;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: none;
}

.btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}

.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: none;
}

.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #ec971f;
  border-color: none;
}

.btn-warning:hover {
  color: #ffffff;
  background-color: #ec971f;
  border-color: none;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ec971f;
  border-color: none;
}

.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #ffffff;
  background-color: #d58512;
  border-color: none;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: none;
}

.btn-warning .badge {
  color: #f0ad4e;
  background-color: #ffffff;
}

.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: none;
}

.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #c9302c;
  border-color: none;
}

.btn-danger:hover {
  color: #ffffff;
  background-color: #c9302c;
  border-color: none;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #c9302c;
  border-color: none;
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #ffffff;
  background-color: #ac2925;
  border-color: none;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: none;
}

.btn-danger .badge {
  color: #d9534f;
  background-color: #ffffff;
}

.btn-link {
  color: #FF227B;
  font-weight: normal;
  border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: nonerent;
}

.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none;
}

.btn-lg {
  padding: 8px 20px;
  font-size: 18px;
  line-height: 1.3333333;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

#basic-modal-content {
  display: none;
}

/* Overlay */
#simplemodal-overlay {
  background-color: #000;
}

/* Container */
#simplemodal-container {
  width: 430px;
  height: 120px;
  padding: 25px 40px;
  color: #333;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 15px #555;
}

#simplemodal-container .simplemodal-data {
  padding: 8px;
}

#simplemodal-container a {
  color: #ddd;
}

#simplemodal-container a.modalCloseImg {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.8;
  position: absolute;
  z-index: 3200;
  top: 5px;
  right: 2px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  border-radius: 50%;
  background: transparent;
}

/* Buy Modal */
#modal-buy .modal-buy__msg {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 30px;
  text-align: center;
  color: #333;
}
#modal-buy .btn {
  text-decoration: none;
  color: #fff;
}
#modal-buy .btn-success {
  float: right;
}

.franquias .required-label {
  font-size: 11px;
  position: absolute;
  top: 18px;
  right: -105px;
  color: red;
}
.franquias .box {
  padding: 25px;
  background: #f9f9f9;
  margin: 0 auto 20px;
  text-align: center;
}
.franquias .form-franquia__success {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  position: relative;
  display: inline-block;
  clear: both;
  width: 100%;
  margin: 20px 0 0;
  padding: 20px 0;
  text-align: center;
  color: green;
  border: solid 1px green;
  background: #e2ffc7;
}
.franquias .form-franquia__actions {
  margin: 120px 0 0;
  text-align: center;
}

.form-franquia {
  position: relative;
  left: 140px;
  display: inline-block;
  clear: both;
  width: 510px;
  margin: 20px 0 100px;
  padding: 0;
}
.form-franquia input [type='text'], .form-franquia input [type='email'] {
  font: 400 12px/18px 'Trebuchet MS', Arial, sans-serif;
  width: 284px;
  height: 18px;
  margin-bottom: 5px;
  padding: 7px;
  border: 1px solid #ccc;
}
.form-franquia input[type='radio'] {
  position: relative;
  top: -2px;
  margin-right: 2px;
}
.form-franquia p {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0 0 15px;
}
.form-franquia .form-franquia__label {
  font: 700 12px/18px 'Trebuchet MS', Arial, sans-serif;
  line-height: 1.2;
  float: left;
  width: 200px;
  margin-top: 10px;
  margin-right: 10px;
  text-align: right;
}
.form-franquia .form-franquia__label:after {
  content: ':';
}
.form-franquia .form-franquia__label____radio {
  float: left;
  margin: 8px 15px 0 0;
}
.form-franquia .form-franquia__input {
  font-size: 13px;
  line-height: 1.3;
  display: inline-block;
  width: 285px;
  height: 30px;
  padding: 0 5px;
  border: solid 1px #ddd;
  border-radius: 0;
  box-shadow: none;
  float: left;
}
.form-franquia .form-franquia__input:focus {
  border: solid 1px #ddd;
}
.form-franquia .form-franquia__input#data_nascimento, .form-franquia .form-franquia__input#cep, .form-franquia .form-franquia__input#tipo_logradouro, .form-franquia .form-franquia__input#endereco, .form-franquia .form-franquia__input#uf, .form-franquia .form-franquia__input#numero {
  width: 130px;
}
.form-franquia .form-franquia__input#tipo_logradouro {
  width: 60px;
  margin-right: 5px;
}
.form-franquia .form-franquia__input#endereco {
  width: 210px;
}
.form-franquia textarea {
  font-family: arial, sans-serif;
  font-size: 13px;
  width: 406px;
  height: 170px;
  padding: 5px;
  resize: none;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
}
.form-franquia textarea:focus {
  border: solid 1px #ddd;
}
.form-franquia .form-franquia__btn-enviar {
  font: 700 12px/18px 'Trebuchet MS', Arial, sans-serif;
  float: left;
  width: 100px;
  margin: 0 0 0 210px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: #000;
}
.form-franquia .form-franquia__btn-enviar:hover {
  background: #ff227b;
}

/* FLAGS */
.bf2015-10-,
.bf2015-20-,
.bf2015-30-,
.bf2015-40-,
.bf2015-50-,
.bf2015-60-,
.bf2015-70-,
.bf2015-80- {
  height: 30px;
  left: 65px;
  position: absolute;
  text-indent: -9999px;
  top: 1px;
  width: 45px;
}

.bf2015-10- {
  background: url(tag-10.png) no-repeat 0 0;
}

.bf2015-20- {
  background: url(tag-20.png) no-repeat 0 0;
}

.bf2015-30- {
  background: url(tag-30.png) no-repeat 0 0;
}

.bf2015-40- {
  background: url(tag-40.png) no-repeat 0 0;
}

.bf2015-50- {
  background: url(tag-50.png) no-repeat 0 0;
}

.bf2015-60- {
  background: url(tag-60.png) no-repeat 0 0;
}

.bf2015-70- {
  background: url(tag-70.png) no-repeat 0 0;
}

.bf2015-80- {
  background: url(tag-80.png) no-repeat 0 0;
}
