.nameContainer--qf-shelf {
  margin: 0;
  padding: 7px 0 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--qf-shelf-price-selling-savings) {
  position: relative;
  justify-content: center;
  margin-bottom: 5px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--qf-shelf-price-selling-savings)
  :global(.vtex-button) {
  background: transparent;
  border: none;
  border-radius: 0;
  color: $color-white;
  position: absolute;
  right: 0;
  top: -31px;
  right: -16px;
  outline: none;
  margin: 0;

  @media only screen and (max-width: 780px) {
    top: -9px;
  }
}

.element--qf-shelf-product
  :global(.vtex-flex-layout-0-x-flexCol--shelf-hover)
  :global(.vtex-button) {
  background: #000;
  border: none;
  border-radius: 0;
  color: #fff;
  margin-top: 11px;
  min-height: 38px;
  max-height: 38px;
}

@media (max-width: 767px) {
  :global(.vtex-flex-layout-0-x-flexCol--shelf-hover) {
    display: none !important;
  }
}
