.product-identifier__label,
.product-identifier__separator {
  display: none;
}

.product-identifier--productReference {
  margin: 10px 0;
  .product-identifier__value {
    font: normal normal 300 14px/21px $font-family;
    letter-spacing: 1.4px;
    color: $checkout-black2;
    opacity: 1;

    @include mq(sm, max) {
      margin: 10px 0;
    }

    &::before {
      content: "Ref:";
      margin-right: 5px;
    }
  }
}

.product-identifier {
  display: block;
}
