/* qf PRODUCT DETAILS  */
.flexRowContent--qf-product-details {
  max-width: unset;
  margin: 0 auto 20px auto;
}

.flexRow--qf-product-page-shelf {
  margin-bottom: 102px;
}

.flexRowContent--qf-buy-btn {
  margin-top: 0;
  background: #f6f9fc;
  padding-right: 20px;

  .stretchChildrenWidth {
    padding: 0;
    align-items: unset;

    &:first-child {
      width: auto !important;
      display: flex;
      gap: 40px;
      padding: 0 20px;
      @media (max-width: 1024px) {
        padding: 0 15px;
        justify-content: flex-start;
      }
    }
  }
}
:global(.vtex-numeric-stepper-wrapper) {
  height: 100%;

  :global(.vtex-numeric-stepper-container) {
    height: 100%;

    :global(.vtex-numeric-stepper__input) {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      text-align: center;
      font: normal normal normal 20px/30px $font-family !important;
      letter-spacing: 0px;
      color: #333333;
    }
    :global(.vtex-numeric-stepper__input) {
      font-weight: normal;
      font-size: 12px;
    }
  }
}

.flexRowContent--qf-buy-btn :global(.vtex-button) {
  outline: none;
  border: none;
  border-radius: 0;
  background: $checkout-black2;
  transition: all 0.2s;
  width: 310px;
  height: 46px;

  @media (max-width: 1025px) {
    width: 176px;
  }

  &:hover {
    background-color: #111;
    box-shadow: 0 0 10px #000;
    transition: all 0.2s;
  }
}
.flexRowContent--qf-buy-btn :global(.vtex-button):hover {
  background: lighten($color-black2, 15%);
}

:global(.vtex-modal-layout-0-x-triggerContainer--trigger-measurement-chart) {
  background: #f6f9fc;
  width: 100%;

  .flexRowContent--img-txt-size {
    border: 1px solid #707070;
    width: 174px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    cursor: pointer;

    .stretchChildrenWidth {
      padding: 0;
      width: auto !important;
    }
  }
}

:global(.vtex-add-to-cart-button-0-x-buttonText) {
  text-align: center;
  font: normal normal 800 16px/25px $font-family;
  letter-spacing: 1.6px;
  color: $color-white;
  text-transform: uppercase;
}

.flexRowContent--qf-buy-btn :global(.vtex-button):disabled {
  background: rgba(229, 229, 229, 0.870786);
  border-radius: 5px;
  line-height: 42px;
  margin-bottom: 32px;
  letter-spacing: 0.05em;
}

.flexRowContent--qf-buy-btn
  :global(.vtex-button):disabled
  :global(.vtex-add-to-cart-button-0-x-buttonText) {
  color: #c4c4c4;
  letter-spacing: 0.05em;
}

.flexRow--qf-product-page-shelf {
  justify-content: left;
  padding-left: 0;
  width: 100%;
  margin: 60px auto 80px;
}

.flexRow--qf-product-details {
  :global(.vtex-store-components-3-x-container) {
    max-width: 88%;
  }
}
.flexCol--product-right {
  max-width: 682px;
}

.flexRow--qf-product-details {
  :global(.vtex-store-components-3-x-shareContainer) {
    display: flex;
    align-items: center;
    margin-top: 35px;

    :global(.vtex-store-components-3-x-shareLabel) {
      margin-right: 34px;
      color: $color-black2;
      font-size: 14px;
      letter-spacing: 0.22px;

      &::after {
        content: ":";
        cursor: text;
      }
    }

    :global(.vtex-store-components-3-x-shareSocialButton) {
      margin-right: 15px;
    }
  }
}

//mobile
@media (max-width: 1025px) {
  .flexCol--mobile-pdp-box {
    .flexRowContent--product-price-installments {
      display: flex;
      align-items: center;
      .stretchChildrenWidth {
        width: auto !important;
        margin-right: 10px;
      }
    }
    :global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
      background-color: #f6f9fc;
      align-items: initial;
      padding: 0 0 15px 15px;
      margin: 0;
    }
    .flexRow--qf-buy-btn {
      background: #f6f9fc;

      // :global(.vtex-button) {
      //   border-radius: 0;
      //   height: 70px;
      // }
    }
  }
}

.flexRowContent--product-price-installments {
  @include mq(sm, max) {
    margin: 10px 0;
  }
}

.flexRow--qf-product-main-mobile {
  :global(.vtex-store-components-3-x-container) {
    padding: 0 0.8rem;
  }
}