.productBrand--qf-product {
  text-align: center;
  // font-family: $font-family;
  font: normal normal 800 30px/46px $font-family;
  letter-spacing: 3px;
  color: $checkout-black2;
  text-transform: uppercase;

  @include mq(sm, max) {
    font: normal normal 800 23px/24px $font-family;
  }
}

:global(.vtex-shelf-1-x-sliderContainer--qf-shelf-product)
  .skuSelectorTextContainer {
  text-align: left;
}

.skuSelectorTextContainer {
  margin-bottom: 10px;
  text-align: left;
}

.skuSelectorName {
  font: normal normal 800 14px/21px $font-family;
  letter-spacing: 1.4px;
  color: $checkout-black2;

  &::after {
    content: ":";
  }
  &::before {
    content: "Selecione o ";
  }
}

:global(.vtex-flex-layout-0-x-flexRow--tamanhosss) {
  // border-bottom: 2px solid #777;
  // margin-bottom: 12px;

  :global(.vtex-store-components-3-x-skuSelectorName) {
    display: none;
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--tamanhosss) {
  margin-left: auto;
}

.frameAround--qf-custom-sku-selector {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: 1px solid #f0f0f0;
}

.skuSelectorItem--qf-custom-sku-selector--selected
  .frameAround--qf-custom-sku-selector {
  border: 1px solid $border-color;
  border-radius: 0;
}

.skuSelectorInternalBox--qf-custom-sku-selector {
  border: none;
}
.skuSelectorSubcontainer {
  margin: 0;
}

.skuSelectorContainer--qf-custom-sku-selector {
  margin-top: 30px;
  display: flex;
  background: #f6f9fc;
  padding: 20px;

  @media (max-width: 1025px) {
    padding: 15px;
    padding-top: 0;
  }
  .skuSelectorSubcontainer--tamanhos {
    order: 1;

    .skuSelectorItem--qf-custom-sku-selector {
      width: 37px;
      height: 37px;
    }
  }

  .skuSelectorSubcontainer--color {
    order: 0;

    .skuSelectorName {
      font-size: 0;

      &::before {
        font-size: 15px;
        content: "Cores:";
        cursor: text;
      }
    }
  }
}

.subscriberContainer .title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #7d7d7d;
}
.subscriberContainer .subscribeLabel {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #7d7d7d;
}
.subscriberContainer :global(.vtex-button):disabled,
.subscriberContainer :global(.vtex-button) {
  background: #292929;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-white;
  border: none;
}

.subscriberContainer .content {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
}

.shippingContainer {
  margin-top: 16px;
  margin-bottom: 8px;
}

.shippingContainer :global(.vtex-input__label)::after {
  content: "CEP:";
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #7d7d7d;
}
.shippingContainer :global(.vtex-input__label) {
  font-size: 0;
}
.shippingContainer :global(.vtex-address-form__postalCode) {
  margin-bottom: 17px;
}

.shippingContainer :global(.vtex-button) {
  background: #292929;
  border-radius: 5px;
  line-height: 19px;
  min-height: 42px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-white;
  border: 0;
  transition: all 0.4s;
}

.shippingContainer :global(.vtex-button):hover {
  background: $checkout-black;
}

@media only screen and (max-width: 640px) {
  .subscriberContainer :global(.vtex-button) {
    width: 100%;
    line-height: 42px;
  }
}

/* PÁGINA DE PRODUTOS(DETAILS) */

.productDescriptionContainer {
  padding: 20px 20px 0 20px;
  background: #f6f9fc;
}
.productDescriptionTitle {
  font: normal normal 800 14px/21px $font-family;
  letter-spacing: 1.4px;
  color: $checkout-black2;
}

.content,
.productDescriptionText {
  font: normal normal 300 12px/18px $font-family;
  letter-spacing: 0px;
  color: $checkout-black2;
}

:global(.vtex-toast) {
  background: #292929;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.confirmationTitle--qf-newsletter,
.confirmationText--qf-newsletter {
  color: black;
}

.backToTopButtonContainer {
  right: 11px;
}
.backToTopButtonContainer :global(.vtex-button) {
  border: none;
  outline: none;
  width: 40px;
  height: 37px;
  background-size: cover !important;
}

.backToTopButtonContainer :global(.vtex-button):focus {
  border: none;
  outline: none;
}

.backToTopButtonContainer :global(.vtex-button__label) {
  display: none;
}

.skuSelectorNameContainer,
.skuSelectorOptionsList {
  margin: 0;
}

// .productImageTag--galery-thumbs--main{

// }

.skuSelectorOptionsList {
  display: flex;
  justify-content: left;
}

:global(.vtex-flex-layout-0-x-flexRow--tamanhosss) {
  .skuSelectorItem {
    margin: 0 20px 10px 0;
  }
  .skuSelectorOptionsList {
    justify-content: center;
  }
}

.skuSelectorItem {
  width: 92px;
  height: 36px;
  margin: 0 20px 20px 0;
  border-radius: 0;
  border: 1px solid $checkout-black2;
}

.skuSelectorItemTextValue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  font: normal normal 800 13px/21px $font-family;
  letter-spacing: 0px;
  color: $checkout-black2;
  padding: 0;
}

.specificationsTable {
  background: #f6f9fc;
}

.specificationsTableContainer {
  padding-left: 20px;
  background: #f6f9fc;

  @media (max-width: 1025px) {
    margin: 0 0 30px 0;
    padding-bottom: 20px;
  }

  .specificationsTableHead {
    display: none;
  }

  .specificationItemSpecifications {
    padding: 0;
    border: none;
    border-bottom: 1px solid #e3e4e6;
  }
  .specificationItemProperty {
    @media (max-width: 1025px) {
      padding: 0;
    }
  }
  .specificationsTableRow {
    display: flex;

    .specificationItemProperty,
    .specificationItemSpecifications {
      font: normal normal 300 12px/18px $font-family;
      letter-spacing: 0px;
      color: $checkout-black2;
      align-items: center;
      display: flex;
    }
  }

  .specificationsTitle {
    font-size: 0;
    margin: 0;

    @media (max-width: 1025px) {
      margin: 0 0 10px 0;
    }
    &::before {
      content: "Tecnologia e composição";
      font: normal normal 800 14px/21px $font-family;
      letter-spacing: 1.4px;
      color: $checkout-black2;
    }
  }
}

.skuSelectorItemImageValue {
  display: block;
  width: 34px;
  height: 45px;
  object-fit: cover;
  object-position: top;
}

.shippingContainer
  :global(.vtex-address-form__postalCode)
  :last-child:not(:global(.vtex-input-prefix__group)):not(:global(.vtex-input__suffix)) {
  font-size: 10px;
  line-height: 13px;
  text-decoration-line: underline;
  color: #7d7d7d;
  font-family: "Oxygen", sans-serif;
}

.shippingContainer :global(.vtex__icon-external-link) {
  display: none;
}

.swiperPaginationClickable {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}

.skuSelectorSubcontainer .frameAround {
  // border-radius: 0;
  // border-color: none;
  border: none;
}

.skuSelectorSubcontainer .skuSelectorInternalBox {
  border-radius: 0;
}

.diagonalCross {
  border-radius: 0;
  border-color: #e3e4e6;
}

.skuSelectorItem--selected {
  background: $checkout-black2;

  .skuSelectorItemTextValue--qf-custom-sku-selector {
    letter-spacing: 0px;
    color: $color-white;
    text-transform: uppercase;
    :global(.vtex-sku-number) {
      color: $color-white;
    }
  }
}

.skuSelectorItemTextValue--qf-custom-sku-selector {
  :global(.vtex-sku-number) {
    font: normal normal normal 14px/21px $font-family;
    letter-spacing: 0px;
    color: $checkout-black2;
    margin-left: 5px;
  }
}

.productImagesThumbCaret :global(.vtex-store-components-3-x-caretIcon) {
  opacity: 1;
}

:global(.vtex-toast) {
  min-height: 62px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: $color-white;
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  :global(.vtex-toast) :global(.vtex-button__label) {
    font-size: 13px;
  }
}

.productImageTag--main {
  max-height: unset !important;
  max-width: 803px;
  display: block;
  margin: 0 auto;

  // @media (max-width: 1026px) {
  max-width: 80%;
  // }
}

.carouselContainer--galery-thumbs {
  display: flex;
  justify-content: center;
  .carouselGaleryThumbs--galery-thumbs {
    display: none;
  }
}
.productImagesThumb--galery-thumbs {
  margin-bottom: 45px;
}
.carouselGaleryCursor {
  margin: 0;
  padding: 0;
  border: 1px solid #ebebeb;
  width: 100%;
  max-width: 100%;
}

.diagonalCross--qf-custom-sku-selector {
  opacity: 0.8;
  background: #fff;
  z-index: 10;
  margin: -1px;
}

@media (max-width: 1025px) {
  .skuSelectorSelectContainer {
    width: 173px;
    height: 40px;

    :global(.vtex-dropdown__button) {
      background-color: #f6f9fc;
      color: $checkout-black2;
      font: normal normal normal 14px/22px $font-family;
    }
  }
}
