.relatedProducts--similar {
  .title {
    padding: 0;
    justify-content: left;
    font-size: 15px;
    line-height: 14px;
    color: $checkout-black;
    text-transform: uppercase;
    letter-spacing: 1.04px;
  }
}
