.productHighlightWrapper--qf-collection-badge {
  background: #292929;
  padding: 2px 8px 4px;
  margin-bottom: 4px;
}

.productHighlightText--qf-collection-badge {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding: 6px 2px 2px;
  display: inline-block;
}
