.flexRow--banner-section-01 {
  margin-top: 50px;

  @media (max-width: 1026px) {
    margin-top: 14px;
  }

  :global(.vtex-store-components-3-x-container) {
    max-width: 1920px !important;

    @media (max-width: 1026px) {
      padding: 0;
    }
  }
}

.flexRowContent--banner-section-01 {
  @media (max-width: 1026px) {
    flex-direction: column;
  }

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    @media (max-width: 1026px) {
      width: 100% !important;
    }
  }

  :global(.vtex-store-components-3-x-imageElement--banner-mobile) {
    @media (max-width: 1026px) {
      width: 100%;
      max-height: auto !important;
    }
  }
}

.flexRowContent--categories-title {
  border-top: 1px solid $color-gray2;
  border-bottom: 1px solid $color-gray2;
  border-left: 1px solid $color-gray2;

  @media (max-width: 1260px) {
    display: flex;
  }

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    padding: 20px 0;

    @media (max-width: 1460px) {
      padding: 5px 0;
    }

    &:first-child {
      width: 100% !important;

      @media (max-width: 1006px) {
        display: flex;
      }
    }
    &:last-child {
      max-width: 22%;
      border-left: 1px solid $color-gray2;
    }
  }
}

.flexRow--carousel-categories-links-mobile {
  margin-bottom: 10px;
}

.flexRowContent--categories-banner-list {
  display: flex;
  justify-content: center;

  @media (max-width: 1026px) {
    gap: 15px;
  }
}

.flexColChild--categories-banner-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flexRowContent--shelf-recomendados {
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 100% !important;
    &:last-child {
      flex-direction: column;
    }
  }
}

.flexRowContent--essentials-shelf{
  margin: 34px auto 34px !important;
}

.flexRowContent--body-shelf{
  margin: 50px auto 50px !important;
}

.flexCol--recomendados-shelf-col,
.flexCol--shock-shelf-col,
.flexCol--essentials-shelf-col,
.flexCol--body-shelf-col {
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 30px;
  align-items: center;
}

.flexRow--home-video-shelf {
  background: #f6f9fc;
  padding: 100px 0 100px;

  :global(.vtex-store-components-3-x-container) {
    max-width: 100%;
  }
}

.flexRowContent--home-video-shelf{
  align-items: center;
}

.flexRowContent--shock-shelf {
  margin: 0 !important;
  padding-left: 20px !important;

  :global(.vtex-product-summary-2-x-imageContainer) {
    max-height: 339px;
    overflow: hidden;
    
    :global(.vtex-product-summary-2-x-image--hover) {
      height: auto !important;
    }
  }
}

.flexRow--slider-instagram {
  :global(.vtex-store-components-3-x-container) {
    max-width: 1920px;
    padding: 0;
  }
}

.flexRowContent--slider-instagram {
  flex-direction: column;

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    flex-direction: column;
  }
}

// :global(.vtex-product-summary-2-x-image--qf-shelf-product-image--hover {
//   left: 50%;
//   right: 50%;
//   transform: translate(-50%);
// }

:global(.vtex-product-summary-2-x-imageWrapper--qf-shelf-product-image) {
  :global(.vtex-product-summary-2-x-hoverImage) {
    left: 50%;
    right: 50%;
    transform: translate(-50%);
  }
}