.list {
  list-style: none;
  display: flex;
  justify-content: center;
  
  padding: 0;
  margin: 0;
  width: 100%;

  @media (max-width:1026px) {
    flex-wrap: wrap;
  }
  
  @media (max-width:445px){
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
}

.item {
  display: flex;
}
