//home
.paragraph--carousel-promotions {
  margin: 0;
  font: normal normal 600 12px/21px $font-family;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0 20px;
}

.container--categories-title,
.container--categories-see-more {
  display: flex;
  justify-content: center;
}

.paragraph--categories-title,
.paragraph--categories-see-more {
  margin: 0;
}

.paragraph--categories-title {
  letter-spacing: 3px;
  color: #333333;
  text-transform: uppercase;
  font-family: $font-family;
  font-weight: 800;
  font-size: 27px;
  line-height: 46px;

  @media (max-width: 1026px) {
    font-size: 24px;
  }
}

.link--categories-see-more {
  font: normal normal 300 16px/25px $font-family;
  letter-spacing: 1.6px;
  color: #333333;

  @media (max-width: 1026px) {
    font-size: 12px;
  }
}

.container--categories {
  text-align: center;
  border-bottom: 1px solid $color-gray2;
  border-left: 1px solid $color-gray2;
}

.wrapper--categories {
  width: 100%;
}

.paragraph--categories {
  margin: 8px 0;

  @media (max-width: 1200px) {
    margin: 0;
  }

  @media (max-width: 1026px) {
    margin: 8px 0;
  }
}

.link--categories {
  font: normal normal normal 12px/18px $font-family;
  letter-spacing: 1.2px;
  color: #333333;
  text-decoration: none;
}

.paragraph--recomendados-shelf-title {
  font: normal normal 800 30px/46px $font-family;
  letter-spacing: 3px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.paragraph--shock-shelf-title,
.paragraph--shelf-title-essentials,
.paragraph--shelf-title-body {
  font: normal normal 800 24px/46px $font-family;
  letter-spacing: 3px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.paragraph--recomendados-shelf-see-more,
.paragraph--shock-shelf-see-more,
.paragraph--shock-shelf-see-more {
  margin: 0;
}

.paragraph--essentials-shelf-see-more {
  margin: 0;
}

.link--body-shelf-see-more,
.link--recomendados-shelf-see-more,
.link--shock-shelf-see-more,
.link--essentials-shelf-see-more {
  font: normal normal 300 16px/25px $font-family;
  letter-spacing: 1.6px;
  color: #333333;
  text-transform: lowercase;
  margin: 0;
}

.container--instagram-Hashtag {
  background: #000000;
  padding: 15px 0;
  margin: 0;
  font: normal normal 600 12px/21px $font-family;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.paragraph--instagram-Hashtag {
  margin: 0;
  display: inline-block;
  padding-left: 1%;
  animation: marquee 1s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
//end home
