//home

.slide {
  margin: 0 10px;
}

.sliderLayoutContainer--carousel-promotions {
  background: $color-black2;
  padding: 15px 0;
}

.slideChildrenContainer--carousel-promotions {
  &::after {
    content: "/";
    font: normal normal 600 12px/21px $font-family;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
  }
}

.slide--carousel-promotions {
  width: 403px !important;
}

// .sliderTrackContainer--carousel-categories-links{
//   padding-right: 150px;
// }

.sliderTrack--carousel-categories-links {
  :global(.vtex-rich-text-0-x-container--categories) {
    border: none;
  }
}

.slide--carousel-categories-links {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-right: 1px solid #333333;

  @media (max-width:1026px) {
    margin: 0;
    // max-width: 161px;
  }
}

.sliderLayoutContainer--shelf-shock-slide {
  flex-direction: column;
}

.paginationDotsContainer--shelf-shock-slide {
  margin-top: 15px;
  position: relative;
}

.sliderTrackContainer--shelf-shock-slide{
  // padding-right: 100px;  
}

.sliderLayoutContainer--carousel-categories-links{
  margin-top: -1px;
}
//end home
