
.flexRow--newsletter-row{
    background: #F6F9FC;
    padding: 30px 0;

    :global(.vtex-store-components-3-x-container){
      @media (max-width:1026px) {
        padding: 0 20px;
      }
    }
  }

  @media (max-width:1006px) {
    .flexRowContent--newsletter-row{
      flex-direction: column;
    }
    
  }
