.container--qf-newsletter {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 1180px;

  @media (min-width: 1020px) {
    justify-content: space-around;
    align-items: center;
  }

  @media (max-width:1026px) {
    padding: 0 !important;
  }
}

.label--qf-newsletter {
  font: normal normal normal 14px/21px $font-family;
  letter-spacing: 0px;
  color: #333333;
  display: flex;
  flex-direction: column;

  &::before{
    content: 'News';
    font: normal normal 800 24px/35px $font-family;
    letter-spacing: 2.4px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.form--qf-newsletter{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  max-width: 100%;

  @media (max-width:1026px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
}

.label--qf-newsletter{
  max-width: 305px;
  margin-right: 60px;
  text-align: left;

  @media (max-width:1026px) {
    margin-right: 0;
    margin-bottom: 10px;
  }

}

.inputGroup--qf-newsletter{
  padding: 0;
  width: 100%;
  max-width: 580px;
  border: 1px solid $border-color;
  position: relative;
  height: max-content;
  display: flex;

  :global(.vtex-input-prefix__group){
    border: none;
    
  }

  :global(.vtex-styleguide-9-x-input){
    background: none;
    padding :0 20px;
    font: normal normal normal 14px/21px $font-family;
    letter-spacing: 0px;
    color: $color-gray2;
  }
}

.buttonContainer--qf-newsletter{
  padding: 0;

  :global(.vtex-button){
    background: none;
    border: none;
    outline: none;
  }

  :global(.vtex-button__label){
    font-size: 0;
    padding: 0 20px 0 0;

    &::after {
      content: '';
      display: block;
      color: black;
      font-weight: bold;
      background: url('assets/svgs/arrow-right.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;
    }
  }
}
