.flexCol--filter-col {
	min-width: 250px;
	margin-right: 15px;
}   

:global(.vtex-search-result-3-x-galleryItem--category) {
	:global(.vtex-store-components-3-x-discountContainer) {
		width: 100% !important;
	}  	

	:global(.vtex-product-summary-2-x-hoverEffect) {
		width: 100% !important;
	}

}

.flexRow--search-title :global(.vtex-store-components-3-x-container) {
	margin: 0;
	padding: 0;
}