.sizeTable {
  background: #f6f9fc;
  padding: 20px;
}

.variations {
  font-weight: normal;
  margin-left: 5px;
}

.sizeTable .labellamafia-qf-custom-0-x-sizeTable {
  margin: 0;
}

.sizeTable button {
  border: 1px solid #707070 !important;
  padding: 10px !important;
  text-decoration: initial !important;
  font: normal normal normal 12px/18px 'Poppins', sans-serif;
  letter-spacing: 0px !important;
  color: #333333 !important;
  text-transform: initial !important;
}

.vtex-numeric-stepper__minus-button__text.numeric-stepper__minus-button__text.b,
.vtex-numeric-stepper__plus-button__text.numeric-stepper__plus-button__text.b {
  font-weight: 100;
}

.vtex-numeric-stepper-wrapper .vtex-numeric-stepper-container input {
  text-align: center;
  font: normal normal normal 20px/30px 'Poppins', sans-serif;
  letter-spacing: 0px;
  color: #333333;
}
.vtex-account__page-body .w-60-ns.w-100-s {
  width: 100%;
  max-width: 480px;
}

.vtex-account__page-body .w-40-ns.w-100-s {
  position: absolute;
  z-index: -1;
}

.vtex-input-prefix__group .border-box {
  border: none;
}
.vtex-pageHeader__container
  .c-on-base.flex.flex-wrap.flex-row.justify-between.mt7 {
  margin: 0;
}

.vtex-store-components-3-x-skuSelectorSelectContainer option:disabled {
  display: none;
}

@media screen and (max-width: 1025px) {
  .vtex-store-components-3-x-skuSelectorSelectContainer
    .vtex-dropdown__arrow
    svg {
    height: 24px;
    width: 24px;
    color: #333333;
  }

  .vtex-store-components-3-x-skuSelectorSelectContainer option {
    background: #fff;
    background-color: #f6f9fc;
    color: #333333;
    font: normal normal bold 14px/22px 'Poppins', sans-serif;
  }

  .vtex-store-components-3-x-skuSelectorSelectContainer .pointer:hover,
  .vtex-store-components-3-x-skuSelectorSelectContainer .shadow-hover {
    background: #707070;
  }
}

@media screen and (max-width: 720px) {
  .vtex-account__page-body .w-60-ns.w-100-s {
    max-width: initial;
  }
}

