<header>
	<div class="container">
		<div class="row">
			<div class="checkout-lock">
				<h1 class="header__title">
					<a href="/"><img src="/arquivos/logoCheckout.png"/></a>
				</h1>
			</div>
			<div class="checkout-lock">
				<i class="sprite sprite-shieldCheckout"></i>
				<p class="header__security ">
					Compra 100% segura
				</p>
			</div>
			<a
				class="ajuda-gente"
				style="display: none;position: absolute;top: 296px;z-index: 4;left: 142px;color: #337ab7;font-weight: bold;text-decoration: underline;"
				href="https://docs.google.com/a/labellamafia.com.br/forms/d/1Tlidqas4yu-s7tAY9naLAUBu0pTkUa66J_fi0ypD98M/viewform"
				title="Ajude a gente a te conhecer melhor"
				target="_blank"
				>Nos ajude a te conhecer melhor</a
			>
		</div>
	</div>
</header>
