<footer>
	<div class="footerCheckout">
		<div class="footerCheckout__top">
			<div class="footerCheckout__doubts">
				<div class="footerCheckout__title">
					Dúvidas
				</div>

				<div class="footerCheckout__content">
					<div class="footerCheckout__link">
						<a href="/sobre">Sobre</a>
					</div>

					<div class="footerCheckout__link">
						<a href="/pagamento">Formas de Pagamento</a>
					</div>

					<div class="footerCheckout__link">
						<a href="/entrega">Entrega</a>
					</div>

					<div class="footerCheckout__link">
						<a href="/troca-e-devolucao">Trocas e Devoluções</a>
					</div>

					<div class="footerCheckout__link">
						<a href="/privacidade">Segurança e Privacidade</a>
					</div>
				</div>
			</div>

			<div class="footerCheckout__informations">
				<div class="footerCheckout__title">
					Fale Conosco
				</div>

				<div class="footerCheckout__content">
					<div class="footerCheckout__link">
						<a href="mailto:sac@sualoja.com.br">sac@sualoja.com.br</a>
					</div>

					<div class="footerCheckout__item">
						Sac: (00) 0000-0000
					</div>

					<div class="footerCheckout__subtitle">
						Funcionamento:
					</div>

					<div class="footerCheckout__item">
						Segunda à Sexta - 08h às 18h.
					</div>
				</div>
			</div>

			<div class="footerCheckout__socialMedia">
				<div class="footerCheckout__link">
					<a href="https://www.facebook.com/digitalqf">
						<i class="sprite sprite-ck-facebook"></i>
					</a>
				</div>

				<div class="footerCheckout__link">
					<a href="https://www.instagram.com/qf/">
						<i class="sprite sprite-ck-instagram"></i>
					</a>
				</div>

				<div class="footerCheckout__link">
					<a href="https://twitter.com/twitter">
						<i class="sprite sprite-ck-twitter"></i>
					</a>
				</div>

				<div class="footerCheckout__link">
					<a href="https://www.youtube.com/">
						<i class="sprite sprite-ck-youtube"></i>
					</a>
				</div>
			</div>
		</div>

		<div class="footerCheckout__bottom">
			<div class="footerCheckout__bottom__wrapper">
				<div class="footerCheckout__address">
					<span
						>Lorem ipsum dolor sit amet, consectetur adipiscing
						elit.</span
					>
				</div>

				<div class="footerCheckout__stamps">
					<i class="sprite sprite-master-card"></i>
					<i class="sprite sprite-visa"></i>
					<i class="sprite sprite-amex"></i>
					<i class="sprite sprite-elo"></i>
					<i class="sprite sprite-hipercard"></i>
					<i class="sprite sprite-paypal"></i>
					<i class="sprite sprite-boleto"></i>
					<span class="footerCheckout__stamps__divider"></span>
					<i class="sprite sprite-vtex-pci"></i>
				</div>
			</div>

			<div class="footerCheckout__developedBy">
				<ul>
					<li>
						<a href="https://vtex.com/br-pt/">
							<span>Powered By</span>
							<i class="sprite sprite-vtex-gray"></i>
						</a>
					</li>

					<li>
						<a href="https://qf.com/">
							<span>Developed By</span>
							<i class="sprite sprite-qf-gray"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
