/* INSTITUCIONAL  */
.flexCol--institucional-main-row {
  height: auto;
}

.flexRowContent--institucional-titulo-wrapper {
  background: #333;
  margin: 0 auto;
  max-width: 580px;
}
.flexRowContent--institucional-wrapper {
  margin-top: 83px;
  margin-bottom: 6rem;

  @media (max-width: 640px) {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
.flexColChild--navegacao-institucional {
  height: 44px !important;
}
.flexColChild--navegacao-institucional-help:first-child {
  margin-bottom: 20px;
}
.flexColChild--institucional-main-row {
  max-width: 715px;
  margin-bottom: 65px;
  @media (max-width: 640px) {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1026px) {
  .flexRow--institucional-breadcrumb-wrapper {
    padding: 0 8px;
  }
  .flexRowContent--institucional-titulo-wrapper {
    margin-top: 0;
  }
  .flexCol--navegacao-institucional {
    margin-bottom: 49px;
    padding-right: 4px;
    padding-left: 4px;
  }
}
.flexRow--institucional-main-row {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 180px;
}

.flexRow--productSpecificationGroup {
  margin-top: 40px;
}
.flexRowContent--productSpecificationGroup {
  position: relative;
}

.flexRowContent--productSpecification,
.flexRowContent--productSpecificationGroupName {
  padding: 10px 7px;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.flexCol--pedidos-antigos {
  position: relative;
}
