@media only screen and (max-width: 1020px) {
  // .sidebar {
  //   // transition: transform 0.4s ease-in-out 0s;
  //   // display: block;
  //   // position: fixed;
  //   // background: white;
  //   // height: 100%;
  //   // top: 0px;
  //   // z-index: 9999;
  //   // width: 90%;
  //   // left: 50%;
  //   // right: 50%;
  //   // transform: translate(-50%) !important;
  // }
}
