:global(.vtex-flex-layout-0-x-flexRowContent--search-seo) {
  margin-top: 10px;

  .heading-level-1 {
    font: normal normal 800 30px/46px $font-family;
    letter-spacing: 3px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .wrapper--search-seo {
    margin: 0 auto;
    text-align: center;
  }

  .paragraph--search-seo {
    font: normal normal 300 13px/20px $font-family;
    letter-spacing: 1.2px;
    color: #333333;
  }
}

:global(.vtex-rich-text-0-x-paragraph--not-found-heading) {
  font: normal normal 800 30px/35px "Poppins", sans-serif;
  letter-spacing: 2.4px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 10px;
}

:global(.vtex-rich-text-0-x-strong--not-found-sub-heading) {
  font: normal normal 500 30px/35px "Poppins", sans-serif;
  letter-spacing: 2.4px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 10px;
}
