.menuContainerNav--qf-custom-drawer {
  margin-top: 25px;
}

@include mq(io, max) {
  .styledLinkContent--menu-item {
    display: flex !important;
    justify-content: left;
    font-weight: 400 !important;
    text-transform: initial !important;
    margin-bottom: 3px;
  }
  .accordionIcon--menu-item {
    font-size: 18px;
    color: #000;
    position: relative;
    top: -1px;
  }
  .styledLinkContainer--custom-dropdown-submenu-item {
    margin: 8px 0;
  }
  .styledLinkContent--custom-dropdown-submenu-item {
    color: #555;
    font-size: 15px;
  }
}

.submenuAccordion--header {
  padding: 0 0 0 30px;
}
