.paragraph--menu-text {
  font-weight: bold;
  color: $color-black2;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 14px;
}

//menu mobile
.paragraph--mobile-menu-item {
  margin: 0;
  font-family: $font-family;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: $color-gray2;
  font-weight: normal;
}

.paragraph--personal-shopper-mobile-link,
.paragraph--franqueado-mobile-link {
  display: flex;
  align-items: center;

  .image--franqueado-mobile-link,
  .image--personal-shopper-mobile-link {
    margin-right: 10px;
  }

  .link--personal-shopper-mobile-link,.link--franqueado-mobile-link{
    font-family: $font-family;
    font-size: 12px;
    text-decoration: none;
    color: $color-gray2;
    font-weight: 18px;
    text-transform: uppercase;
  }
}

.paragraph--contact-mobile-link{
  font-family: $font-family;
    font-size: 12px;
    color: $color-gray2;
    font-weight: 18px;
    text-transform: uppercase;

  .link--contact-mobile-link{
    font-family: $font-family;
    font-size: 12px;
    text-decoration: none;
    color: $color-gray2;
    font-weight: 18px;
    text-transform: uppercase;
  }
}

.link--mobile-menu-item{
  margin: 0;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    color: #333333;
    font-weight: normal;
    text-decoration: none;
}
//fim menu mobile
