.flexRow--wishlist-section
  :global(.vtex-slider-layout-0-x-slideChildrenContainer--shelf) {
  justify-content: left;
  margin-left: 10%;
  margin-top: 20px;

  @media only screen and (max-width: 725px) {
    justify-content: center;
    margin-left: 0;
    padding: 0 15px;
  }
}


.flexRow--wishlist-section :global(.vtex-product-summary-2-x-container--qf-shelf-product) {
  max-width: 500px !important;
  margin: 0;
}

:global(.vtex-rich-text-0-x-paragraph--wishlist-title) {
  padding: 0;
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  color: #0c0c0c;
  letter-spacing: 3px;
  padding-left: 6px;
  text-align: left;

  @media only screen and (max-width: 725px) {
    text-align: center;
  }
}

@media only screen and (max-width: 725px) {
  :global(.vtex-rich-text-0-x-container--wishlist-title) {
    justify-content: center;
  }
}

.flexRow--wishlist-section {
  :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) {
    width: max-content;
    position: absolute;
    top: 8px;
    right: 10px;
  }
}

.flexRow--wishlist-section .flexCol--shelf-hover {
  flex-wrap: nowrap;
}

.flexRow--wishlist-section
  .flexCol--shelf-hover
  .flexColChild--shelf-hover:first-child {
  margin-right: 25px;
}

.flexRow--shelf-image {
  :global(.vtex-wish-list-1-x-outline) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='Grupo_44' data-name='Grupo 44' transform='translate(-298 -93)'%3E%3Cg id='Icons_Shape_heart-alt' data-name='Icons/Shape/heart-alt' transform='translate(298 93)'%3E%3Cpath id='heart-alt' d='M10.012,18.465a1,1,0,0,1-.709-.3l-7.45-7.45a6.27,6.27,0,0,1,8.159-9.48,6.272,6.272,0,0,1,10,5.044,6.225,6.225,0,0,1-1.838,4.435l-7.45,7.45A1.006,1.006,0,0,1,10.012,18.465ZM6.262,2.009a4.281,4.281,0,0,0-3,7.3l6.75,6.739,6.75-6.739h-.079a4.27,4.27,0,0,0-6-6.051,1,1,0,0,1-1.42,0A4.226,4.226,0,0,0,6.262,2.009Z' transform='translate(1.988 2.761)' fill='%23ccc'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  }
}
