.filterLayout {
  display: flex;
  flex-direction: column;
}

/* buttons */

.filterLayout--openFilter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #bfbfbf;
  border-right: 0;
  padding: 0 32px;
  cursor: pointer;
}

@media only screen and (max-width: 932px) {
  .filterLayout--openFilter {
      max-width: 50%;
  }

  .filterLayout--openFilter {
      padding: 0 20px;
  }
}

.filterLayout--openFilterText {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #383838;
}

.filterLayout--buttonsContainer {
  display: flex;
}

.filterLayout--arrow {
  /* background: url("../assets/imgs/dropdownBlack.png") center no-repeat; */
  width: 17px;
  height: 10px;
  display: block;
  transition: 0.2s all;
}

.filterLayout--arrowOpen {
  transform: rotate(180deg);
}

/* subcategories */
.filterLayout--subcategoriesContainer {
}

/* switcher */

.filterLayout--switcher {
  display: block;
}

.filterLayout--switcherClose {
  display: none;
}

/* breadcrumb */

.filterLayout--breadcrumb {
}

/* filter navigator */
.filterLayout--filter {
  display: none;
  margin: 0 0 48px;
}
.filterLayout--filterOpen {
  display: block;
}

@media only screen and (max-width: 1020px) {
  .filterLayout--filterOpen {
    display: none;
    position: fixed;
    background: white;
    height: 100%;
    top: 0;
    z-index: 2500;
    width: 90%;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
  }
  .fiterLayoutOverlay--open {
    width: 100vw;
    height: 100vh;
    content: '';
    display: none;
    position: fixed;
    background: #333333;
    opacity: 0.8;
    z-index: 2000;
    top: 0;
    left: 0;
  }

  .filterLayout {
    transition: all .2s;
    transform-origin: top;
    transform: scaleY(0);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3000;
  }
  .filterLayout-opened {
    transform: scaleY(1);
    display: none;
  }
}


