.filterMobileBtn {
  
}

.filterMobileContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.queryTitle {
  display: flex;
  padding: 15px 0;
  margin: 0;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
}

@media only screen and (max-width: 1024px) {
  .queryTitle {
    font-size: 24px;
  }
}

.queryQuantity {
  font-size: 13px;
  font-weight: normal;
  margin-left: 5px;
  vertical-align: middle;
  letter-spacing: 1.4px;
}