.labellamafia-custom-search-result-0-x-orderByOptionsContainer.dn {
  display: none !important;
}


.vtex-search-result-3-x-sidebar .pl8 {
  padding-left: 0;
}

.vtex-search-1-x-itemListItem span {
  font-family:'Poppins' ,sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

@media only screen and (max-width: 1020px) {
  .fixed.dim.bg-base--inverted.top-0.z-9999.w-100.vh-100.o-40.left-0:not(.dn) +
  .vtex-search-result-3-x-sidebar {
    transition: transform 0.4s ease-in-out 0s;
    display: block;
    position: fixed;
    background: white;
    height: 100%;
    top: 0px;
    z-index: 9999;
    width: 90%;
    left: 50%;
    right: 50%;
    transform: translate(-50%) !important;
  }

  .vtex-search-result-3-x-accordionFilterItem {
    margin: 0 !important;
  }

  .vtex-search-result-3-x-accordionFilterContainer {
    padding: 0 !important;
  }
  .vtex-search-result-3-x-accordionFilterContent {
    padding: 9px 12px !important;
    line-height: 15px !important;
    border-bottom: 1px solid #EBEBEB;
  }

  .vtex-search-result-3-x-accordionFilterItemTitle {
    font-family: "Poppins",sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
  }

  .labellamafia-custom-search-result-0-x-filters--layout {
    display: block;
    position: fixed;
    background: white;
    height: 100%;
    top: 0;
    z-index: 2500;
    width: 90%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -100%);
    transition: all 0.4s;
    transform-origin: top;
  }

  .labellamafia-custom-search-result-0-x-queryOverlay {
    width: 100vw;
    height: 100vh;
    content: '';
    display: block;
    position: fixed;
    background: #333333;
    z-index: 2000;
    top: 0;
    left: 0;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
  }

  .labellamafia-custom-search-result-0-x-queryOverlay.open {
    visibility: visible;
    opacity: 0.8;
  }
  .labellamafia-custom-search-result-0-x-filters--layout.open {
    transform: translate(-50%, 0);
  }
  
  .labellamafia-custom-search-result-0-x-filtersWrapper {
    height: 470px;
    overflow: scroll;
  }

  .labellamafia-custom-search-result-0-x-orderByOptionsContainer {
    position: unset !important;
  }

  .vtex-flex-layout-0-x-flexRowContent--filterMobile > div {
    width: 100% !important;
  }

  .labellamafia-qf-custom-0-x-filterMobileBtn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .vtex-store-drawer-0-x-opened--menu-mobile 
  .vtex-store-drawer-0-x-drawerContent--menu-mobile
  .vtex-store-drawer-0-x-closeIconContainer {
    display: none;
  }
  .vtex-store-drawer-0-x-opened--secondary-tab 
  .vtex-store-drawer-0-x-closeIconContainer {
    display: block !important;
  }

  .vtex-minicart-2-x-overlay.menu-opened {
    opacity: 1 !important;
  }
}


/* Global Search  */

@media screen and (max-width: 1020px) {
  .vtex-store-components-3-x-portalWrapper--mobile-search .flex.justify-end {
    top: 39px !important;
  }
  .vtex-search-1-x-biggy-autocomplete-wrapper {
    width: 100vw !important;
  }
}