.modalLgpd {
  padding: 25px;
  position: fixed;
  right: 0;
  bottom: 12px;
  background: #f2eee2;
  z-index: 300;
  max-width: 894px;
  border: 1px solid #000;
}

.modalLgpdActive {
  display: flex !important;
}

.modalLgpdText {
  line-height: 24px;
  color: #000;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.modalLgpdBtn {
  width: max-content;
  align-self: flex-end;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  background: #000;
  border: none;
  border-radius: 0;
  padding: 16px 35px;
}

@media only screen and (max-width: 1024px) {
  .modalLgpdActive {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 17px 25px;
  }
  .modalLgpdBtn {
    margin-top: 10px;
  }
}
