/* Colors */
$color-black: #292929;
$color-black2: #000000;
$color-black3: #0c0c0c;

$color-white: #fff;

$main-gray-color: #f2eee2;
$text-color: #324c25;

$color-gray: #6c6c6c;
$color-gray2: #333333;
$color-gray3: #f0f0f0;
$color-gray4: #c4c4c4;
$color-gray5: #e5e5e5;

$border-color: #e3e4e6;

$color-blue: #454553;

$color-green: #4caf50;
$checkout-black: #000000;
$checkout-black2: #333333;
$checkout-gray: #cccccc;

$font-family:'Poppins', sans-serif;

/* Grid breakpoints */
$grid-breakpoints: (
  xs: 0,
  cstm: 400,
  sm: 576px,
  md: 768px,
  lg: 992px,
  io: 1024px,
  xl: 1200px,
) !default;

$z-index: (
  level1: 5,
  level2: 10,
  level3: 15,
  level4: 20,
  level5: 25,
) !default;
