.skuSelectorInternalBox--product-summary-sku {
  border: none;
}

:global(.vtex-flex-layout-0-x-flexColChild--shelf-hover) {
  .skuSelectorItemTextValue--product-summary-sku {
    width: unset;
    height: unset;
    padding: 5px;
    font-size: 12px;
    letter-spacing: 1.2px;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
  }

  .skuSelectorItem--selected {
    .skuSelectorItemTextValue--product-summary-sku {
      background: #000;
      color: #fff;
    }

    .frameAround {
      box-shadow: none;
    }
  }

  .skuSelectorItem {
    width: unset;
    height: unset;
  }
}
