.skuSelectorSubcontainer--tamanhos {

  :global(.vtex-product-summary-2-x-skuSelectorItem--product-summary-sku) {
    width: 37px;
    height: 37px;  
  }

  :global(.vtex-product-summary-2-x-frameAround) {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 0;
    border: 1px solid #707070;
  }

  .skuSelectorItem--selected :global(.vtex-product-summary-2-x-frameAround) {
    border-color: #000;
  }
}
:global(.vtex-product-summary-2-x-frameAround--product-summary-sku) {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 0;
}

:global(.vtex-product-summary-2-x-frameAround--product-summary-sku) {
  z-index: 2;
}

:global(.vtex-flex-layout-0-x-flexCol--shelf-hover) :global(.vtex-product-summary-2-x-SKUSelectorContainer--product-summary-sku) {
  // margin-bottom: 5px;
}