.flexRowContent--shelf-image {
  flex-direction: column;
  position: relative;
}

.flexCol--shelf-hover {
  background-color: #F6F9FC;
  opacity: 1;
  height: 100px;
  position: absolute;
  bottom: 20px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  // padding: 0;
  transition: all 0.2s;
  z-index: 1000;
  width: 80%;
  left: 50%;
  transform: translate(-50%);
}
@media only screen and (max-width: 1250px) {
  .flexCol--shelf-hover {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1024px) {
  .flexCol--shelf-hover {
    display: none !important;
  }
}

.flexRow--shelf-image:hover .flexCol--shelf-hover {
  display: flex;
}

.flexCol--shelf-hover
  :global(.vtex-product-quantity-1-x-quantitySelectorTitle) {
  text-align: left;
  text-transform: uppercase;
  color: $color-black2;
  font-weight: 600;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.flexCol--shelf-hover
  :global(.vtex-product-quantity-1-x-quantitySelectorTitle)::after {
  content: ":";
}

.flexCol--shelf-hover :global(.vtex-numeric-stepper-container) {
  border: 1px solid $color-black2;
}

.flexRow--shelf-image :global(.vtex-button) {
  width: 100%;
  transition: all 0.22s;

  :global(.vtex-button__label) {
    padding: 0;
  }

  :global(.vtex-add-to-cart-button-0-x-buttonText--qf-shelf) {
    font-size: 12px;
  }

  // &:hover {
  //   background: transparent;
  // }
}

.flexColChild--shelf-hover .flexRowContent {
  display: flex;
  justify-content: center;
  align-items: center;

  // :first-child {
  //   width: 100%;
  // }
}

.flexCol--shelf-hover .flexColChild--shelf-hover {
  width: 100%;
}

.flexCol--shelf-hover :global(.vtex-store-components-3-x-skuSelectorContainer--qf-custom-sku-selector) {
  flex-direction: row;
}
