
/* qf PRODUCT BREADCRUMB  */
.flexRow--qf-product-breadcrumb {

  .flexRowContent--qf-product-breadcrumb,
  :global(.vtex-breadcrumb-1-x-container--qf-product-breadcrumb) {
    margin: 0;
    padding: 0;
  }

  :global(.vtex-breadcrumb-1-x-arrow--qf-product-breadcrumb) {
    color: $color-black2;
    padding: 0;

    &::before {
      top: 1px;
      margin: 0 2px;
    }
  }

  :global(.vtex-breadcrumb-1-x-homeLink--qf-product-breadcrumb) {
    color: #333333;
    padding-left: 0;

    &::before {
      position: relative;
      bottom: 1px;
      text-decoration: underline;
      letter-spacing: 1.4px;
    }
  }
  
  :global(.vtex-breadcrumb-1-x-link--qf-product-breadcrumb),
  :global(.vtex-breadcrumb-1-x-term--qf-product-breadcrumb) {
    color: #333333;
    font-size: 13px;
    text-transform: initial;
    font-family: "Poppins", sans-serif;
  }

  :global(.vtex-breadcrumb-1-x-arrow--qf-product-breadcrumb):not(:last-child) {
    :global(.vtex-breadcrumb-1-x-link) {
      text-decoration: underline;

    }
  }
}

.flexRowContent--qf-product-name {
  margin: 0;
}

.flexRow--qf-product-details {
  :global(.vtex-wish-list-1-x-wishlistIconContainer) {
    margin-top: 2px;

    :global(.vtex-button) {
      &:hover,
      &:focus {
        background: transparent;
      }
    }

    :global(.vtex-button__label) {
      padding: 0;
    }
  }
}

:global(.vtex-breadcrumb-1-x-container){
  margin: 0;
  display: flex;
  align-items: center;
}

.flexRow--shelf-image {
  :global(.vtex-wish-list-1-x-wishlistIconContainer) {
    position: absolute;
    right: 0;
    z-index: 3;
    width: max-content;

    :global(.vtex-button) {
      width: 50px;
      background: none;
    }
  }
}