.container--qf-product-breadcrumb {
  font-size: 12px;
}

.link--qf-product-breadcrumb,
.term--qf-product-breadcrumb {
  text-transform: uppercase;
  color: $color-gray4;
  line-height: 14px;
}

.arrow--qf-product-breadcrumb {
  color: $color-gray4;
}

.link--qf-product-breadcrumb:hover {
  color: #808080;
}

.link {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 12px;
  transition: ease-in 0.22s all;
}
:global(.vtex-breadcrumb-1-x-term) {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: $color-gray4;
}

.link {
  color: $text-color;

  &:hover {
    color: lighten($text-color, 15);
  }
}

.homeLink {
  padding-bottom: 0;
  font-family: "Poppins", sans-serif;

  &::before {
    content: 'Página Inicial';
    font-family: "Poppins", sans-serif;
  }
  .homeIcon {
    display: none;
  }
}
.container .arrow {
  &::before {
    content: "/";
    position: relative;
    top: 2px;
    margin-right: 3px;
  }

  .caretIcon {
    display: none;
  }
}
