/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
/* Order By */
.orderBy--layout {
  background: #ffffff;
  border-radius: 0px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 1020px) {
    .orderBy--layout {
      width: 100%; } }

.orderByButton,
.orderByDropdown {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
  position: static; }

@media only screen and (min-width: 1020px) {
  .orderByDropdown:hover {
    border: 1px solid #333333;
    border-bottom: 0 !important; }
    .orderByDropdown:hover::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 1px;
      width: 99%;
      height: 1px;
      background-color: #EBEBEB;
      left: 1px;
      z-index: 4; }
    .orderByDropdown:hover .orderByOptionsContainer {
      display: flex !important; }
    .orderByDropdown:hover .filterPopupArrowIcon {
      transform: rotate(-180deg); } }

.orderByButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 15px; }
  @media only screen and (max-width: 1020px) {
    .orderByButton {
      padding: 9px 10px 9px 15px; } }

.orderByText {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #383838; }

.filterPopupArrowIcon--order-by {
  padding: 0;
  transition: 0.2s linear; }

.filterPopupTitle {
  font-size: 0; }

.arrowIconOpen--order-by {
  transform: rotate(180deg); }

.filterPopupArrowIcon--order-by::before {
  content: "";
  width: 17px;
  height: 10px;
  display: block; }

.caretIcon--order-by {
  display: none; }

.orderByOptionsContainer {
  box-shadow: none;
  top: calc(100% - 2px);
  align-items: center;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 10px;
  justify-content: space-between;
  max-width: 310px;
  display: none;
  border: 1px solid #333333;
  position: absolute;
  z-index: 4;
  background: white;
  padding: 15px 10px 20px;
  min-width: 310px;
  left: 0px; }
  @media screen and (max-width: 1020px) {
    .orderByOptionsContainer {
      width: 100%;
      display: flex;
      padding: 9px 10px 9px 15px;
      max-width: unset;
      border: none;
      align-items: center; } }

.orderByOptionItem {
  padding: 20px;
  min-width: unset;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #383838;
  border-top: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  transition: 0.2s all;
  cursor: pointer;
  border: 1px solid #333333;
  border-radius: 0 !important;
  max-width: 135px;
  width: 100% !important;
  height: 30px !important;
  justify-content: center;
  text-align: center; }
  @media only screen and (max-width: 1020px) {
    .orderByOptionItem {
      margin: 0;
      max-width: 110px;
      font-size: 11px;
      padding: 18px; } }

.orderByOptionItem:hover {
  background-color: #000;
  color: #fff; }

.orderByOptionItem:active {
  background-color: #000;
  color: #fff; }

.orderByOptionItem--selected {
  color: #fff;
  font-weight: normal;
  background: #000; }

@media only screen and (max-width: 932px) {
  .filterLayout--openFilter {
    padding: 0 20px; } }

@media only screen and (max-width: 768px) {
  .orderByOptionItem {
    font-size: 12px; } }

/* ------- */
/* Filter Navigator */
.filtersWrapper {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB; }
  @media only screen and (max-width: 1020px) {
    .filtersWrapper {
      flex-direction: column; } }

.filtersWrapperLastRow {
  margin: 32px 0 0;
  display: grid;
  grid-auto-flow: column;
  column-gap: 18px;
  align-items: flex-end; }

.filter__container {
  border: none;
  padding: 9px 15px;
  cursor: pointer;
  position: relative; }
  @media only screen and (min-width: 1020px) {
    .filter__container:hover {
      border: 1px solid #333333;
      border-bottom: 0 !important; }
      .filter__container:hover::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background-color: #EBEBEB;
        left: 0;
        z-index: 4; }
      .filter__container:hover .filterTemplateOverflow {
        display: flex !important;
        margin-top: 9px; }
      .filter__container:hover .arrowTitle {
        transform: rotate(180deg); } }
  @media only screen and (max-width: 1020px) {
    .filter__container {
      width: 100%;
      border-bottom: 1px solid #EBEBEB; } }

.filterTemplateOverflow {
  align-items: center;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 10px;
  max-width: 310px;
  display: none;
  border: 1px solid #333333;
  position: absolute;
  z-index: 4;
  background: white;
  padding: 15px 10px 20px;
  min-width: 310px;
  left: -1px; }
  @media only screen and (max-width: 1020px) {
    .filterTemplateOverflow {
      position: unset;
      padding: 5px 0;
      border: none; } }

.filterItem {
  width: max-content;
  display: flex;
  align-items: center;
  border: 1px solid #bdbdbd;
  border-radius: 80px;
  transition: 0.2s all;
  cursor: pointer;
  border: 1px solid #333333;
  border-radius: 0 !important;
  width: 85px !important;
  min-height: 30px !important;
  justify-content: center;
  text-align: center; }

.filterItem:hover,
.filterItem--selected {
  background-color: #000;
  color: #fff; }
  .filterItem:hover :global(.vtex-checkbox__label),
  .filterItem--selected :global(.vtex-checkbox__label) {
    color: #fff !important; }

.filterItem :global(.vtex-checkbox__inner-container),
.filterItem :global(.vtex-checkbox__box-wrapper) {
  display: none; }

.filterItem :global(.vtex-checkbox__container),
.filterItem :global(.vtex-checkbox__input) {
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%; }

@media only screen and (min-width: 1024px) {
  .filterItem :global(.vtex-checkbox__input) {
    top: -4px;
    left: -6px;
    width: 80px;
    height: 25px; } }

.filterItem :global(.vtex-checkbox__label) {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #383838;
  padding: 0;
  max-width: 64px;
  overflow: hidden;
  text-overflow: ellipsis; }

.filterTitle {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333; }
  @media only screen and (max-width: 1020px) {
    .filterTitle {
      width: 100%; } }

.filterAvailable {
  padding: 0;
  display: flex;
  align-items: center; }
  .filterAvailable .arrowTitle {
    margin-left: 5px;
    transition: transform 0.4s; }

@media only screen and (max-width: 932px) {
  .filtersWrapper {
    grid-template-columns: unset; }
  .filtersWrapperLastRow {
    grid-auto-flow: row; }
  .filterTemplateOverflow--cores {
    flex-wrap: wrap !important; } }

.filterTemplateOverflow--pricerange {
  justify-content: center; }
  .filterTemplateOverflow--pricerange :global(.vtex-slider-container) {
    width: 80%; }

.filterTemplateOverflow--cores {
  column-gap: 8px;
  flex-wrap: nowrap; }

.filterTemplateOverflow--cores .filterItem {
  height: unset;
  border: none;
  border-radius: none; }

.filterItem-cores--selected {
  box-sizing: border-box;
  border: 2px solid #ffba1a !important; }

.colorLabel:hover {
  cursor: pointer;
  filter: opacity(0.9);
  transform: scale(1.05); }

.colorLabel {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  display: block; }

.colorLabel--azul {
  background-color: #007ffd; }

.colorLabel--bege {
  background-color: #d6ad5d; }

.colorLabel--bege {
  background-color: #d6ad5d; }

.colorLabel--branco {
  background: #ffffff;
  border: 1px solid #bdbdbd; }

.colorLabel--cinza {
  background: #bebebe; }

.colorLabel--laranja {
  background: #ff5722; }

.colorLabel--preto {
  background: #000000; }

.colorLabel--rosa {
  background: #ff1dcb; }

.colorLabel--roxo {
  background: #9300ff; }

.colorLabel--verde {
  background: #00a019; }

.colorLabel--vermelho {
  background: #ff1d00; }

.colorLabel--marrom {
  background-color: #4b3621; }

.colorLabel--salmon {
  background-color: #ff8c69; }

.colorLabel--marinho {
  background-color: #120a8f; }

.colorLabel--amarelo {
  background-color: yellow; }

.colorLabel--lilas {
  background-color: #c8a2c8; }

/* ---------------- */
@media only screen and (max-width: 1020px) {
  .filterVisible {
    display: flex;
    margin-top: 5px; }
  .filterHide {
    display: none; } }
