/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
.nameContainer--qf-shelf {
  margin: 0;
  padding: 7px 0 0; }

:global(.vtex-flex-layout-0-x-flexRowContent--qf-shelf-price-selling-savings) {
  position: relative;
  justify-content: center;
  margin-bottom: 5px; }

:global(.vtex-flex-layout-0-x-flexRowContent--qf-shelf-price-selling-savings)
:global(.vtex-button) {
  background: transparent;
  border: none;
  border-radius: 0;
  color: #fff;
  position: absolute;
  right: 0;
  top: -31px;
  right: -16px;
  outline: none;
  margin: 0; }
  @media only screen and (max-width: 780px) {
    :global(.vtex-flex-layout-0-x-flexRowContent--qf-shelf-price-selling-savings)
:global(.vtex-button) {
      top: -9px; } }

.element--qf-shelf-product
:global(.vtex-flex-layout-0-x-flexCol--shelf-hover)
:global(.vtex-button) {
  background: #000;
  border: none;
  border-radius: 0;
  color: #fff;
  margin-top: 11px;
  min-height: 38px;
  max-height: 38px; }

@media (max-width: 767px) {
  :global(.vtex-flex-layout-0-x-flexCol--shelf-hover) {
    display: none !important; } }

.container--qf-shelf-product {
  max-width: unset !important; }

.image--qf-shelf-product-image {
  z-index: 2;
  width: 100%;
  max-height: unset; }
  @media (max-width: 768px) {
    .image--qf-shelf-product-image {
      width: 100%; } }

.nameContainer--qf-shelf {
  justify-content: center; }

.brandName--qf-shelf {
  color: #000000;
  font-size: 15px;
  line-height: 16px;
  text-transform: initial;
  padding-bottom: 10px;
  display: inline-block;
  text-align: center;
  letter-spacing: 1.4px;
  color: #333333;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif; }

@media only screen and (max-width: 429px) {
  .brandName--qf-shelf {
    font-size: 14px; } }

:global(.vtex-product-price-1-x-currencyLiteral--qf-shelf) {
  display: none; }

:global(.vtex-slider-layout-0-x-sliderLayoutContainer--qf-shelf-products-slide) {
  padding: 0 !important;
  max-width: 100%;
  margin: 0 auto; }

:global(.vtex-flex-layout-0-x-flexRowContent--shock-shelf) {
  margin: 0 !important;
  padding-left: 20px !important; }
  :global(.vtex-flex-layout-0-x-flexRowContent--shock-shelf) .imageContainer {
    max-height: 339px;
    overflow: hidden; }
    :global(.vtex-flex-layout-0-x-flexRowContent--shock-shelf) .imageContainer .image--hover {
      height: auto !important; }

.element--shelf-novidades .nameContainer--qf-shelf,
.element--shelf-novidades :global(.vtex-flex-layout-0-x-flexRow--qf-shelf-price-selling-savings) {
  display: none;
  position: relative; }
  @media only screen and (max-width: 640px) {
    .element--shelf-novidades .nameContainer--qf-shelf,
    .element--shelf-novidades :global(.vtex-flex-layout-0-x-flexRow--qf-shelf-price-selling-savings) {
      display: flex; } }

.skuSelectorInternalBox--product-summary-sku {
  border: none; }

:global(.vtex-flex-layout-0-x-flexColChild--shelf-hover) .skuSelectorItemTextValue--product-summary-sku {
  width: unset;
  height: unset;
  padding: 5px;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-weight: 900;
  font-family: "Poppins", sans-serif; }

:global(.vtex-flex-layout-0-x-flexColChild--shelf-hover) .skuSelectorItem--selected .skuSelectorItemTextValue--product-summary-sku {
  background: #000;
  color: #fff; }

:global(.vtex-flex-layout-0-x-flexColChild--shelf-hover) .skuSelectorItem--selected .frameAround {
  box-shadow: none; }

:global(.vtex-flex-layout-0-x-flexColChild--shelf-hover) .skuSelectorItem {
  width: unset;
  height: unset; }
