/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
.filter__container--acucar,
.filter__container--valor-energetico,
.filter__container--sodio,
.filter__container--proteinas,
.filter__container--porcao,
.filter__container--gorduras-totais,
.filter__container--gorduras-trans,
.filter__container--gorduras-saturadas,
.filter__container--carboidratos,
.filter__container--fibra-alimentar {
  display: none; }

.filterAccordionItemBox--acucar,
.filterAccordionItemBox--valor-energetico,
.filterAccordionItemBox--sodio,
.filterAccordionItemBox--proteinas,
.filterAccordionItemBox--porcao,
.filterAccordionItemBox--gorduras-totais,
.filterAccordionItemBox--gorduras-trans,
.filterAccordionItemBox--gorduras-saturadas,
.filterAccordionItemBox--carboidratos,
.filterAccordionItemBox--fibra-alimentar {
  display: none; }

.searchResultContainer {
  max-width: 88%;
  margin-bottom: 90px; }
  @media only screen and (max-width: 1024px) {
    .searchResultContainer {
      padding: 0; } }

.gallery {
  padding-left: 0; }

.searchNotFoundOops {
  display: none; }

.searchNotFoundInfo {
  color: #7d7d7d;
  font-weight: 700;
  padding: 0; }

.searchNotFoundWhatToDoDotsContainer {
  font-weight: 400; }

.searchNotFound {
  text-align: center;
  justify-content: center; }

.searchNotFoundWhatToDoDots {
  list-style: none; }

.galleryTitle--layout {
  color: #0c0c0c;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.1em;
  margin: 24px 0;
  text-transform: uppercase;
  text-align: center;
  max-width: max-content; }

@media only screen and (min-width: 1024px) {
  .galleryTitle--layout {
    margin: 0;
    position: relative;
    top: -33px; }
  :global(.vtex-flex-layout-0-x-flexRowContent--search-title) {
    padding-bottom: 15px; }
  :global(.vtex-flex-layout-0-x-flexRow--search-title)::after {
    content: '';
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 5px; } }

.filterPopupTitle {
  text-transform: initial;
  font-size: 0; }

.orderByText {
  color: #000000;
  font-size: 15px;
  text-decoration: underline; }

.totalProducts--layout {
  border: none;
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-variant: small-caps;
  color: #7d7d7d;
  padding-left: 10px; }

.orderByOptionsContainer {
  width: 172px;
  min-width: 172px;
  z-index: 1000; }

.orderByOptionItem:hover {
  background: #e5e5e5; }

.orderByButton {
  border: 0; }

.filterMessage,
.filterTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 16px;
  color: #7d7d7d; }

.filter__container :global(.vtex-checkbox__line-container) {
  align-items: center; }

.filter__container :global(.vtex-search-result-3-x-filterTitle) {
  text-transform: uppercase;
  font-size: 14px;
  color: #333; }

.filter__container :global(.vtex-checkbox__label) {
  font-size: 15px;
  color: #333; }

:global(.vtex-search-result-3-x-filter__container--title) {
  display: none; }

.filter__container,
.categoryItemName {
  padding: 5px 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #7d7d7d;
  border-color: #b9b7af !important; }

.filterItem {
  margin: 7px 0; }

.filterItem :global(.vtex__icon-check) {
  opacity: 0; }

.filterItem--selected :global(.vtex-checkbox__label) {
  color: #7d7d7d !important; }

.filterItem--selected :global(.vtex-checkbox__box) {
  display: block;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #7d7d7d !important;
  border-radius: 2px; }

.filterItem :global(.vtex-checkbox__inner-container) {
  background: white;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 2px; }

.filterTemplateOverflow :global(.vtex-slider__base-internal),
.filterTemplateOverflow :global(.vtex-slider__selector) {
  background: #292929; }

.filter__container--selectedFilters .filterSelected {
  display: none; }

.filter__container--selectedFilters .filterTemplateOverflow {
  padding: 1rem 0; }

.filter__container--selectedFilters :global(.vtex-checkbox__label) {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #c4c4c4; }

.filter__container--selectedFilters
.selectedFilterItem
:global(.vtex-checkbox__line-container) {
  flex-direction: row-reverse; }

.filter__container--selectedFilters
.selectedFilterItem
:global(.vtex-checkbox__inner-container) {
  border: none;
  background: transparent;
  border-radius: none; }

.sidebar {
  width: 311px; }

.filterAccordionBreadcrumbs {
  padding: 16px 12px; }

.accordionFilter {
  text-transform: uppercase; }

.accordionFilterContainer {
  padding-left: 12px;
  padding-right: 12px; }

.accordionFilterContainer--marca,
.accordionFilterContainer--departamento {
  display: none; }

.accordionFilterContent {
  padding: 15px 0; }

.accordionFilterItem {
  padding: 0; }

.accordionFilterItemOptions :global(.vtex-checkbox__inner-container) {
  background: #fff !important;
  border-color: #fff !important; }

.accordionFilterItemOptions :global(.vtex__icon-check) {
  background: #7d7d7d !important;
  color: #7d7d7d;
  border-radius: 2px;
  display: block;
  height: 8px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8px; }

.accordionFilterItemOptions :global(.vtex-checkbox__box-wrapper) {
  border: 1px solid #c4c4c4;
  border-radius: 2px; }

.filterBreadcrumbsContent {
  outline: none; }

.filterButtonsBox {
  border: none !important;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 28px;
  height: 120px; }

.filterBreadcrumbsText {
  font-weight: 500;
  font-size: 18px;
  font-variant: small-caps;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-right: 5px; }

.filterApplyButtonWrapper,
.filterClearButtonWrapper {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px; }

.filterClearButtonWrapper :global(.vtex-button__label) {
  display: none; }

.filterClearButtonWrapper :global(.vtex-button) {
  background: #c4c4c4;
  color: #fff;
  border: none !important;
  border-radius: 0;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 8px; }

.filterClearButtonWrapper :global(.vtex-button)::after {
  content: "remover filtro";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #fff; }

.filterApplyButtonWrapper :global(.vtex-button) {
  color: #fff;
  background: #000000;
  border: none !important;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  width: 100%; }

.buttonShowMore :global(.vtex-button) {
  font-family: "Poppins", sans-serif;
  background: #333333;
  border-radius: 0;
  border: none;
  max-width: 259px;
  width: 100%;
  display: block;
  line-height: 48px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-top: 20px;
  color: #fff; }
  .buttonShowMore :global(.vtex-button) :global(.vtex-button__label) {
    font-size: 0; }
    .buttonShowMore :global(.vtex-button) :global(.vtex-button__label)::after {
      font-size: 14px;
      content: 'Carregar mais';
      margin-right: 15px; }

@media only screen and (max-width: 1024px) {
  .caretIcon {
    width: 16px; }
  .galleryTitle--layout {
    text-align: center;
    margin-bottom: 32px; }
  :global(.vtex-flex-layout-0-x-flexRow--searchinfomobile)
:global(.vtex-store-components-3-x-container) {
    padding: 0; }
  :global(.vtex-flex-layout-0-x-flexRow--searchinfomobile) {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    position: relative; }
  :global(.vtex-flex-layout-0-x-flexRow--searchinfomobile)::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #e5e5e5;
    top: 0;
    left: 50%; }
  .totalProducts--layout {
    text-align: center; }
  .filterPopupTitle {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    text-transform: uppercase;
    color: #7d7d7d; }
  .buttonShowMore :global(.vtex-button) {
    max-width: 343px; }
  .filters--layout .filterPopupArrowIcon {
    color: #c4c4c4; }
  .filters--layout .filterPopupArrowIcon .filterIcon {
    opacity: 0; }
  .filterBreadcrumbsItemName {
    color: #7d7d7d;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 24px;
    text-transform: uppercase;
    padding-left: 5px;
    white-space: nowrap; }
  .filterAccordionItemBox {
    border: none;
    height: auto;
    margin: 4px 0;
    min-height: 16px; }
  .filterAccordionItemBox :global(.vtex-checkbox__line-container) {
    align-items: center; }
  .filterAccordionItemBox :global(.vtex-checkbox__label) {
    color: #7d7d7d;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 12px;
    /* line-height: 100%; */
    margin-left: 8px; }
  /* .accordionFilterItemTag :global(div) {
    background: purple;
  } */
  .searchNotFound {
    margin: 0; }
  .orderByButton .orderByText {
    font-family: "Roboto", sans-serif;
    display: inline !important;
    font-size: 13px;
    line-height: 19px;
    /* text-align: center; */
    color: #7D7D7D; }
  .orderByButton .filterPopupTitle {
    font-size: 0; }
  .orderByButton .filterPopupArrowIcon {
    display: block;
    margin-bottom: 4px;
    padding: 0 4px 0 4px; }
  .buttonShowMore :global(.vtex-button__label):focus {
    outline-color: transparent; } }

@media screen and (max-width: 475px) {
  .filterPopupTitle {
    font-size: 12px; }
  .layoutSwitcher {
    padding-left: 2px !important; }
  .layoutSwitcher :global(.vtex-button__label) {
    padding-left: 0; } }

.filterPopupArrowIcon .caretIcon {
  width: 20px; }

.filter__container--selectedFilters,
.filter__container--category-1,
.filter__container--brand {
  display: none; }

.filter__container--title .filterMessage {
  font-size: 20px; }

.filter__container .caretIcon {
  width: 12px;
  color: #555;
  padding: 0 10px 0 0; }

.filterIcon {
  padding-right: 0; }
