/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
.summarySmallDisclaimer {
  text-align: center;
  font-size: 13px;
  line-height: 14px;
  color: #888;
  text-transform: uppercase;
  padding: 10px 0;
  letter-spacing: 1px;
  font-weight: bold;
  display: none; }

.summaryItemContainer {
  font-size: 14px;
  line-height: 16px;
  border-bottom: none;
  padding: 0;
  margin: 0;
  font-weight: 500; }

.summaryItemLabel {
  font: normal normal normal 16px/25px "Poppins", sans-serif;
  letter-spacing: 1.6px;
  color: #454553;
  text-transform: uppercase;
  margin-right: 10px; }

.price {
  font: normal normal bold 16px/25px "Poppins", sans-serif;
  letter-spacing: 1.6px;
  color: #454553;
  text-transform: uppercase; }

.summarySmallContent .summaryItemContainer:last-child {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000; }
