@charset "UTF-8";
/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
.container--qf-product-breadcrumb {
  font-size: 12px; }

.link--qf-product-breadcrumb,
.term--qf-product-breadcrumb {
  text-transform: uppercase;
  color: #c4c4c4;
  line-height: 14px; }

.arrow--qf-product-breadcrumb {
  color: #c4c4c4; }

.link--qf-product-breadcrumb:hover {
  color: #808080; }

.link {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 12px;
  transition: ease-in 0.22s all; }

:global(.vtex-breadcrumb-1-x-term) {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #c4c4c4; }

.link {
  color: #324c25; }
  .link:hover {
    color: #547f3e; }

.homeLink {
  padding-bottom: 0;
  font-family: "Poppins", sans-serif; }
  .homeLink::before {
    content: 'Página Inicial';
    font-family: "Poppins", sans-serif; }
  .homeLink .homeIcon {
    display: none; }

.container .arrow::before {
  content: "/";
  position: relative;
  top: 2px;
  margin-right: 3px; }

.container .arrow .caretIcon {
  display: none; }
