/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
.sellingPrice--qf-custom-selling-price {
  display: block;
  font-size: 0; }

.sellingPrice--qf-custom-selling-price
.currencyContainer--qf-custom-selling-price {
  font: normal normal 800 30px/46px "Poppins", sans-serif;
  letter-spacing: 3px;
  color: #333333;
  text-transform: uppercase; }
  @media only screen and (max-width: 575px) {
    .sellingPrice--qf-custom-selling-price
.currencyContainer--qf-custom-selling-price {
      font: normal normal 800 23px/24px "Poppins", sans-serif; } }

.currencyLiteral--qf-custom-selling-price {
  display: none; }

.savingsValue--qf-custom-price-savings {
  text-decoration: line-through;
  font: normal normal 300 18px/27px "Poppins", sans-serif;
  letter-spacing: 1.8px;
  color: #cccccc;
  text-transform: uppercase; }
  .savingsValue--qf-custom-price-savings .currencyLiteral--qf-custom-price-savings {
    display: none; }

.installments--qf-custom-installments {
  font: normal normal 300 14px/21px "Poppins", sans-serif;
  letter-spacing: 1.4px;
  color: #333333;
  text-transform: uppercase; }

.savings--qf-custom-price-savings {
  font-size: 0px; }

.savings--qf-shelf {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  text-transform: lowercase;
  color: #a70505; }

.savings--qf-shelf::before {
  content: "/"; }

.listPrice--qf-shelf {
  font-size: 14px;
  line-height: 21px;
  text-decoration-line: line-through;
  color: #cccccc;
  text-align: left;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.4px;
  margin-right: 5px; }

:global(.vtex-product-price-1-x-listPrice--qf-shelf)
:global(.vtex-product-price-1-x-currencyCode--qf-shelf) {
  font-size: 14px; }

.listPriceValue {
  font-weight: 400; }

.installments--qf-shelf {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #333333;
  text-transform: initial;
  font-family: "Poppins", sans-serif;
  font-weight: 300; }

.savings--saving-price-badge {
  display: block;
  width: fit-content;
  padding: 5px 10px;
  background: #000;
  margin-bottom: 5px;
  overflow: hidden; }

.savings-discount--saving-price-badge {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff; }

.savingsPercentage--saving-price-badge {
  margin-right: 3px; }

.sellingPrice--qf-shelf {
  color: #111;
  font-size: 20px;
  position: relative;
  right: 4px;
  color: #333333;
  font-family: "Poppins",sans-serif;
  font-weight: 900; }

:global(.vtex-category-menu-2-x-itemContainer--category) {
  background: transparent;
  border: 0;
  top: 57px !important; }

:global(.vtex-category-menu-2-x-departmentList)
:global(.vtex-category-menu-2-x-itemContainer):first-child
:global(.vtex-category-menu-2-x-departmentLink) {
  font-weight: 700; }

:global(.vtex-store-header-2-x-headerRow--main-header-menu)
:global(.vtex-category-menu-2-x-departmentLink) {
  font-family: "Roboto", sans-serif; }

:global(.vtex-category-menu-2-x-submenuList) {
  padding: 15px;
  max-width: 800px;
  background: #fff;
  justify-content: end;
  min-height: 120px; }

:global(.vtex-category-menu-2-x-firstLevelList) {
  padding: 0; }

.marquee {
  width: 100px;
  height: 22px;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #ccc;
  padding: 2px; }

:global(.vtex-flex-layout-0-x-flexRow--qf-shelf-price-selling-savings) {
  display: flex;
  justify-content: center;
  align-items: center; }
