/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
.menuLinks :global(.b--action-primary) {
  background-color: #ebebeb;
  padding-left: 9px;
  border-left: 1px solid #000; }

.menuLinks :global(.vtex-account_menu-link) {
  padding: 5px;
  margin: 0;
  font: normal normal normal 14px/30px "Poppins", sans-serif;
  letter-spacing: 1.4px;
  color: #333333; }

.menu {
  border-right: none !important;
  margin: 0 65px 0 0 !important;
  min-width: 178px;
  padding-right: 0; }

.passwordBoxContainer,
.newsletterBoxContainer {
  display: none; }

.menuLink {
  font: normal normal normal 14px/30px "Poppins", sans-serif;
  letter-spacing: 1.4px;
  color: #333333;
  padding: 5px;
  margin: 0; }

.userImage {
  display: none; }

.userGreeting {
  font-size: 0; }
  .userGreeting::before {
    content: "Minha conta";
    text-align: center;
    font: normal normal bold 20px/20px "Poppins", sans-serif;
    letter-spacing: 2px;
    color: #333333;
    text-transform: uppercase; }

.boxContainer {
  border: 1px solid #000000;
  border-radius: 0; }
  .boxContainer:before {
    content: "DADOS PESSOAIS";
    font: normal normal bold 16px/27px "Poppins", sans-serif;
    letter-spacing: 0.32px;
    color: #333333;
    text-transform: uppercase;
    padding-left: 1.3em;
    border: 1px solid #333333;
    margin: -1px;
    padding: 10px 0 10px 40px; }

.boxContainerFooter {
  border: 1px solid #292929;
  max-height: 36px;
  margin: -1px; }

.boxContainerFooter :global(.vtex-button) {
  color: #fff;
  margin-top: 2px;
  transition: ease-in 0.22s all; }
  .boxContainerFooter :global(.vtex-button) :global(.vtex-button__label) {
    font-size: 0; }
    .boxContainerFooter :global(.vtex-button) :global(.vtex-button__label)::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background: url(assets/svgs/edit.svg) no-repeat;
      background-repeat: no-repeat; }

.boxContainerFooter :global(.vtex-button):hover {
  background-color: #303030; }

:global(.vtex-pageHeader__container) {
  padding: 0; }

:global(.vtex-pageHeader__title) {
  display: none; }

:global(.vtex-pageHeader-link__container) {
  padding-bottom: 2rem; }

.dataEntryLabel {
  font: normal normal normal 14px/27px "Poppins", sans-serif;
  letter-spacing: 0.28px;
  color: #333333; }
