/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
.paragraph--deals {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #fff;
  margin: 0; }

/* qf BRANDS HEADING   */
/* ------------------------------------------------------------------------------------ */
.heading--qf-brands-heading {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #7d7d7d;
  text-transform: uppercase; }

.paragraph--qf-brands-heading {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: lowercase;
  color: #c4c4c4; }

/*** Minha conta */
.paragraph--account-title-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #292929;
  text-transform: uppercase; }

.paragraph--carousel-promotions {
  margin: 0;
  font: normal normal 600 12px/21px "Poppins", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0 20px; }

.container--categories-title,
.container--categories-see-more {
  display: flex;
  justify-content: center; }

.paragraph--categories-title,
.paragraph--categories-see-more {
  margin: 0; }

.paragraph--categories-title {
  letter-spacing: 3px;
  color: #333333;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 27px;
  line-height: 46px; }
  @media (max-width: 1026px) {
    .paragraph--categories-title {
      font-size: 24px; } }

.link--categories-see-more {
  font: normal normal 300 16px/25px "Poppins", sans-serif;
  letter-spacing: 1.6px;
  color: #333333; }
  @media (max-width: 1026px) {
    .link--categories-see-more {
      font-size: 12px; } }

.container--categories {
  text-align: center;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333; }

.wrapper--categories {
  width: 100%; }

.paragraph--categories {
  margin: 8px 0; }
  @media (max-width: 1200px) {
    .paragraph--categories {
      margin: 0; } }
  @media (max-width: 1026px) {
    .paragraph--categories {
      margin: 8px 0; } }

.link--categories {
  font: normal normal normal 12px/18px "Poppins", sans-serif;
  letter-spacing: 1.2px;
  color: #333333;
  text-decoration: none; }

.paragraph--recomendados-shelf-title {
  font: normal normal 800 30px/46px "Poppins", sans-serif;
  letter-spacing: 3px;
  color: #333333;
  text-transform: uppercase;
  margin: 0; }

.paragraph--shock-shelf-title,
.paragraph--shelf-title-essentials,
.paragraph--shelf-title-body {
  font: normal normal 800 24px/46px "Poppins", sans-serif;
  letter-spacing: 3px;
  color: #333333;
  text-transform: uppercase;
  margin: 0; }

.paragraph--recomendados-shelf-see-more,
.paragraph--shock-shelf-see-more,
.paragraph--shock-shelf-see-more {
  margin: 0; }

.paragraph--essentials-shelf-see-more {
  margin: 0; }

.link--body-shelf-see-more,
.link--recomendados-shelf-see-more,
.link--shock-shelf-see-more,
.link--essentials-shelf-see-more {
  font: normal normal 300 16px/25px "Poppins", sans-serif;
  letter-spacing: 1.6px;
  color: #333333;
  text-transform: lowercase;
  margin: 0; }

.container--instagram-Hashtag {
  background: #000000;
  padding: 15px 0;
  margin: 0;
  font: normal normal 600 12px/21px "Poppins", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
  overflow: hidden; }

.paragraph--instagram-Hashtag {
  margin: 0;
  display: inline-block;
  padding-left: 1%;
  animation: marquee 1s linear infinite; }

@keyframes marquee {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(-100%, 0); } }

/* INSTITUCIONAL  */
.headingLevel1--institucional {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: #666666;
  margin: 0 0 16px; }

.paragraph--institucional-titulo {
  font: normal normal bold 20px/20px "Poppins", sans-serif;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase; }

.paragraph--institucional {
  margin: 0 0 16px;
  text-align: center;
  font: normal normal 300 14px/20px "Poppins", sans-serif;
  letter-spacing: 1.4px;
  color: #333333; }

.wrapper--institucional {
  max-width: 100%; }

.image--institucional {
  margin: 0 auto;
  display: block; }

.link--institucional {
  color: #292929; }

.link--institucional:hover {
  font-weight: bold; }

.headingLevel4--institucional {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
  margin-bottom: 0; }

.headingLevel3--institucional {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  margin: 0 0 16px;
  color: #292929; }

.paragraph--inst-nav {
  text-align: center;
  font: normal normal bold 20px/20px "Poppins", sans-serif;
  letter-spacing: 2px;
  color: #333333;
  text-transform: uppercase;
  padding-left: 25px; }
  @media (max-width: 580px) {
    .paragraph--inst-nav {
      padding-left: 20px; } }

.paragraph--fc-form-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #666666; }

/**Institucional*/
.wrapper--institucional-titulo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #292929;
  text-transform: uppercase; }

.container--breadcrumb-institucional-item {
  margin-left: 8px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #c4c4c4;
  text-transform: uppercase; }

.container--breadcrumb-institucional-item::before {
  content: "";
  display: block;
  color: #c4c4c4;
  margin-top: 14px;
  margin-top: 16px;
  margin-right: 8px;
  height: 8px;
  width: 8px; }

.headingLevel2--institucional {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
  text-align: center; }

@media screen and (max-width: 1024px) {
  .headingLevel2--institucional {
    text-align: center; } }

.paragraph--txt-measurement-chart {
  font: normal normal normal 12px/18px "Poppins", sans-serif;
  letter-spacing: 0px;
  color: #333333;
  width: 120px; }

:global(.vtex-flex-layout-0-x-flexRowContent--search-seo) {
  margin-top: 10px; }
  :global(.vtex-flex-layout-0-x-flexRowContent--search-seo) .heading-level-1 {
    font: normal normal 800 30px/46px "Poppins", sans-serif;
    letter-spacing: 3px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 0; }
  :global(.vtex-flex-layout-0-x-flexRowContent--search-seo) .wrapper--search-seo {
    margin: 0 auto;
    text-align: center; }
  :global(.vtex-flex-layout-0-x-flexRowContent--search-seo) .paragraph--search-seo {
    font: normal normal 300 13px/20px "Poppins", sans-serif;
    letter-spacing: 1.2px;
    color: #333333; }

:global(.vtex-rich-text-0-x-paragraph--not-found-heading) {
  font: normal normal 800 30px/35px "Poppins", sans-serif;
  letter-spacing: 2.4px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 10px; }

:global(.vtex-rich-text-0-x-strong--not-found-sub-heading) {
  font: normal normal 500 30px/35px "Poppins", sans-serif;
  letter-spacing: 2.4px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 10px; }

/* FOOTER  */
.paragraph--footer-links-title {
  margin: 0 0 10px 0;
  font: normal normal 800 16px/25px "Poppins", sans-serif;
  letter-spacing: 1.6px;
  color: #333333;
  text-transform: uppercase; }

.paragraph--footer-links {
  margin: 0;
  display: flex;
  align-items: center; }

.link--footer-links {
  font: normal normal normal 14px/35px "Poppins", sans-serif;
  letter-spacing: 1.4px;
  color: #333333;
  text-decoration: none;
  margin-left: 9px; }

.paragraph--footer-menu-item {
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
  font: normal normal 300 10px/16px "Poppins", sans-serif;
  letter-spacing: 1px;
  color: #333333; }
  @media (max-width: 1026px) {
    .paragraph--footer-menu-item {
      margin: 0 0 24px 0; } }
  .paragraph--footer-menu-item:last-child {
    display: block !important;
    margin-left: 28px; }
    @media (max-width: 1026px) {
      .paragraph--footer-menu-item:last-child {
        margin-left: 0; } }

.link--footer-menu-item {
  font: normal normal normal 14px/21px "Poppins", sans-serif;
  letter-spacing: 0px;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none; }

.image--footer-menu-item {
  margin-right: 9px; }

.paragraph--footer-bottom-store-info {
  margin: 0;
  font: normal normal 300 10px/16px "Poppins", sans-serif;
  letter-spacing: 1px;
  color: #333333; }
  @media (max-width: 1026px) {
    .paragraph--footer-bottom-store-info {
      text-align: center; } }

.paragraph--top-bar-link {
  display: flex;
  align-items: center;
  margin: 7px 0 7px; }

.image--top-bar-link {
  margin-right: 7px; }

.link--top-bar-link {
  font: normal normal 300 10px/16px "Poppins", sans-serif;
  letter-spacing: 1px;
  color: #ffffff;
  white-space: nowrap;
  text-decoration: none; }

.paragraph--orders-mobile-link {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px; }
  .paragraph--orders-mobile-link .link--orders-mobile-link {
    text-decoration: none;
    color: #333333;
    margin-left: 7px;
    letter-spacing: .5px; }

.paragraph--favorites-mobile-link {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px; }
  .paragraph--favorites-mobile-link .link--favorites-mobile-link {
    text-decoration: none;
    color: #333333;
    margin-left: 7px;
    letter-spacing: .5px; }

/* qf SHELF TITLE  */
/* ------------------------------------------------------------------------ */
.container--qf-shelf-title {
  justify-content: left;
  padding-left: 0;
  margin-top: 60px;
  width: 100%;
  margin: 0 auto; }

.paragraph--qf-shelf-title {
  margin: 0 0 15px 13px;
  font-size: 30px;
  text-transform: uppercase;
  color: #0c0c0c;
  letter-spacing: 3px;
  text-align: left;
  font-weight: 300; }

.heading--qf-shelf-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #c4c4c4;
  margin: 0; }

.container--qf-shelf-title-mobile {
  display: none; }

@media only screen and (max-width: 640px) {
  .container--qf-shelf-title-mobile {
    display: block !important; }
  .container--qf-shelf-title {
    display: none; } }

.paragraph--menu-text {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 14px; }

.paragraph--mobile-menu-item {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: #333333;
  font-weight: normal; }

.paragraph--personal-shopper-mobile-link,
.paragraph--franqueado-mobile-link {
  display: flex;
  align-items: center; }
  .paragraph--personal-shopper-mobile-link .image--franqueado-mobile-link,
  .paragraph--personal-shopper-mobile-link .image--personal-shopper-mobile-link,
  .paragraph--franqueado-mobile-link .image--franqueado-mobile-link,
  .paragraph--franqueado-mobile-link .image--personal-shopper-mobile-link {
    margin-right: 10px; }
  .paragraph--personal-shopper-mobile-link .link--personal-shopper-mobile-link, .paragraph--personal-shopper-mobile-link .link--franqueado-mobile-link,
  .paragraph--franqueado-mobile-link .link--personal-shopper-mobile-link,
  .paragraph--franqueado-mobile-link .link--franqueado-mobile-link {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #333333;
    font-weight: 18px;
    text-transform: uppercase; }

.paragraph--contact-mobile-link {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #333333;
  font-weight: 18px;
  text-transform: uppercase; }
  .paragraph--contact-mobile-link .link--contact-mobile-link {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #333333;
    font-weight: 18px;
    text-transform: uppercase; }

.link--mobile-menu-item {
  margin: 0;
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: #333333;
  font-weight: normal;
  text-decoration: none; }
