/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
.quantitySelectorTitle--qf-custom-quantity {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #7d7d7d !important; }

.quantitySelectorTitle {
  display: none; }

.quantitySelectorStepper {
  height: 46px;
  max-width: 176px;
  border: 1px solid #707070; }

.quantitySelectorTitle--qf-custom-quantity::after {
  content: ":"; }

.quantitySelectorContainer--qf-custom-quantity {
  margin-bottom: 5px; }

.quantitySelectorStepper :global(.vtex-numeric-stepper__input) {
  width: 100%;
  height: 24px;
  border: none;
  background: none;
  outline: none;
  margin: auto; }

.quantitySelectorStepper :global(.vtex-numeric-stepper__plus-button),
.quantitySelectorStepper :global(.vtex-numeric-stepper__minus-button) {
  width: 42px !important;
  height: 100%;
  font-weight: 100 !important;
  background: none;
  outline: none;
  border: none;
  color: #000000;
  font-size: 40px; }

.quantitySelectorStepper :global(.vtex-numeric-stepper__plus-button):focus,
.quantitySelectorStepper :global(.vtex-numeric-stepper__minus-button):focus {
  outline-color: #f0f0f0; }

@media only screen and (max-width: 640px) {
  .quantitySelectorContainer--qf-custom-quantity {
    margin-top: 5px; } }
