/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
/* .input, .input::-webkit-input-placeholder{
  display: none;
  font-family: "Roboto";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
color: $color-gray4;
} */
:global(.vtex-dropdown__button) {
  width: 100%; }

:global(.vtex-address-form-4-x-container),
:global(.vtex-input-prefix__group) {
  border: 1px solid #000000;
  border-radius: 0; }

:global(.vtex-my-account-1-x-boxContainerBody) :global(.vtex-button) {
  border-radius: 0;
  height: 39px;
  margin-top: 10px; }

:global(.vtex-pageHeader-link__container) :global(.vtex-button) {
  font-weight: 200;
  color: black;
  text-decoration: underline; }

:global(.vtex-pageHeader-link__container) :global(.vtex-button) :last-child {
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 13px; }

:global(.vtex-account__page-body) :global(.vtex-input__label),
:global(.vtex-account__page-body) :global(.vtex-dropdown__label) {
  color: #000000; }

:global(.vtex-pageHeader__children) :global(.vtex-button) {
  font-size: 13px;
  background: black;
  border-radius: 0;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 15px 10px;
  max-width: 230px;
  position: relative; }

@media only screen and (min-width: 1024px) {
  :global(.vtex-my-account-1-x-menu) {
    margin: 0;
    padding-right: 0;
    border-right: 1px solid #707070;
    margin-right: 65px; } }

@media only screen and (max-width: 1024px) {
  :global(.vtex-account__page) {
    width: 100%; }
  :global(.vtex-account__page-body) {
    margin: 25px 0 40px; } }
