/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
.relatedProducts--similar .title {
  padding: 0;
  justify-content: left;
  font-size: 15px;
  line-height: 14px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1.04px; }

.arrowLeft {
  display: block;
  background-size: contain !important;
  width: 55px;
  height: 49px;
  transform: rotateY(180deg);
  left: -70px;
  outline: none; }

.arrowRight {
  display: block;
  background-size: contain !important;
  width: 55px;
  height: 49px;
  right: -70px;
  outline: none; }

@media only screen and (max-width: 1024px) {
  .arrowLeft,
  .arrowRight {
    display: none; } }

.caretIcon {
  opacity: 0; }

.paginationDotsContainer {
  align-items: center; }

.title--qf-shelf-product {
  justify-content: left;
  font-family: 'Poppins', sans-serif;
  line-height: 22px;
  color: #0c0c0c;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  color: #0C0C0C;
  letter-spacing: 3px;
  color: #333333;
  text-transform: uppercase;
  justify-content: left; }
  @media (max-width: 1020px) {
    .title--qf-shelf-product {
      font-weight: 900;
      max-width: 350px;
      line-height: 34px; } }

.sliderContainer--qf-shelf-product {
  padding: 0; }

:global(.vtex-flex-layout-0-x-flexRow--qf-shelf) :global(.vtex-product-summary-2-x-hoverEffect) {
  width: 100% !important; }

:global(.vtex-flex-layout-0-x-flexRow--qf-shelf) :global(.vtex-store-components-3-x-discountContainer) {
  width: 100% !important; }

:global(.vtex-flex-layout-0-x-flexRow--qf-product-page-shelf) :global(.vtex-slider-0-x-dotsContainer) {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center; }
