@charset "UTF-8";
/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
.imageElementLink--categories-banner {
  padding: 10px 5px 0 10px; }
  @media (max-width: 1026px) {
    .imageElementLink--categories-banner {
      padding: 15px 0 0; } }

.imageElementLink--banner-mobile {
  display: flex; }

.productBrand--qf-product {
  text-align: center;
  font: normal normal 800 30px/46px "Poppins", sans-serif;
  letter-spacing: 3px;
  color: #333333;
  text-transform: uppercase; }
  @media only screen and (max-width: 575px) {
    .productBrand--qf-product {
      font: normal normal 800 23px/24px "Poppins", sans-serif; } }

:global(.vtex-shelf-1-x-sliderContainer--qf-shelf-product)
.skuSelectorTextContainer {
  text-align: left; }

.skuSelectorTextContainer {
  margin-bottom: 10px;
  text-align: left; }

.skuSelectorName {
  font: normal normal 800 14px/21px "Poppins", sans-serif;
  letter-spacing: 1.4px;
  color: #333333; }
  .skuSelectorName::after {
    content: ":"; }
  .skuSelectorName::before {
    content: "Selecione o "; }

:global(.vtex-flex-layout-0-x-flexRow--tamanhosss) :global(.vtex-store-components-3-x-skuSelectorName) {
  display: none; }

:global(.vtex-flex-layout-0-x-flexRowContent--tamanhosss) {
  margin-left: auto; }

.frameAround--qf-custom-sku-selector {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: 1px solid #f0f0f0; }

.skuSelectorItem--qf-custom-sku-selector--selected
.frameAround--qf-custom-sku-selector {
  border: 1px solid #e3e4e6;
  border-radius: 0; }

.skuSelectorInternalBox--qf-custom-sku-selector {
  border: none; }

.skuSelectorSubcontainer {
  margin: 0; }

.skuSelectorContainer--qf-custom-sku-selector {
  margin-top: 30px;
  display: flex;
  background: #f6f9fc;
  padding: 20px; }
  @media (max-width: 1025px) {
    .skuSelectorContainer--qf-custom-sku-selector {
      padding: 15px;
      padding-top: 0; } }
  .skuSelectorContainer--qf-custom-sku-selector .skuSelectorSubcontainer--tamanhos {
    order: 1; }
    .skuSelectorContainer--qf-custom-sku-selector .skuSelectorSubcontainer--tamanhos .skuSelectorItem--qf-custom-sku-selector {
      width: 37px;
      height: 37px; }
  .skuSelectorContainer--qf-custom-sku-selector .skuSelectorSubcontainer--color {
    order: 0; }
    .skuSelectorContainer--qf-custom-sku-selector .skuSelectorSubcontainer--color .skuSelectorName {
      font-size: 0; }
      .skuSelectorContainer--qf-custom-sku-selector .skuSelectorSubcontainer--color .skuSelectorName::before {
        font-size: 15px;
        content: "Cores:";
        cursor: text; }

.subscriberContainer .title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #7d7d7d; }

.subscriberContainer .subscribeLabel {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #7d7d7d; }

.subscriberContainer :global(.vtex-button):disabled,
.subscriberContainer :global(.vtex-button) {
  background: #292929;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  border: none; }

.subscriberContainer .content {
  max-width: 100%;
  display: flex;
  align-items: flex-start; }

.shippingContainer {
  margin-top: 16px;
  margin-bottom: 8px; }

.shippingContainer :global(.vtex-input__label)::after {
  content: "CEP:";
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #7d7d7d; }

.shippingContainer :global(.vtex-input__label) {
  font-size: 0; }

.shippingContainer :global(.vtex-address-form__postalCode) {
  margin-bottom: 17px; }

.shippingContainer :global(.vtex-button) {
  background: #292929;
  border-radius: 5px;
  line-height: 19px;
  min-height: 42px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  transition: all 0.4s; }

.shippingContainer :global(.vtex-button):hover {
  background: #000000; }

@media only screen and (max-width: 640px) {
  .subscriberContainer :global(.vtex-button) {
    width: 100%;
    line-height: 42px; } }

/* PÁGINA DE PRODUTOS(DETAILS) */
.productDescriptionContainer {
  padding: 20px 20px 0 20px;
  background: #f6f9fc; }

.productDescriptionTitle {
  font: normal normal 800 14px/21px "Poppins", sans-serif;
  letter-spacing: 1.4px;
  color: #333333; }

.content,
.productDescriptionText {
  font: normal normal 300 12px/18px "Poppins", sans-serif;
  letter-spacing: 0px;
  color: #333333; }

:global(.vtex-toast) {
  background: #292929;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px; }

.confirmationTitle--qf-newsletter,
.confirmationText--qf-newsletter {
  color: black; }

.backToTopButtonContainer {
  right: 11px; }

.backToTopButtonContainer :global(.vtex-button) {
  border: none;
  outline: none;
  width: 40px;
  height: 37px;
  background-size: cover !important; }

.backToTopButtonContainer :global(.vtex-button):focus {
  border: none;
  outline: none; }

.backToTopButtonContainer :global(.vtex-button__label) {
  display: none; }

.skuSelectorNameContainer,
.skuSelectorOptionsList {
  margin: 0; }

.skuSelectorOptionsList {
  display: flex;
  justify-content: left; }

:global(.vtex-flex-layout-0-x-flexRow--tamanhosss) .skuSelectorItem {
  margin: 0 20px 10px 0; }

:global(.vtex-flex-layout-0-x-flexRow--tamanhosss) .skuSelectorOptionsList {
  justify-content: center; }

.skuSelectorItem {
  width: 92px;
  height: 36px;
  margin: 0 20px 20px 0;
  border-radius: 0;
  border: 1px solid #333333; }

.skuSelectorItemTextValue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  font: normal normal 800 13px/21px "Poppins", sans-serif;
  letter-spacing: 0px;
  color: #333333;
  padding: 0; }

.specificationsTable {
  background: #f6f9fc; }

.specificationsTableContainer {
  padding-left: 20px;
  background: #f6f9fc; }
  @media (max-width: 1025px) {
    .specificationsTableContainer {
      margin: 0 0 30px 0;
      padding-bottom: 20px; } }
  .specificationsTableContainer .specificationsTableHead {
    display: none; }
  .specificationsTableContainer .specificationItemSpecifications {
    padding: 0;
    border: none;
    border-bottom: 1px solid #e3e4e6; }
  @media (max-width: 1025px) {
    .specificationsTableContainer .specificationItemProperty {
      padding: 0; } }
  .specificationsTableContainer .specificationsTableRow {
    display: flex; }
    .specificationsTableContainer .specificationsTableRow .specificationItemProperty,
    .specificationsTableContainer .specificationsTableRow .specificationItemSpecifications {
      font: normal normal 300 12px/18px "Poppins", sans-serif;
      letter-spacing: 0px;
      color: #333333;
      align-items: center;
      display: flex; }
  .specificationsTableContainer .specificationsTitle {
    font-size: 0;
    margin: 0; }
    @media (max-width: 1025px) {
      .specificationsTableContainer .specificationsTitle {
        margin: 0 0 10px 0; } }
    .specificationsTableContainer .specificationsTitle::before {
      content: "Tecnologia e composição";
      font: normal normal 800 14px/21px "Poppins", sans-serif;
      letter-spacing: 1.4px;
      color: #333333; }

.skuSelectorItemImageValue {
  display: block;
  width: 34px;
  height: 45px;
  object-fit: cover;
  object-position: top; }

.shippingContainer
:global(.vtex-address-form__postalCode)
:last-child:not(:global(.vtex-input-prefix__group)):not(:global(.vtex-input__suffix)) {
  font-size: 10px;
  line-height: 13px;
  text-decoration-line: underline;
  color: #7d7d7d;
  font-family: "Oxygen", sans-serif; }

.shippingContainer :global(.vtex__icon-external-link) {
  display: none; }

.swiperPaginationClickable {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px; }

.skuSelectorSubcontainer .frameAround {
  border: none; }

.skuSelectorSubcontainer .skuSelectorInternalBox {
  border-radius: 0; }

.diagonalCross {
  border-radius: 0;
  border-color: #e3e4e6; }

.skuSelectorItem--selected {
  background: #333333; }
  .skuSelectorItem--selected .skuSelectorItemTextValue--qf-custom-sku-selector {
    letter-spacing: 0px;
    color: #fff;
    text-transform: uppercase; }
    .skuSelectorItem--selected .skuSelectorItemTextValue--qf-custom-sku-selector :global(.vtex-sku-number) {
      color: #fff; }

.skuSelectorItemTextValue--qf-custom-sku-selector :global(.vtex-sku-number) {
  font: normal normal normal 14px/21px "Poppins", sans-serif;
  letter-spacing: 0px;
  color: #333333;
  margin-left: 5px; }

.productImagesThumbCaret :global(.vtex-store-components-3-x-caretIcon) {
  opacity: 1; }

:global(.vtex-toast) {
  min-height: 62px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #fff;
  font-size: 12px; }

@media only screen and (max-width: 768px) {
  :global(.vtex-toast) :global(.vtex-button__label) {
    font-size: 13px; } }

.productImageTag--main {
  max-height: unset !important;
  max-width: 803px;
  display: block;
  margin: 0 auto;
  max-width: 80%; }

.carouselContainer--galery-thumbs {
  display: flex;
  justify-content: center; }
  .carouselContainer--galery-thumbs .carouselGaleryThumbs--galery-thumbs {
    display: none; }

.productImagesThumb--galery-thumbs {
  margin-bottom: 45px; }

.carouselGaleryCursor {
  margin: 0;
  padding: 0;
  border: 1px solid #ebebeb;
  width: 100%;
  max-width: 100%; }

.diagonalCross--qf-custom-sku-selector {
  opacity: 0.8;
  background: #fff;
  z-index: 10;
  margin: -1px; }

@media (max-width: 1025px) {
  .skuSelectorSelectContainer {
    width: 173px;
    height: 40px; }
    .skuSelectorSelectContainer :global(.vtex-dropdown__button) {
      background-color: #f6f9fc;
      color: #333333;
      font: normal normal normal 14px/22px "Poppins", sans-serif; } }

.imageElement--social-image {
  max-width: 15px;
  display: inline-block;
  margin: 10px 0 0; }
  @media (max-width: 1026px) {
    .imageElement--social-image {
      margin-right: 28px; } }

@media (max-width: 1026px) {
  .newsletter--qf-newsletter {
    margin-bottom: 20px; } }

.searchBarInnerContainer {
  border: none;
  border-radius: 0;
  border: 1px solid #e3e4e6;
  height: 40px; }
  @media (max-width: 1026px) {
    .searchBarInnerContainer {
      border-left: none;
      border-right: none;
      border-top: 1px solid #e3e4e6;
      border-bottom: 1px solid #e3e4e6; } }

.searchBarContainer {
  min-width: 357px;
  padding: 21px 0;
  max-width: 100% !important; }
  @media (max-width: 1280px) {
    .searchBarContainer {
      min-width: 180px; } }

.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
  height: 38px;
  border-radius: 0; }

.autoCompleteOuterContainer :global(.vtex-input__suffix) {
  padding: 0;
  border-radius: 0; }

.searchBarIcon--mobile {
  padding-right: 10px;
  border-radius: 0; }

.imageElementLink--banner-submenu {
  display: flex;
  min-width: 200px;
  height: max-content; }

.sizeMobile {
  display: block;
  max-width: unset; }

.autoCompleteOuterContainer--desktop-search :global(.vtex-styleguide-9-x-input) {
  background: #fff; }

.suffixWrapper--desktop-search {
  background: #fff;
  padding-right: 13px; }

.logoLink {
  background: #fff; }

.logoContainer {
  padding: 0;
  display: block; }

@media only screen and (max-width: 1023px) {
  .sizeMobile {
    padding: 0;
    margin-right: 0;
    margin-bottom: 5px; } }

.searchBarIcon--mobile-search {
  background: #000000;
  padding: 9px 32px !important; }
  .searchBarIcon--mobile-search::after {
    content: 'Buscar';
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    color: #fff; }
  .searchBarIcon--mobile-search .searchIcon--mobile-search {
    display: none; }

.autoCompleteOuterContainer--mobile-search :global(.vtex-styleguide-9-x-input) {
  background: #F6F9FC;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: normal; }

.swiperCaretPrev {
  display: block;
  background-size: contain; }

.swiperCaretNext {
  display: block;
  background-size: contain; }

.swiperCaretNext,
.swiperCaretPrev {
  padding: 0;
  border: 1px solid #333333;
  color: #333333;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }

.caretIcon {
  height: 13px; }

.swiper-pagination {
  align-items: center; }

.swiperBullet {
  background: #fff;
  height: 8px !important;
  width: 8px !important;
  opacity: 1; }

.swiperBullet--active {
  background: transparent;
  border: 1px solid #fff;
  height: 13px !important;
  width: 13px !important; }

.imageElement--qf-main-slider {
  margin-bottom: -4px; }

.container--qf-newsletter {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 1180px; }
  @media (min-width: 1020px) {
    .container--qf-newsletter {
      justify-content: space-around;
      align-items: center; } }
  @media (max-width: 1026px) {
    .container--qf-newsletter {
      padding: 0 !important; } }

.label--qf-newsletter {
  font: normal normal normal 14px/21px "Poppins", sans-serif;
  letter-spacing: 0px;
  color: #333333;
  display: flex;
  flex-direction: column; }
  .label--qf-newsletter::before {
    content: 'News';
    font: normal normal 800 24px/35px "Poppins", sans-serif;
    letter-spacing: 2.4px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 10px; }

.form--qf-newsletter {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  max-width: 100%; }
  @media (max-width: 1026px) {
    .form--qf-newsletter {
      flex-direction: column;
      align-items: flex-start;
      padding: 0; } }

.label--qf-newsletter {
  max-width: 305px;
  margin-right: 60px;
  text-align: left; }
  @media (max-width: 1026px) {
    .label--qf-newsletter {
      margin-right: 0;
      margin-bottom: 10px; } }

.inputGroup--qf-newsletter {
  padding: 0;
  width: 100%;
  max-width: 580px;
  border: 1px solid #e3e4e6;
  position: relative;
  height: max-content;
  display: flex; }
  .inputGroup--qf-newsletter :global(.vtex-input-prefix__group) {
    border: none; }
  .inputGroup--qf-newsletter :global(.vtex-styleguide-9-x-input) {
    background: none;
    padding: 0 20px;
    font: normal normal normal 14px/21px "Poppins", sans-serif;
    letter-spacing: 0px;
    color: #333333; }

.buttonContainer--qf-newsletter {
  padding: 0; }
  .buttonContainer--qf-newsletter :global(.vtex-button) {
    background: none;
    border: none;
    outline: none; }
  .buttonContainer--qf-newsletter :global(.vtex-button__label) {
    font-size: 0;
    padding: 0 20px 0 0; }
    .buttonContainer--qf-newsletter :global(.vtex-button__label)::after {
      content: '';
      display: block;
      color: black;
      font-weight: bold;
      background: url("assets/svgs/arrow-right.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 12px;
      height: 12px; }

.skuSelectorSubcontainer--tamanhos :global(.vtex-product-summary-2-x-skuSelectorItem--product-summary-sku) {
  width: 37px;
  height: 37px; }

.skuSelectorSubcontainer--tamanhos :global(.vtex-product-summary-2-x-frameAround) {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 0;
  border: 1px solid #707070; }

.skuSelectorSubcontainer--tamanhos .skuSelectorItem--selected :global(.vtex-product-summary-2-x-frameAround) {
  border-color: #000; }

:global(.vtex-product-summary-2-x-frameAround--product-summary-sku) {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 0; }

:global(.vtex-product-summary-2-x-frameAround--product-summary-sku) {
  z-index: 2; }
