/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
.product-identifier__label,
.product-identifier__separator {
  display: none; }

.product-identifier--productReference {
  margin: 10px 0; }
  .product-identifier--productReference .product-identifier__value {
    font: normal normal 300 14px/21px "Poppins", sans-serif;
    letter-spacing: 1.4px;
    color: #333333;
    opacity: 1; }
    @media only screen and (max-width: 575px) {
      .product-identifier--productReference .product-identifier__value {
        margin: 10px 0; } }
    .product-identifier--productReference .product-identifier__value::before {
      content: "Ref:";
      margin-right: 5px; }

.product-identifier {
  display: block; }
