/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
.productHighlightWrapper--qf-collection-badge {
  background: #292929;
  padding: 2px 8px 4px;
  margin-bottom: 4px; }

.productHighlightText--qf-collection-badge {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  padding: 6px 2px 2px;
  display: inline-block; }
