/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
.list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  @media (max-width: 1026px) {
    .list {
      flex-wrap: wrap; } }
  @media (max-width: 445px) {
    .list {
      display: grid;
      grid-template-columns: 1fr 1fr; } }

.item {
  display: flex; }
