/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
.flexRow--deals {
  background-color: #c4c4c4;
  padding: 17px 0px; }

.stretchChildrenWidth {
  align-items: center; }

.flexRowContent--qf-brands {
  justify-content: center; }

.flexRow--qf-brands {
  margin-top: 80px; }

.flexRow--fc-form {
  max-width: 1126px;
  margin: 0 auto;
  margin-bottom: 135px; }

.flexCol--fc-form-items :global(.vtex-input__label)::after,
.flexCol--fc-form-items :global(.vtex-dropdown__label)::after {
  content: "*";
  display: inline-block;
  color: #a70505; }

.flexCol--fc-form-items :global(.vtex-input__label),
.flexCol--fc-form-items :global(.vtex-dropdown__label) {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  color: #666666; }

.flexCol--fc-form-items :global(.vtex-button) {
  float: right;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  margin-top: 56px; }

.flexCol--fc-form-items :global(.vtex-input-prefix__group) {
  margin-bottom: 13px; }

.flexCol--fc-form-items {
  max-width: 694px;
  padding: 29px 15px;
  box-shadow: 0px 1px 2px rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 4px; }

@media only screen and (max-width: 1025px) {
  .flexRowContent--qf-brands {
    flex-direction: column; }
  :global(.vtex-slider-layout-0-x-sliderTrackContainer--novidades-list) {
    margin-bottom: 22px; } }

.flexRowContent--drawer-top-content {
  padding: 0 8px; }

.flexCol--mobile-links-container {
  border-bottom: none; }

.flexRow--not-found-row {
  margin: 50px 0; }

:global(.vtex-wish-list-1-x-outline) {
  background-repeat: no-repeat; }

:global(.vtex-dropdown__container) {
  background-color: #fff;
  border: 1px solid #aaa;
  height: 32px;
  border-radius: 0; }
  @media (max-width: 1025px) {
    :global(.vtex-dropdown__container) {
      height: 40px;
      border: 1px solid #000; } }

:global(.vtex-store-components-3-x-shareButtons) {
  filter: grayscale(1); }
  :global(.vtex-store-components-3-x-shareButtons) :first-child {
    filter: grayscale(1); }
  :global(.vtex-store-components-3-x-shareButtons) :not(:first-child) {
    filter: grayscale(1); }

:global(.vtex-category-menu-2-x-itemContainer--department) {
  color: #000; }
  :global(.vtex-category-menu-2-x-itemContainer--department) :first-child {
    color: #000; }

.flexRow--banner-section-01 {
  margin-top: 50px; }
  @media (max-width: 1026px) {
    .flexRow--banner-section-01 {
      margin-top: 14px; } }
  .flexRow--banner-section-01 :global(.vtex-store-components-3-x-container) {
    max-width: 1920px !important; }
    @media (max-width: 1026px) {
      .flexRow--banner-section-01 :global(.vtex-store-components-3-x-container) {
        padding: 0; } }

@media (max-width: 1026px) {
  .flexRowContent--banner-section-01 {
    flex-direction: column; } }

@media (max-width: 1026px) {
  .flexRowContent--banner-section-01 :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 100% !important; } }

@media (max-width: 1026px) {
  .flexRowContent--banner-section-01 :global(.vtex-store-components-3-x-imageElement--banner-mobile) {
    width: 100%;
    max-height: auto !important; } }

.flexRowContent--categories-title {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333; }
  @media (max-width: 1260px) {
    .flexRowContent--categories-title {
      display: flex; } }
  .flexRowContent--categories-title :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    padding: 20px 0; }
    @media (max-width: 1460px) {
      .flexRowContent--categories-title :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
        padding: 5px 0; } }
    .flexRowContent--categories-title :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
      width: 100% !important; }
      @media (max-width: 1006px) {
        .flexRowContent--categories-title :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
          display: flex; } }
    .flexRowContent--categories-title :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
      max-width: 22%;
      border-left: 1px solid #333333; }

.flexRow--carousel-categories-links-mobile {
  margin-bottom: 10px; }

.flexRowContent--categories-banner-list {
  display: flex;
  justify-content: center; }
  @media (max-width: 1026px) {
    .flexRowContent--categories-banner-list {
      gap: 15px; } }

.flexColChild--categories-banner-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.flexRowContent--shelf-recomendados :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important; }
  .flexRowContent--shelf-recomendados :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    flex-direction: column; }

.flexRowContent--essentials-shelf {
  margin: 34px auto 34px !important; }

.flexRowContent--body-shelf {
  margin: 50px auto 50px !important; }

.flexCol--recomendados-shelf-col,
.flexCol--shock-shelf-col,
.flexCol--essentials-shelf-col,
.flexCol--body-shelf-col {
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 30px;
  align-items: center; }

.flexRow--home-video-shelf {
  background: #f6f9fc;
  padding: 100px 0 100px; }
  .flexRow--home-video-shelf :global(.vtex-store-components-3-x-container) {
    max-width: 100%; }

.flexRowContent--home-video-shelf {
  align-items: center; }

.flexRowContent--shock-shelf {
  margin: 0 !important;
  padding-left: 20px !important; }
  .flexRowContent--shock-shelf :global(.vtex-product-summary-2-x-imageContainer) {
    max-height: 339px;
    overflow: hidden; }
    .flexRowContent--shock-shelf :global(.vtex-product-summary-2-x-imageContainer) :global(.vtex-product-summary-2-x-image--hover) {
      height: auto !important; }

.flexRow--slider-instagram :global(.vtex-store-components-3-x-container) {
  max-width: 1920px;
  padding: 0; }

.flexRowContent--slider-instagram {
  flex-direction: column; }
  .flexRowContent--slider-instagram :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    flex-direction: column; }

:global(.vtex-product-summary-2-x-imageWrapper--qf-shelf-product-image) :global(.vtex-product-summary-2-x-hoverImage) {
  left: 50%;
  right: 50%;
  transform: translate(-50%); }

/* INSTITUCIONAL  */
.flexCol--institucional-main-row {
  height: auto; }

.flexRowContent--institucional-titulo-wrapper {
  background: #333;
  margin: 0 auto;
  max-width: 580px; }

.flexRowContent--institucional-wrapper {
  margin-top: 83px;
  margin-bottom: 6rem; }
  @media (max-width: 640px) {
    .flexRowContent--institucional-wrapper {
      margin-top: 30px;
      margin-bottom: 50px; } }

.flexColChild--navegacao-institucional {
  height: 44px !important; }

.flexColChild--navegacao-institucional-help:first-child {
  margin-bottom: 20px; }

.flexColChild--institucional-main-row {
  max-width: 715px;
  margin-bottom: 65px; }
  @media (max-width: 640px) {
    .flexColChild--institucional-main-row {
      margin-bottom: 20px; } }

@media screen and (max-width: 1026px) {
  .flexRow--institucional-breadcrumb-wrapper {
    padding: 0 8px; }
  .flexRowContent--institucional-titulo-wrapper {
    margin-top: 0; }
  .flexCol--navegacao-institucional {
    margin-bottom: 49px;
    padding-right: 4px;
    padding-left: 4px; } }

.flexRow--institucional-main-row {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 180px; }

.flexRow--productSpecificationGroup {
  margin-top: 40px; }

.flexRowContent--productSpecificationGroup {
  position: relative; }

.flexRowContent--productSpecification,
.flexRowContent--productSpecificationGroupName {
  padding: 10px 7px;
  border: 1px solid rgba(34, 36, 38, 0.15); }

.flexCol--pedidos-antigos {
  position: relative; }

/**** Minha conta */
.flexRowContent--account-title {
  margin-top: 40px;
  max-width: 90%;
  transform: translateX(62%);
  left: -50%;
  position: relative; }

/* qf PRODUCT DETAILS  */
.flexRowContent--qf-product-details {
  max-width: unset;
  margin: 0 auto 20px auto; }

.flexRow--qf-product-page-shelf {
  margin-bottom: 102px; }

.flexRowContent--qf-buy-btn {
  margin-top: 0;
  background: #f6f9fc;
  padding-right: 20px; }
  .flexRowContent--qf-buy-btn .stretchChildrenWidth {
    padding: 0;
    align-items: unset; }
    .flexRowContent--qf-buy-btn .stretchChildrenWidth:first-child {
      width: auto !important;
      display: flex;
      gap: 40px;
      padding: 0 20px; }
      @media (max-width: 1024px) {
        .flexRowContent--qf-buy-btn .stretchChildrenWidth:first-child {
          padding: 0 15px;
          justify-content: flex-start; } }

:global(.vtex-numeric-stepper-wrapper) {
  height: 100%; }
  :global(.vtex-numeric-stepper-wrapper) :global(.vtex-numeric-stepper-container) {
    height: 100%; }
    :global(.vtex-numeric-stepper-wrapper) :global(.vtex-numeric-stepper-container) :global(.vtex-numeric-stepper__input) {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      text-align: center;
      font: normal normal normal 20px/30px "Poppins", sans-serif !important;
      letter-spacing: 0px;
      color: #333333; }
    :global(.vtex-numeric-stepper-wrapper) :global(.vtex-numeric-stepper-container) :global(.vtex-numeric-stepper__input) {
      font-weight: normal;
      font-size: 12px; }

.flexRowContent--qf-buy-btn :global(.vtex-button) {
  outline: none;
  border: none;
  border-radius: 0;
  background: #333333;
  transition: all 0.2s;
  width: 310px;
  height: 46px; }
  @media (max-width: 1025px) {
    .flexRowContent--qf-buy-btn :global(.vtex-button) {
      width: 176px; } }
  .flexRowContent--qf-buy-btn :global(.vtex-button):hover {
    background-color: #111;
    box-shadow: 0 0 10px #000;
    transition: all 0.2s; }

.flexRowContent--qf-buy-btn :global(.vtex-button):hover {
  background: #262626; }

:global(.vtex-modal-layout-0-x-triggerContainer--trigger-measurement-chart) {
  background: #f6f9fc;
  width: 100%; }
  :global(.vtex-modal-layout-0-x-triggerContainer--trigger-measurement-chart) .flexRowContent--img-txt-size {
    border: 1px solid #707070;
    width: 174px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    cursor: pointer; }
    :global(.vtex-modal-layout-0-x-triggerContainer--trigger-measurement-chart) .flexRowContent--img-txt-size .stretchChildrenWidth {
      padding: 0;
      width: auto !important; }

:global(.vtex-add-to-cart-button-0-x-buttonText) {
  text-align: center;
  font: normal normal 800 16px/25px "Poppins", sans-serif;
  letter-spacing: 1.6px;
  color: #fff;
  text-transform: uppercase; }

.flexRowContent--qf-buy-btn :global(.vtex-button):disabled {
  background: rgba(229, 229, 229, 0.870786);
  border-radius: 5px;
  line-height: 42px;
  margin-bottom: 32px;
  letter-spacing: 0.05em; }

.flexRowContent--qf-buy-btn
:global(.vtex-button):disabled
:global(.vtex-add-to-cart-button-0-x-buttonText) {
  color: #c4c4c4;
  letter-spacing: 0.05em; }

.flexRow--qf-product-page-shelf {
  justify-content: left;
  padding-left: 0;
  width: 100%;
  margin: 60px auto 80px; }

.flexRow--qf-product-details :global(.vtex-store-components-3-x-container) {
  max-width: 88%; }

.flexCol--product-right {
  max-width: 682px; }

.flexRow--qf-product-details :global(.vtex-store-components-3-x-shareContainer) {
  display: flex;
  align-items: center;
  margin-top: 35px; }
  .flexRow--qf-product-details :global(.vtex-store-components-3-x-shareContainer) :global(.vtex-store-components-3-x-shareLabel) {
    margin-right: 34px;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0.22px; }
    .flexRow--qf-product-details :global(.vtex-store-components-3-x-shareContainer) :global(.vtex-store-components-3-x-shareLabel)::after {
      content: ":";
      cursor: text; }
  .flexRow--qf-product-details :global(.vtex-store-components-3-x-shareContainer) :global(.vtex-store-components-3-x-shareSocialButton) {
    margin-right: 15px; }

@media (max-width: 1025px) {
  .flexCol--mobile-pdp-box .flexRowContent--product-price-installments {
    display: flex;
    align-items: center; }
    .flexCol--mobile-pdp-box .flexRowContent--product-price-installments .stretchChildrenWidth {
      width: auto !important;
      margin-right: 10px; }
  .flexCol--mobile-pdp-box :global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
    background-color: #f6f9fc;
    align-items: initial;
    padding: 0 0 15px 15px;
    margin: 0; }
  .flexCol--mobile-pdp-box .flexRow--qf-buy-btn {
    background: #f6f9fc; } }

@media only screen and (max-width: 575px) {
  .flexRowContent--product-price-installments {
    margin: 10px 0; } }

.flexRow--qf-product-main-mobile :global(.vtex-store-components-3-x-container) {
  padding: 0 0.8rem; }

:global(.vtex-product-summary-2-x-element--qf-shelf-product) {
  position: relative; }

.flexRow--qf-shelf-badges {
  position: absolute;
  top: 13px;
  left: 5px;
  z-index: 12; }

@media (max-width: 768px) {
  .flexRow--qf-shelf-badges {
    left: 5%;
    top: 5%; } }

@media (max-width: 576px) {
  .flexRow--qf-shelf-badges {
    left: 8px;
    top: 25px; } }

/* qf PRODUCT BREADCRUMB  */
.flexRow--qf-product-breadcrumb .flexRowContent--qf-product-breadcrumb,
.flexRow--qf-product-breadcrumb :global(.vtex-breadcrumb-1-x-container--qf-product-breadcrumb) {
  margin: 0;
  padding: 0; }

.flexRow--qf-product-breadcrumb :global(.vtex-breadcrumb-1-x-arrow--qf-product-breadcrumb) {
  color: #000000;
  padding: 0; }
  .flexRow--qf-product-breadcrumb :global(.vtex-breadcrumb-1-x-arrow--qf-product-breadcrumb)::before {
    top: 1px;
    margin: 0 2px; }

.flexRow--qf-product-breadcrumb :global(.vtex-breadcrumb-1-x-homeLink--qf-product-breadcrumb) {
  color: #333333;
  padding-left: 0; }
  .flexRow--qf-product-breadcrumb :global(.vtex-breadcrumb-1-x-homeLink--qf-product-breadcrumb)::before {
    position: relative;
    bottom: 1px;
    text-decoration: underline;
    letter-spacing: 1.4px; }

.flexRow--qf-product-breadcrumb :global(.vtex-breadcrumb-1-x-link--qf-product-breadcrumb),
.flexRow--qf-product-breadcrumb :global(.vtex-breadcrumb-1-x-term--qf-product-breadcrumb) {
  color: #333333;
  font-size: 13px;
  text-transform: initial;
  font-family: "Poppins", sans-serif; }

.flexRow--qf-product-breadcrumb :global(.vtex-breadcrumb-1-x-arrow--qf-product-breadcrumb):not(:last-child) :global(.vtex-breadcrumb-1-x-link) {
  text-decoration: underline; }

.flexRowContent--qf-product-name {
  margin: 0; }

.flexRow--qf-product-details :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  margin-top: 2px; }
  .flexRow--qf-product-details :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button):hover, .flexRow--qf-product-details :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button):focus {
    background: transparent; }
  .flexRow--qf-product-details :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button__label) {
    padding: 0; }

:global(.vtex-breadcrumb-1-x-container) {
  margin: 0;
  display: flex;
  align-items: center; }

.flexRow--shelf-image :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  position: absolute;
  right: 0;
  z-index: 3;
  width: max-content; }
  .flexRow--shelf-image :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) {
    width: 50px;
    background: none; }

/* qf FOOTER  */
/* ---------------------------------------------------------------------------------------------------------------- */
.flexRow--footer-links {
  background-color: #fff;
  padding: 30px 0; }
  @media (max-width: 1026px) {
    .flexRow--footer-links {
      padding: 0; } }

.flexRowContent--footer-links {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between; }

@media (max-width: 1026px) {
  .flexRow--social-icons {
    max-width: 150px;
    margin-right: auto;
    padding: 0 0 26px 0; } }

.flexRowContent--social-icons {
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 40px;
  margin: 0 auto; }
  @media (max-width: 1026px) {
    .flexRowContent--social-icons {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      max-width: 100%; } }

.flexRow--footer-complement {
  padding: 23px 0 30px;
  background: #f6f9fc; }
  @media (max-width: 1026px) {
    .flexRow--footer-complement {
      padding: 30px 0 6px; } }
  @media (max-width: 1026px) {
    .flexRow--footer-complement :global(.vtex-store-components-3-x-container) {
      padding: 0 20px; } }

.flexRowContent--footer-complement {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-between; }

.flexRowContent--footer-bottom {
  justify-content: center;
  padding: 30px 0; }
  @media (max-width: 1026px) {
    .flexRowContent--footer-bottom {
      max-width: 310px;
      margin: 0 auto;
      padding: 10px 0 18px; } }

@media (max-width: 1026px) {
  .flexRowContent--newsletter-row {
    flex-direction: column;
    align-items: flex-start; } }

.flexRow--top-bar {
  background: #000000;
  display: flex;
  justify-content: flex-end; }

.flexRow--top-bar :global(.vtex-store-components-3-x-container) {
  max-width: 50%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-start; }

.flexRowContent--top-bar {
  width: max-content;
  align-items: center; }
  .flexRowContent--top-bar :global(.vtex-button__label) {
    height: 20px !important; }

.flexRow--cart-menu :global(.vtex-store-components-3-x-container) {
  padding: 0 !important; }

.flexRowContent--cart-menu {
  display: flex; }

.flexRowContent--drawer-top-content {
  flex-direction: column;
  padding: 10px 32px 30px;
  background: #f6f9fc; }

.flexRow--drawer-top-content {
  margin: 0 !important; }

.flexRowContent--drawer-content-container :global(.vtex-store-drawer-0-x-openIconContainer--menu-mobile) {
  padding: 0;
  border-bottom: 1px solid #e3e4e6; }
  .flexRowContent--drawer-content-container :global(.vtex-store-drawer-0-x-openIconContainer--menu-mobile) :global(.vtex-store-drawer-0-x-drawerTriggerContainer--menu-mobile-trigger) {
    padding: 9px 50px; }

.flexCol--cart-logo-close {
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.flexCol--account-orders-wishlist {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; }

.flexColChild--account-orders-wishlist {
  max-width: 80px; }
  .flexColChild--account-orders-wishlist :global(.vtex-login-2-x-container) :global(.vtex-button) {
    display: flex;
    align-items: center; }
    .flexColChild--account-orders-wishlist :global(.vtex-login-2-x-container) :global(.vtex-button)::before {
      content: "";
      background: url("assets/svgs/user-black.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 30px;
      height: 20px;
      display: flex; }
    .flexColChild--account-orders-wishlist :global(.vtex-login-2-x-container) :global(.vtex-button) :global(.vtex-login-2-x-label) {
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      font-weight: normal;
      line-height: 16px;
      text-transform: lowercase;
      letter-spacing: 0.5px;
      width: 35px;
      text-align: left; }
      .flexColChild--account-orders-wishlist :global(.vtex-login-2-x-container) :global(.vtex-button) :global(.vtex-login-2-x-label)::first-letter {
        text-transform: uppercase; }

.flexRow--drawer-bottom-content {
  margin-top: auto; }

.flexRowContent--drawer-bottom-content {
  flex-direction: column;
  border-top: 1px solid #e3e4e6;
  padding: 9px 30px 5px; }
  .flexRowContent--drawer-bottom-content :global(.vtex-rich-text-0-x-paragraph) {
    margin: 0 0 13px; }

.flexRow--roupas-top-container {
  padding: 9px 30px;
  background: #000000; }
  .flexRow--roupas-top-container :global(.vtex-rich-text-0-x-paragraph--mobile-menu-item) {
    color: #fff; }

.flexRowContent--product {
  position: relative; }

.flexCol--minicart-image {
  max-width: 75px;
  margin-right: 42px;
  justify-content: center; }
  @media (max-width: 1026px) {
    .flexCol--minicart-image {
      margin-left: 30px; } }
  .flexCol--minicart-image .flexColChild--minicart-image {
    height: max-content !important; }
  @media only screen and (min-width: 1026px) {
    .flexCol--minicart-image :global(.vtex-product-list-0-x-productImageContainer) {
      width: 100% !important; } }

.flexCol--minicart-remove-item {
  position: absolute;
  width: max-content !important;
  height: max-content;
  top: 40%;
  right: 10px;
  z-index: 99999999999;
  margin: 0; }
  @media (max-width: 1026px) {
    .flexCol--minicart-remove-item {
      right: unset;
      left: -10px;
      top: 10px; } }
  .flexCol--minicart-remove-item :global(.vtex-product-list-0-x-deleteIcon) {
    width: 24px;
    height: 24px; }

.flexRow--minicart-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff; }

.flexCol--filter-col {
  min-width: 250px;
  margin-right: 15px; }

:global(.vtex-search-result-3-x-galleryItem--category) :global(.vtex-store-components-3-x-discountContainer) {
  width: 100% !important; }

:global(.vtex-search-result-3-x-galleryItem--category) :global(.vtex-product-summary-2-x-hoverEffect) {
  width: 100% !important; }

.flexRow--search-title :global(.vtex-store-components-3-x-container) {
  margin: 0;
  padding: 0; }

.flexRowContent--qf-shelf {
  max-width: unset;
  margin: 50px auto 50px;
  flex-direction: column; }

.flexRowContent--shelf-anonima {
  margin-top: 80px; }

@media only screen and (max-width: 870px) {
  .flexRowContent--qf-shelf {
    margin: 35px auto 25px; } }

.flexRow--wishlist-section
:global(.vtex-slider-layout-0-x-slideChildrenContainer--shelf) {
  justify-content: left;
  margin-left: 10%;
  margin-top: 20px; }
  @media only screen and (max-width: 725px) {
    .flexRow--wishlist-section
:global(.vtex-slider-layout-0-x-slideChildrenContainer--shelf) {
      justify-content: center;
      margin-left: 0;
      padding: 0 15px; } }

.flexRow--wishlist-section :global(.vtex-product-summary-2-x-container--qf-shelf-product) {
  max-width: 500px !important;
  margin: 0; }

:global(.vtex-rich-text-0-x-paragraph--wishlist-title) {
  padding: 0;
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  color: #0c0c0c;
  letter-spacing: 3px;
  padding-left: 6px;
  text-align: left; }
  @media only screen and (max-width: 725px) {
    :global(.vtex-rich-text-0-x-paragraph--wishlist-title) {
      text-align: center; } }

@media only screen and (max-width: 725px) {
  :global(.vtex-rich-text-0-x-container--wishlist-title) {
    justify-content: center; } }

.flexRow--wishlist-section :global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) {
  width: max-content;
  position: absolute;
  top: 8px;
  right: 10px; }

.flexRow--wishlist-section .flexCol--shelf-hover {
  flex-wrap: nowrap; }

.flexRow--wishlist-section
.flexCol--shelf-hover
.flexColChild--shelf-hover:first-child {
  margin-right: 25px; }

.flexRow--shelf-image :global(.vtex-wish-list-1-x-outline) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='Grupo_44' data-name='Grupo 44' transform='translate(-298 -93)'%3E%3Cg id='Icons_Shape_heart-alt' data-name='Icons/Shape/heart-alt' transform='translate(298 93)'%3E%3Cpath id='heart-alt' d='M10.012,18.465a1,1,0,0,1-.709-.3l-7.45-7.45a6.27,6.27,0,0,1,8.159-9.48,6.272,6.272,0,0,1,10,5.044,6.225,6.225,0,0,1-1.838,4.435l-7.45,7.45A1.006,1.006,0,0,1,10.012,18.465ZM6.262,2.009a4.281,4.281,0,0,0-3,7.3l6.75,6.739,6.75-6.739h-.079a4.27,4.27,0,0,0-6-6.051,1,1,0,0,1-1.42,0A4.226,4.226,0,0,0,6.262,2.009Z' transform='translate(1.988 2.761)' fill='%23ccc'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A"); }

.flexRow--newsletter-row {
  background: #F6F9FC;
  padding: 30px 0; }
  @media (max-width: 1026px) {
    .flexRow--newsletter-row :global(.vtex-store-components-3-x-container) {
      padding: 0 20px; } }

@media (max-width: 1006px) {
  .flexRowContent--newsletter-row {
    flex-direction: column; } }

:global(.vtex-store-header-2-x-headerStickyRow--main-header-mobile) :global(.vtex-category-menu-2-x-animation) {
  max-width: 450px; }

:global(.vtex-store-header-2-x-headerStickyRow--main-header-mobile) :global(.vtex-category-menu-2-x-sidebarScrim) {
  opacity: 0; }

:global(.vtex-store-header-2-x-headerStickyRow--main-header-mobile) :global(.vtex-category-menu-2-x-sidebar) {
  min-width: 280px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.9) !important; }

:global(.vtex-store-header-2-x-headerStickyRow--main-header-mobile) :global(.vtex-category-menu-2-x-sidebarContent) {
  padding: 0 16px 10px; }

:global(.vtex-store-header-2-x-headerStickyRow--main-header-mobile) :global(.vtex-category-menu-2-x-sidebarItemContainer) {
  color: #000000;
  font-family: "Roboto", sans-serif;
  line-height: 14px;
  font-size: 16px;
  transition: ease-in .22s all;
  padding: 10px 23px; }

:global(.vtex-store-header-2-x-headerStickyRow--main-header-mobile) :global(.vtex-category-menu-2-x-sidebarHeader) {
  justify-content: flex-end;
  margin-right: 17px; }

:global(.vtex-store-header-2-x-headerStickyRow--main-header-mobile) :global(.vtex-category-menu-2-x-sidebarItem) {
  margin-bottom: 5px; }

:global(.vtex-store-header-2-x-headerStickyRow--main-header-mobile) :global(.vtex-category-menu-2-x-sidebarItem) :first-child {
  color: #000000; }

:global(.vtex-category-menu-2-x-sidebarContainer) :global(.vtex-category-menu-2-x-menuIcon) {
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 21px; }

:global(.vtex-category-menu-2-x-sidebarContainer) :global(.vtex-category-menu-2-x-closeIcon) {
  color: #000000;
  transform: scale(1.2); }

:global(.vtex-category-menu-2-x-sidebarContainer) :global(.vtex-category-menu-2-x-menuIcon) :first-child {
  opacity: 0; }

.flexRowContent--shelf-image {
  flex-direction: column;
  position: relative; }

.flexCol--shelf-hover {
  background-color: #F6F9FC;
  opacity: 1;
  height: 100px;
  position: absolute;
  bottom: 20px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  transition: all 0.2s;
  z-index: 1000;
  width: 80%;
  left: 50%;
  transform: translate(-50%); }

@media only screen and (max-width: 1250px) {
  .flexCol--shelf-hover {
    flex-direction: column; } }

@media only screen and (max-width: 1024px) {
  .flexCol--shelf-hover {
    display: none !important; } }

.flexRow--shelf-image:hover .flexCol--shelf-hover {
  display: flex; }

.flexCol--shelf-hover
:global(.vtex-product-quantity-1-x-quantitySelectorTitle) {
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  font-family: "Roboto", sans-serif; }

.flexCol--shelf-hover
:global(.vtex-product-quantity-1-x-quantitySelectorTitle)::after {
  content: ":"; }

.flexCol--shelf-hover :global(.vtex-numeric-stepper-container) {
  border: 1px solid #000000; }

.flexRow--shelf-image :global(.vtex-button) {
  width: 100%;
  transition: all 0.22s; }
  .flexRow--shelf-image :global(.vtex-button) :global(.vtex-button__label) {
    padding: 0; }
  .flexRow--shelf-image :global(.vtex-button) :global(.vtex-add-to-cart-button-0-x-buttonText--qf-shelf) {
    font-size: 12px; }

.flexColChild--shelf-hover .flexRowContent {
  display: flex;
  justify-content: center;
  align-items: center; }

.flexCol--shelf-hover .flexColChild--shelf-hover {
  width: 100%; }

.flexCol--shelf-hover :global(.vtex-store-components-3-x-skuSelectorContainer--qf-custom-sku-selector) {
  flex-direction: row; }
