/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
/* LIST CONTAINER */
.listContainer {
  max-width: 1045px;
  margin: 0 auto 0px auto;
  border-bottom: 2px solid #999;
  justify-content: flex-start; }

@media screen and (min-width: 40em) {
  .container--home {
    padding-left: 1rem;
    padding-right: 1rem; } }

@media screen and (min-width: 20em) {
  .container--home {
    padding-left: 0.5rem;
    padding-right: 0.5rem; } }

.listItem {
  background-color: transparent;
  padding: 4px 0 0 0;
  margin: 4px 28px -2px 0px; }

.listItem :global(.vtex-button) {
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  color: #888;
  text-align: center;
  letter-spacing: 0.05em; }

.listItem :global(.vtex-button__label) {
  padding: 0 !important; }

.listItem :global(.vtex-button):hover {
  background-color: transparent; }

.listItemActive {
  border-bottom: 2px solid #000; }

.listItemActive :global(.vtex-button) {
  border: 0;
  color: #000;
  background-color: transparent;
  font-weight: 600 !important;
  text-decoration: underline; }

@media only screen and (max-width: 634px) {
  .listContainer {
    display: flex;
    flex-direction: column; }
  .listItem {
    padding-left: 8px; }
  .listItemActive {
    border-bottom: unset;
    border-left: 2px solid #000; }
  .listContainer {
    padding-bottom: 16px; } }

/* CONTENT CONTAINER */
.container--product-tabs {
  margin-top: 5px; }

.contentContainer {
  max-width: 1045px;
  margin: 20px auto 0px auto; }
  .contentContainer :global(.vtex-store-components-3-x-productDescriptionText),
  .contentContainer :global(.vtex-rich-text-0-x-paragraph) {
    margin: 0;
    color: #000000;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.87px; }
