/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
.sliderLeftArrow {
  display: flex;
  background: url(assets/svgs/slide-left-arrow.svg) no-repeat center center !important;
  background-size: contain !important;
  width: 20px;
  height: 20px; }

.sliderRightArrow {
  display: flex;
  background: url(assets/svgs/slide-right-arrow.svg) no-repeat center center !important;
  background-size: contain !important;
  width: 20px;
  height: 20px; }

.caretIcon {
  opacity: 0; }

.paginationDotsContainer {
  align-items: center; }

.paginationDot--isActive,
:global(.vtex-shelf-1-x-dot--isActive--qf-shelf-product) {
  background: transparent;
  border: 1px solid #c4c4c4;
  height: 13px !important;
  width: 13px !important; }

.slide {
  margin: 0 10px; }

.sliderLayoutContainer--carousel-promotions {
  background: #000000;
  padding: 15px 0; }

.slideChildrenContainer--carousel-promotions::after {
  content: "/";
  font: normal normal 600 12px/21px "Poppins", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase; }

.slide--carousel-promotions {
  width: 403px !important; }

.sliderTrack--carousel-categories-links :global(.vtex-rich-text-0-x-container--categories) {
  border: none; }

.slide--carousel-categories-links {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-right: 1px solid #333333; }
  @media (max-width: 1026px) {
    .slide--carousel-categories-links {
      margin: 0; } }

.sliderLayoutContainer--shelf-shock-slide {
  flex-direction: column; }

.paginationDotsContainer--shelf-shock-slide {
  margin-top: 15px;
  position: relative; }

.sliderLayoutContainer--carousel-categories-links {
  margin-top: -1px; }

@media only screen and (max-width: 1024px) {
  .sliderLayoutContainer--qf-main-slider {
    padding: 0; } }

.slide--qf-main-slider {
  margin: 0 !important; }

:global(.vtex-flex-layout-0-x-flexRowContent--inspiracao-row) {
  padding: 0; }

/* qf MAIN SLIDER */
/* ---------------------------------------------------------------------------------------- */
.paginationDotsContainer--qf-main-slider {
  margin-bottom: 12px;
  height: 15px;
  padding: 10px 12px;
  background: #fff;
  max-width: max-content;
  margin: 0 auto 20px;
  border-radius: 10px; }

.paginationDot--qf-main-slider {
  margin: 0 !important; }
  .paginationDot--qf-main-slider:not(:last-child) {
    margin-right: 10px !important; }

/* qf SHELF SLIDER  */
/* ---------------------------------------------------------------------------------------------------------------- */
.paginationDot {
  background: transparent;
  width: 10px !important;
  height: 10px !important;
  padding: 0;
  border: none;
  border-radius: 50%;
  border: 1px solid #e3e4e6;
  margin-right: 10px;
  background: #FFFFFF; }
  .paginationDot:hover {
    background: #e3e4e6; }

:global(.vtex-shelf-1-x-dot) {
  background: transparent;
  width: 10px !important;
  height: 10px !important;
  padding: 0;
  border: none;
  border-radius: 50%;
  border: 1px solid #e3e4e6;
  margin-right: 10px;
  background: #FFFFFF; }

:global(.vtex-shelf-1-x-dot--isActive) {
  background: #e3e4e6; }

.paginationDot--isActive {
  background: #e3e4e6; }
  .paginationDot--isActive:hover {
    background: #e3e4e6; }

.paginationDotsContainer--qf-shelf-products-slide {
  margin-bottom: none; }

:global(.vtex-store-components-3-x-imageElementLink--mobile-desktop),
:global(.vtex-store-components-23-x-imageElementLink--mobile-desktop) {
  margin: 10px 10px 20px; }

.imageElementLink--qf-main-slider {
  width: 100%;
  padding: 0; }

.sliderLayoutContainer--novidades-list .imageElement--qf-shelf-products-slide {
  max-height: unset !important; }
