@charset "UTF-8";
/*
0 - 600PX: Phone 
600 - 900px: Table portrait 
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query qf */
/* Colors */
/* Grid breakpoints */
.groupName, .specificationName, .specificationValue {
  /* font-family: 'Roboto', sans-serif; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #7D7D7D; }

/* .specificationValue[data-specification-name="Açúcar"]::after{
  content: "4%";
  right: 0;
  position: absolute;
} */
