.flexRow--deals {
  background-color: #c4c4c4;
  padding: 17px 0px;
}

.stretchChildrenWidth {
  align-items: center;
}

.flexRowContent--qf-brands {
  justify-content: center;
}

.flexRow--qf-brands {
  margin-top: 80px;
}

.flexRow--fc-form {
  max-width: 1126px;
  margin: 0 auto;
  margin-bottom: 135px;
}
.flexCol--fc-form-items :global(.vtex-input__label)::after,
.flexCol--fc-form-items :global(.vtex-dropdown__label)::after {
  content: "*";
  display: inline-block;
  color: #a70505;
}
.flexCol--fc-form-items :global(.vtex-input__label),
.flexCol--fc-form-items :global(.vtex-dropdown__label) {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  color: #666666;
}
.flexCol--fc-form-items :global(.vtex-button) {
  float: right;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  color: $color-white;
  margin-top: 56px;
}
.flexCol--fc-form-items :global(.vtex-input-prefix__group) {
  margin-bottom: 13px;
}

.flexCol--fc-form-items {
  max-width: 694px;
  padding: 29px 15px;
  box-shadow: 0px 1px 2px rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 4px;
}

@media only screen and (max-width: 1025px) {
  .flexRowContent--qf-brands {
    flex-direction: column;
  }

  :global(.vtex-slider-layout-0-x-sliderTrackContainer--novidades-list) {
    margin-bottom: 22px;
  }
}
.flexRowContent--drawer-top-content {
  padding: 0 8px;
}

.flexCol--mobile-links-container {
  border-bottom: none;
}

.flexRow--not-found-row {
  margin: 50px 0;
}

:global(.vtex-wish-list-1-x-outline) {
  // background: url(assets/svgs/wishlist-outline.svg) no-repeat;
  background-repeat: no-repeat;
}

:global(.vtex-dropdown__container){
  background-color: #fff;
  border: 1px solid #aaa;
  height: 32px;
  border-radius: 0;
  @media (max-width: 1025px) {
    height: 40px;
    border: 1px solid #000;
  }
}

:global(.vtex-store-components-3-x-shareButtons) {
  filter: grayscale(1);

  :first-child {
    filter: grayscale(1);
  }

  :not(:first-child) {
    filter: grayscale(1);
  }
}

:global(.vtex-category-menu-2-x-itemContainer--department) {
  color: #000;

  :first-child {
    color: #000;
  }
}
