.sliderLeftArrow {
  display: flex;
  background: url(assets/svgs/slide-left-arrow.svg) no-repeat center center !important;
  background-size: contain !important; 
  width: 20px;
  height: 20px;
}

.sliderRightArrow {
  display: flex;
  background: url(assets/svgs/slide-right-arrow.svg) no-repeat center center !important;
  background-size: contain !important;
  width: 20px;
  height: 20px;
}

.caretIcon {
  opacity: 0;
}

.paginationDotsContainer {
  align-items: center;
}

.paginationDot--isActive,
:global(.vtex-shelf-1-x-dot--isActive--qf-shelf-product) {
  background: transparent;
  border: 1px solid $color-gray4;
  height: 13px !important;
  width: 13px !important;
}
