.menuLinks {
  :global(.b--action-primary) {
    background-color: #ebebeb;
    padding-left: 9px;
    border-left: 1px solid #000;
  }

  :global(.vtex-account_menu-link) {
    padding: 5px;
    margin: 0;
    font: normal normal normal 14px/30px $font-family;
    letter-spacing: 1.4px;
    color: #333333;
  }
}

.menu {
  border-right: none !important;
  margin: 0 65px 0 0 !important;
  min-width: 178px;
  padding-right: 0;
}

.passwordBoxContainer,
.newsletterBoxContainer {
  display: none;
}

.menuLink {
  font: normal normal normal 14px/30px $font-family;
  letter-spacing: 1.4px;
  color: #333333;
  padding: 5px;
  margin: 0;
}

.userImage {
  display: none;
}

.userGreeting {
  font-size: 0;

  &::before {
    content: "Minha conta";
    text-align: center;
    font: normal normal bold 20px/20px $font-family;
    letter-spacing: 2px;
    color: #333333;
    text-transform: uppercase;
  }
}

.boxContainer {
  border: 1px solid $color-black2;
  border-radius: 0;

  &:before {
    content: "DADOS PESSOAIS";
    font: normal normal bold 16px/27px $font-family;
    letter-spacing: 0.32px;
    color: #333333;
    text-transform: uppercase;
    padding-left: 1.3em;
    border: 1px solid #333333;
    margin: -1px;
    padding: 10px 0 10px 40px;
  }
}
.boxContainerFooter {
  border: 1px solid #292929;
  max-height: 36px;
  margin: -1px;
}
.boxContainerFooter :global(.vtex-button) {
  color: $color-white;
  margin-top: 2px;
  transition: ease-in 0.22s all;
  :global(.vtex-button__label) {
    font-size: 0;

    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background: url(assets/svgs/edit.svg) no-repeat;
      background-repeat: no-repeat;
    }
  }
}
.boxContainerFooter :global(.vtex-button):hover {
  background-color: #303030;
}

:global(.vtex-pageHeader__container) {
  padding: 0;
}

:global(.vtex-pageHeader__title) {
  display: none;
  // text-align: left;
  // font: normal normal bold 16px/27px $font-family;
  // letter-spacing: 0.32px;
  // color: #333333;
  // text-transform: uppercase;
}
:global(.vtex-pageHeader-link__container) {
  padding-bottom: 2rem;
}

.dataEntryLabel {
  font: normal normal normal 14px/27px $font-family;
  letter-spacing: 0.28px;
  color: #333333;
}
