.formTitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: $color-black2;
  margin-top: 0;
}

.button :global(.vtex-button) {
  background: $color-black2;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;  
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-white;
  min-height: 42px;
  border-radius: 0;
  border: none;
}

.sendButton :global(.vtex-button) {
  background: $color-black2;
  border-radius: 0;
  width: 126px;
  height: 38px;
  border: none;
}

.content :global(.vtex-input-prefix__group) {
  border-radius: 0;
}

.inputContainerPassword :global(.vtex-login-2-x-eyeSightIcon) {
  color: $color-black2;
}